@model IEnumerable<KisVuzDotNetCore2.Models.Sveden.Korpus>

@{
    ViewData["Title"] = "Оборудование";
    int i = 1;
}

<h2>Оборудование</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>

@foreach (var korpus in Model)
{    
        <a href="#spoiler-@i" data-toggle="collapse" class="btn btn-primary btn-block">@korpus.KorpusName</a>
        <div class="collapse" id="spoiler-@i">
            @{i = i + 1;}
            <div class="well">
                @foreach (var pomeshenie in korpus.Pomesheniya.OrderBy(p=>p.PomeshenieName))
                {
                    <a href="#spoiler-@i" data-toggle="collapse" class="btn btn-primary btn-block">@pomeshenie.PomeshenieName</a>
                    <div class="collapse" id="spoiler-@i">
                        @{i = i + 1;}
                        <div class="well">
                            
                            <table class="table">
                             <thead>
                               <tr>
                                    <th>
                                      Наименование оборудования
                                     </th>
                                    <th>
                                       Количество оборудования
                                    </th>
                                  
                                    <th></th>
                                </tr>
                            </thead>
    <tbody>
@foreach (var item in pomeshenie.OborudovanieList)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OborudovanieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OborudovanieCount)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.OborudovanieId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.OborudovanieId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

               
                        </div>
                    </div>
                }
            </div>
        </div>            
}

