@model TeacherEduProfileDisciplineName

@{
    ViewData["Title"] = "TeacherDisciplineNameDelete";
}

<h2>Удаление преподаваемой дисциплины</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.TeacherFio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisciplineName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisciplineName.DisciplineNameName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduProfile.GetEduProfileFullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduProfile.GetEduProfileFullName)
        </dd>
    </dl>
    
    <form asp-action="TeacherDisciplineNameDelete">
        <input type="hidden" asp-for="TeacherEduProfileDisciplineNameId" />
        <input type="hidden" asp-for="TeacherId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="TeacherDisciplineNamesEdit" asp-route-teacherId="@Model.TeacherId" class="btn btn-primary">Отмена</a>
    </form>
</div>
