@model IEnumerable<KisVuzDotNetCore2.Models.FileModel>

@{
    ViewData["Title"] = "Файлы";
}

<h2>Файлы</h2>
<a asp-action="AddFile" class="btn btn-primary">Загрузить файл</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @String.Format("{0:dd.MM.yyyy}", item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>                
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Выбрать действие <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-action="GetFile" asp-route-id="@item.Id"><span class="glyphicon glyphicon-download"></span> Скачать</a></li>
                        <li><a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a></li>
                        <li><a asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-list-alt"></span> Подробнее</a></li>
                        <li class="divider"></li>
                        <li><a asp-action="RemoveFile" asp-route-id="@item.Id"><span class="text-danger"><span class="glyphicon glyphicon-remove"></span> Удалить</span></a></li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
