@model KisVuzDotNetCore2.Models.Sveden.Volume

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Volume</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FinBFVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinBFVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinBRVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinBRVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinBMVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinBMVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinPVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinPVolume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VolumeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
