@model IEnumerable<KisVuzDotNetCore2.Models.Nir.ArticleAuthor>

@{
    ViewData["Title"] = "Статья - Автор";
}

<h2>Статья - Автор</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorPart)
            </th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article.ArticleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorPart)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticleAuthorId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticleAuthorId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
