@model KisVuzDotNetCore2.Models.Struct.StructSubvision

@{
    ViewData["Title"] = "Удаление структурного подразделения";
}

<h2>Удаление структурного подразделения</h2>

<h3>Вы действительно хотите удалить структурное подразделение?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionType.StructSubvisionTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionFioChief)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionFioChief)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionSite)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionPostChief)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionPostChief.PostName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionSite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionAdress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionAdress.GetAddress)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StructSubvisionId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
