@model KisVuzDotNetCore2.Models.Struct.StructSubvision

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StructSubvision</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionFioChief)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionFioChief)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionPostChief)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionPostChief)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionSite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionSite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionAdress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionAdress.AddressId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionType.StructSubvisionTypeId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StructSubvisionId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
