@model IEnumerable<KisVuzDotNetCore2.Models.Struct.StructSubvision>

@{
    ViewData["Title"] = "Структурные подразделения";
    var structSubvisionTypes = (List<KisVuzDotNetCore2.Models.Struct.StructSubvisionType>) ViewData["StructSubvisionTypes"];
}

<h2>Структурные подразделения</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать</a>
</p>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StructSubvisionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StructSubvisionFioChief)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StructSubvisionSite)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.StructSubvisionAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructSubvisionPostChief)
            </th>
            <th>Положение</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var structSubvisionType in structSubvisionTypes)
    {
        <tr>
            <td colspan="7" class="well text-center"><strong>@structSubvisionType.StructSubvisionTypeName</strong></td>
        </tr>
        @foreach (var item in Model.Where(s=>s.StructSubvisionTypeId== structSubvisionType.StructSubvisionTypeId))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StructSubvisionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StructSubvisionFioChief)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.StructSubvisionSite)">@Html.DisplayFor(modelItem => item.StructSubvisionSite)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StructSubvisionAdress.GetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StructSubvisionPostChief.PostName)
                </td>
                <td>
                    <a href="/@item.StructStandingOrder?.Path">@item.StructStandingOrder?.Name</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StructSubvisionId">Редактировать</a> 
                    <a asp-action="Details" asp-route-id="@item.StructSubvisionId">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.StructSubvisionId"><span class="text-danger"><span class="glyphicon glyphicon-remove"></span>Удалить</span></a>
                </td>
            </tr>
        }
    }

    </tbody>
</table>
