@model IEnumerable<KisVuzDotNetCore2.Models.Struct.StructSubvision>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StructSubvisionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StructSubvisionFioChief)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StructSubvisionPostChief)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StructSubvisionSite)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.StructSubvisionAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructSubvisionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionFioChief)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionPostChief)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionAdress.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionType.StructSubvisionTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StructSubvisionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StructSubvisionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StructSubvisionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
