@model IEnumerable<KisVuzDotNetCore2.Models.Struct.StructSubvision>

@{
    ViewData["Title"] = "Структурные подразделения";
}

<h2>Структурные подразделения</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StructSubvisionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StructSubvisionFioChief)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StructSubvisionSite)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.StructSubvisionAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructSubvisionPostChief)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructSubvisionType)
            </th>
            <th>Положение</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionFioChief)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionAdress.GetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionPostChief.PostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvisionType.StructSubvisionTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructStandingOrder.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StructSubvisionId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.StructSubvisionId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.StructSubvisionId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
