@model KisVuzDotNetCore2.Models.Struct.Telephone

@{
    ViewData["Title"] = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelephoneComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelephoneComment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TelephoneId" class="btn btn-primary" >Редактировать</a>
    <a asp-action="Index"class="btn btn-default">Отмена</a>
</div>
