@model IEnumerable<KisVuzDotNetCore2.Models.Struct.Telephone>

@{
    ViewData["Title"] = "Телефоны";
}

<h2>Телефоны</h2>

<p>
    <a asp-action="Create" class=" btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TelephoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelephoneComment)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneComment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TelephoneId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.TelephoneId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.TelephoneId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
