@model KisVuzDotNetCore2.Models.Education.EduPlanEduVidDeyat

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EduPlanEduVidDeyat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduPlan.EduPlanId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduVidDeyat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduVidDeyat.EduVidDeyatId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EduPlanEduVidDeyatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
