@model IEnumerable<KisVuzDotNetCore2.Models.Common.Contract>

@{
    ViewData["Title"] = "Договоры";
}

<h2>Договоры</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileModelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>            
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.ContractType.ContractTypeName)
            </td>
            <td>
                <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@item.AppUserId" target="_blank">@item.AppUser.GetFullName</a>

                @if (item.AppUser.UserDocuments != null && item.AppUser.UserDocuments.Where(d => d.FileDataTypeId == (int)FileDataTypeEnum.Passport && d.RowStatusId == (int)RowStatusEnum.Confirmed).Count() > 0)
                {
                    <br /><br />
                    <p>
                        Скан-копия паспорта:
                        <br />
                        @foreach ( var passport in item.AppUser.UserDocuments.Where(d => d.FileDataTypeId == (int)FileDataTypeEnum.Passport && d.RowStatusId == (int)RowStatusEnum.Confirmed) )
                        {
                            if (passport.FileModel == null)
                            {
                                <div>-</div>
                            }
                            else
                            {
                                <a href="/@passport.FileModel.Path" target="_blank">Паспорт</a>
                            }
                        }                        
                    </p>
                }

                @if (item.ApplicationForAdmission != null && item.ApplicationForAdmission.RowStatusId == (int)RowStatusEnum.Confirmed)
                {
                    <br />
                    <p>
                        Заявление о приёме:
                        <br />
                        @if (item.ApplicationForAdmission.FileModel == null)
                        {
                            <div>@item.ApplicationForAdmission.ApplicationForAdmissionFullName</div>
                        }
                        else
                        {
                            <a href="/@item.ApplicationForAdmission.FileModel.Path" target="_blank">@item.ApplicationForAdmission.ApplicationForAdmissionFullName</a>
                        }
                    </p>
                }

            </td>
            <td>
                @if(item.FileModel != null)
                {
                    <a href="/@item.FileModel.Path" target="_blank">Открыть</a>
                }
            </td>
            <td>
                @(item.DateStart == null ? "-" : ((DateTime)item.DateStart).ToString("d"))
            </td>
            <td>
                @(item.DateEnd == null ? "-" : ((DateTime)item.DateEnd).ToString("d"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowStatus.RowStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            
            <td>
                @Html.ActionLink("Редактировать",   "Edit",   new { id = item.ContractId }, new { @class = "btn btn-primary btn-block" })
                
                @Html.ActionLink("Удалить", "Delete", new { id = item.ContractId }, new { @class = "btn btn-danger btn-block" })
            </td>
        </tr>
}
    </tbody>
</table>
