@model KisVuzDotNetCore2.Models.Priem.BlankNum

@{
    ViewData["Title"] = "Удалить количество поданных заявлений о приеме?";
}

<h2>Удалить количество поданных заявлений о приеме?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduNapravl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduNapravl.GetEduNapravlFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Och)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Och)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zaoch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zaoch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OchZaoch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OchZaoch)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BlankNumId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
