@model KisVuzDotNetCore2.Models.Struct.Fax

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fax</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FaxValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaxValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaxComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaxComment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FaxId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
