@model IEnumerable<KisVuzDotNetCore2.Models.Struct.Fax>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FaxValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FaxComment)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FaxValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaxComment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FaxId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FaxId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FaxId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
