@model IEnumerable<KisVuzDotNetCore2.Models.Education.EduLevel>

@{
    ViewData["Title"] = "Профили подготовки / направленности / специализации";
}

<h2>Профили подготовки / направленности / специализации</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>

@foreach (var level in Model)
{
    <a href="#spoiler-@level.EduLevelId" data-toggle="collapse" class="btn btn-primary btn-block">
        @level.EduLevelName
    </a>
    <div class="collapse" id="spoiler-@level.EduLevelId">
        <div class="well">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>
                            Профили подготовки / направленности / специализации
                        </th>
                        <th>
                            Действия
                        </th>
                    </tr>
                    @foreach (var ugs in level.EduUgses)
                {
                    foreach (var napravl in ugs.EduNapravls)
                    {
                        <tr>
                            <td colspan="2" class="well text-center text-info">@Html.DisplayFor(modelNapravl => napravl.EduNapravlCode) - @Html.DisplayFor(modelNapravl => napravl.EduNapravlName)</td>
                        </tr>
                    foreach (var profile in napravl.EduProfiles)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelProfile => profile.EduProfileName)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@profile.EduProfileId">Редактировать</a> |
                                <a asp-action="Details" asp-route-id="@profile.EduProfileId">Подробнее</a> |
                                <a asp-action="Delete" asp-route-id="@profile.EduProfileId">Удалить</a>
                            </td>

                        </tr>
                }
            }
        }
                </tbody>
            </table>
        </div>
    </div>
        }

