@model IEnumerable<KisVuzDotNetCore2.Models.Nir.ScienceJournalCitationBase>

@{
    ViewData["Title"] = "Научный журнал - База Цитирования";
}

<h2>Научный журнал - База Цитирования</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CitationBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScienceJournal)
            </th>
            <th>
                Действие
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CitationBase.CitationBaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScienceJournal.ScienceJournalName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScienceJournalCitationBaseId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.ScienceJournalCitationBaseId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
