@model KisVuzDotNetCore2.Models.Education.EduNapravl

@{
    ViewData["Title"] = "Удалить";
}

<h2>Удалить направление подготовки / специальности?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduNapravlCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduNapravlCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduNapravlName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduNapravlName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduUgs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduUgs.EduUgsFullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EduNapravlId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default" >Отмена</a>
    </form>
</div>
