@model KisVuzDotNetCore2.Models.Education.EduNapravl

@{
    ViewData["Title"] = "Направление подготовки";
}

<h2>Направление подготовки / специальность</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduUgs.EduLevel.EduLevelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduUgs.EduLevel.EduLevelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduUgs.EduUgsName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduUgs.EduUgsName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduNapravCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduNapravCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduNapravName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduNapravName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduNapravlStandartDocLink)
        </dt>
        <dd>
            <a href="@Html.DisplayFor(model => model.EduNapravlStandartDocLink)" target="_blank">
                @Html.DisplayFor(model => model.EduNapravlStandartDocLink)
            </a>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EduNapravlId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-default">Назад</a>
</div>
