@model IEnumerable<KisVuzDotNetCore2.Models.Education.EduNapravl>

@{
    ViewData["Title"] = "Направления подготовки / специальности";
}

<h2>Направления подготовки / специальности</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>


@foreach (var eduLevel in (IEnumerable<KisVuzDotNetCore2.Models.Education.EduLevel>)ViewData["EduLevels"])
{
    <hr />
    <h3 class="well text-center">@eduLevel.EduLevelName</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EduNapravlCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EduNapravlName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EduNapravlStandartDocLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EduQualification)
                </th>
                <th>
                    Действия
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eduUgs in ((IEnumerable<KisVuzDotNetCore2.Models.Education.EduUgs>)ViewData["EduUgses"]).Where(l=>l.EduLevelId==eduLevel.EduLevelId))
            {
                <tr>
                    <td colspan="5" class="well text-center text-info">@eduUgs.EduUgsCode - @eduUgs.EduUgsName</td>
                </tr>
                @foreach (var item in Model.Where(n=>n.EduUgsId==eduUgs.EduUgsId))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EduNapravlCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EduNapravlName)
                        </td>                        
                        <td>
                            @if (!String.IsNullOrWhiteSpace(item.EduNapravlStandartDocLink))
                            {
                                <a href="@item.EduNapravlStandartDocLink" target="_blank">Открыть</a>
                            }
                        </td>
                        <td>
                            @item.EduQualification?.EduQualificationName
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EduNapravlId">Редактировать</a> |
                            <a asp-controller="EduProfiles" asp-action="Create" asp-route-id="@item.EduNapravlId">Добавить профиль подготовки</a> |
                            <a asp-action="Details" asp-route-id="@item.EduNapravlId">Подробнее </a> |
                            <a asp-action="Delete" asp-route-id="@item.EduNapravlId">Удалить</a>
                        </td>
                    </tr>
                }
            }
        
        </tbody>
    </table>
}
