@model IEnumerable<KisVuzDotNetCore2.Models.Education.EduNapravl>

@{
    ViewData["Title"] = "Направления подготовки / специальности";
}

<h2>Направления подготовки / специальности</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EduNapravCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduNapravName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduUgs)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.EduNapravlStandartDocLink)
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EduNapravCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduNapravName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduUgs.EduUgsName)
            </td>
            <td>
                @if (!String.IsNullOrWhiteSpace(item.EduNapravlStandartDocLink))
                {
                    <a href="@item.EduNapravlStandartDocLink" target="_blank">Открыть</a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EduNapravlId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.EduNapravlId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EduNapravlId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
