@model IEnumerable<KisVuzDotNetCore2.Models.Nir.NirSpecialEduProfile>

@{
    ViewData["Title"] = "Научная специальность - профиль подготовки";
}

<h2>Научная специальность - профиль подготовки</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EduProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NirSpecial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EduProfile.EduProfileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NirSpecial.NirSpecialId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NirSpecialEduProfileId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.NirSpecialEduProfileId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
