@using Microsoft.AspNetCore.Identity
@using KisVuzDotNetCore2.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IUserProfileRepository UserProfile

@{
    int? numUnreadMessages = UserProfile.GetUnreadMessages(User.Identity.Name);
    string userId = UserManager.GetUserId(User);
}

<ul class="nav navbar-nav navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.FindByNameAsync(User.Identity.Name);

        <!-- Выпадающий список -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @currentUser.GetFullName @if (numUnreadMessages>0) { <span class="badge alert-info">@numUnreadMessages</span> } <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="UserProfile" asp-action="Index" asp-route-id="@userId" title="Профиль пользователя"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Профиль</a></li>
                <li><a asp-controller="Qualifications" asp-action="Index" asp-route-id="@userId" title="Квалификация пользователя"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Квалификация</a></li>
                <li><a asp-controller="RefresherCourses" asp-action="Index" asp-route-id="@userId" title="Сведения о повышении квалификации пользователя"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Повышение квалификации</a></li>
                <li><a asp-controller="ProfessionalRetrainings" asp-action="Index" asp-route-id="@userId" title="Сведения о профессиональной переподготовке пользователя"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Профессиональная переподготовка</a></li>

                <!-- Выпадающий список -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Научная деятельность <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="UserProfile" asp-action="Articles">Научные статьи</a></li>
                        <li><a asp-controller="UserProfile" asp-action="Patents">Патенты и свидетельства</a></li>
                        <li><a asp-controller="UserProfile" asp-action="Monografs">Монографии</a></li>
                    </ul>
                </li>

                <li><a asp-controller="UserWorks" asp-action="Index" title="Загрузка работ пользователя (отчеты, курсовые и пр.)"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Работы пользователя</a></li>
                <li><a asp-controller="UserAchievments" asp-action="Index" title="Иные достижения пользователя (выступления, участие в мероприятиях и пр.)"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Иные достижения</a></li>
                <li><a asp-controller="UserAccountExternals" asp-action="Index" title="Внешние ресурсы пользователя (социальные и научные сети, мессенджеры, базы цитирования)"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Внешние ресурсы</a></li>

                <li role="separator" class="divider"></li>
                <li>
                    <a asp-controller="UserMessages" asp-action="Index" title="Сообщения пользователя">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        @if (numUnreadMessages > 0)
                        {
                            <strong>Сообщения</strong> <span class="badge alert-danger">@numUnreadMessages</span>
                        }
                        else
                        {
                            <text>Сообщения</text>
                        }
                    </a>
                </li>
                <li>
                    <a asp-controller="MessagesFromAppUserToStudentGroups" asp-action="Index" title="Сообщения для учебных групп">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        Сообщения группе
                    </a>
                </li>

                <!-- Выпадающий список -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Техподдержка <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="UserProfile" asp-action="ScienceJournalAddingClaims">Заявки на добавление в справочник научных журналов</a></li>
                    </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="Account" asp-action="Logout" title="Выйти"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Выйти</a></li>
            </ul>
        </li>

    }
    else
    {
        <li><a asp-area="" asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Войти</a></li>
    }
</ul>
