@model IEnumerable<KisVuzDotNetCore2.Models.Abitur.ApplicationForAdmission>

@{
    ViewData["Title"] = "Заявления о приёме";
}

<h2>Заявления о приёме</h2>

<div class="panel panel-default">
    <div class="panel-heading">Фильтр</div>
    <div class="panel-body">
        <form class="form-inline" asp-action="Index">
            <div class="form-group">
                <label for="FilterLastNameFragment">Фамилия (фрагмент)</label>
                <input type="text" name="FilterLastNameFragment" value="@ViewBag.FilterAndSortModel.FilterLastNameFragment" class="form-control" id="FilterLastNameFragment" placeholder="Все абитуриенты">
            </div>
            <div class="form-group">
                <label for="eduFormId">Форма обучения</label>
                <select name="eduFormId" class="form-control" asp-items="ViewBag.EduForms">
                    <option>Все формы обучения</option>
                </select>
            </div>
            <div class="form-group">
                <label for="eduProfileId">Профиль подготовки</label>
                <select name="eduProfileId" class="form-control" asp-items="ViewBag.EduProfiles">
                    <option>Все профили подготовки</option>
                </select>
            </div>            
            <div class="form-group">
                <label for="quotaTypeId">Тип квоты на выделение мест для обучения</label>
                <select name="quotaTypeId" class="form-control" asp-items="ViewBag.QuotaTypes">
                    <option>Все типы квот</option>
                </select>
            </div>
            <div class="form-group">
                <label for="RowStatusId">Статус записи</label>
                <select name="RowStatusId" class="form-control" asp-items="ViewBag.RowStatuses">
                    <option>Все статусы</option>
                </select>
            </div>

            <input type="hidden" name="isRequestDataImmediately" value="true" />
            <button type="submit" class="btn btn-default">Применить фильтр</button>
        </form>
    </div>

    <p>
        <a asp-action="Create" class="btn btn-primary">Добавить</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AbiturientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EduFormId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EduProfileId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuotaTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriorityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileModelId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RowStatusId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remark)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNumber)
                    </td>
                    <td>
                        <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@item.Abiturient.AppUserId" target="_blank">@item.Abiturient.AbiturientFioBirthdayEmail</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EduForm.EduFormName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EduProfile.GetEduProfileFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuotaType.QuotaTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriorityId)
                    </td>
                    <td>
                        @if (item.FileModel != null)
                        {
                            <a href="/@item.FileModel.Path" target="_blank">Открыть</a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RowStatus.RowStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.ApplicationForAdmissionId }, new { @class = "btn btn-primary btn-block" })

                        @Html.ActionLink("Удалить", "Delete", new { id = item.ApplicationForAdmissionId }, new { @class = "btn btn-danger btn-block" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>