@model KisVuzDotNetCore2.Models.Nir.ScienceJournal

@{
    ViewData["Title"] = "Удалить сведения о научном журнале?";
}

<h2>Удалить сведения о научном журнале?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScienceJournalName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScienceJournalName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsVak)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsVak)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsZarubejn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsZarubejn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScienceJournalCitationBases)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScienceJournalCitationBases)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ELibraryLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ELibraryLink)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="ScienceJournalId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index"class="btn btn-primary">Отмена</a>
    </form>
</div>
