@model KisVuzDotNetCore2.Models.Education.Discipline

@{
    ViewData["Title"] = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisciplineCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisciplineCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisciplineName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisciplineName.DisciplineNameName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-BlokDisciplChastId="@ViewBag.BlokDisciplChastId" asp-route-id="@Model.DisciplineId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" asp-route-BlokDisciplChastId="@ViewBag.BlokDisciplChastId" class="btn btn-default">Отмена</a>
</div>
