@model IEnumerable<KisVuzDotNetCore2.Models.Education.EduProgram>

@{
    ViewData["Title"] = "Образовательные программы";
}

<h2>Образовательные программы</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EduProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduProgramPodg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduProgramEduForms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduProgramEduYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUtverjd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdopt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsingElAndDistEduTech)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EduProfile.GetEduProfileFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduProgramPodg.EduProgramPodgName)
            </td>
            <td>
                <ul>
                    @foreach (var eduProgramEduForm in item.EduProgramEduForms)
                    {
                        <li>@eduProgramEduForm.EduForm?.EduFormName</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var eduProgramEduYear in item.EduProgramEduYears)
                    {
                        <li>@eduProgramEduYear.EduYear?.EduYearName</li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUtverjd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdopt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsingElAndDistEduTech)
            </td>
            <td>
                @if (item.FileModel?.Path != null)
                {
                    <a href="/@item.FileModel?.Path">Открыть</a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EduProgramId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.EduProgramId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.EduProgramId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
