@model KisVuzDotNetCore2.Models.Education.BlokDiscipl

@{
    ViewData["Title"] = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlokDisciplName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlokDisciplName.BlokDisciplNameName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduPlan.EduPlanDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BlokDisciplId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-default">Отмена</a>
</div>
