@model IEnumerable<KisVuzDotNetCore2.Models.FileDataTypeGroup>

@{
    ViewData["Title"] = "Группы типов содержимого файлов";
}

<h2>Группы типов содержимого файлов</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FileDataTypeGroupName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileDataTypeGroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FileDataTypeGroupId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.FileDataTypeGroupId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.FileDataTypeGroupId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
