@model KisVuzDotNetCore2.Models.Struct.StructUniversity

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StructUniversity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructUniversityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructUniversityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExistenceOfFilials)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExistenceOfFilials)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingRegime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingRegime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingSchedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingSchedule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.AddressId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StructUniversityId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
