@model KisVuzDotNetCore2.Models.Nir.Patent

@{
    ViewData["Title"] = "Добавление (редактирование) патента (свидетельства)";
}

<h2>Добавление (редактирование) патента (свидетельства)</h2>

<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateOrEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatentVid" class="control-label"></label>
                <select asp-for="PatentVidId" class="form-control" asp-items="ViewBag.PatentVids"></select>
            </div>
            <div class="form-group">
                <label asp-for="PatentNumber" class="control-label"></label>
                <input asp-for="PatentNumber" class="form-control" />
                <span asp-validation-for="PatentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatentName" class="control-label"></label>
                <input asp-for="PatentName" class="form-control" />
                <span asp-validation-for="PatentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <select asp-for="YearId" class="form-control" asp-items="ViewBag.Years">
                    <option value="0">Выберите год публикации</option>
                </select>
                <span asp-validation-for="YearId" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="IsACHII"> Принадлежит АЧИИ
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="IsZarubejn"> Зарубежный патент
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Авторы</label>

                <div class="row">
                    <div class="col-md-9">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input name="AuthorFilter" value="@ViewBag.AuthorFilter" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.ApplyAuthorFilter" value="Найти" class="btn btn-primary btn-block form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <select name="AuthorIdAdd" class="form-control" asp-items="ViewBag.Authors">
                                    <option value="0">Выберите автора и нажмите кнопку "Добавить"</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input name="AuthorPart" value="0,5" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.AddingAuthor" value="Добавить" class="btn btn-primary btn-block form-control" />
                    </div>
                </div>

                <br />
                <label class="control-label">Добавленные авторы</label>
                <ul class="list-group">
                    @if (Model.PatentAuthors == null || Model.PatentAuthors.Count == 0)
                    {
                        <li class="list-group-item text-danger">
                            Авторы не добавлены
                        </li>
                    }
                    else
                    {
                        foreach (var patentAuthor in Model.PatentAuthors)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">
                                        @patentAuthor.Author.AuthorName
                                    </div>
                                    <div class="col-md-2">
                                        @patentAuthor.AuthorPart.ToString("N")
                                    </div>
                                    <div class="col-md-2">
                                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.RemovingAuthor" asp-route-AuthorIdRemove="@patentAuthor.AuthorId" value="Удалить" class="btn btn-danger btn-block" />
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <hr>
            <div class="form-group">
                <label asp-for="PatentOwner" class="control-label"></label>
                <input asp-for="PatentOwner" class="form-control" />
                <span asp-validation-for="PatentOwner" class="text-danger"></span>
            </div>
            <hr>
            <div class="form-group">
                <label class="control-label">Список научных специальностей</label>
                <div class="row">
                    <div class="col-md-9">
                        <select name="NirSpecialIdAdd" class="form-control" asp-items="ViewBag.NirSpecials">
                            <option value="0">Выберите научную специальность и нажмите кнопку "Добавить"</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.AddingNirSpecial" value="Добавить" class="btn btn-primary btn-block form-control" />
                    </div>
                </div>

                <br />
                <label class="control-label">Добавленные научные специальности</label>
                <ul class="list-group">
                    @if (Model.PatentNirSpecials == null || Model.PatentNirSpecials.Count == 0)
                    {
                        <li class="list-group-item text-danger">
                            Научные специальности не добавлены
                        </li>
                    }
                    else
                    {
                        foreach (var patentNirSpecial in Model.PatentNirSpecials)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        @patentNirSpecial.NirSpecial.NirSpecialName
                                    </div>
                                    <div class="col-md-3">
                                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.RemovingNirSpecial" asp-route-NirSpecialIdRemove="@patentNirSpecial.NirSpecialId" value="Удалить" class="btn btn-danger btn-block" />
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label">Список тем НИР</label>
                <div class="row">
                    <div class="col-md-9">
                        <select name="NirTemaIdAdd" class="form-control" asp-items="ViewBag.NirTemas">
                            <option value="0">Выберите тему НИР и нажмите кнопку "Добавить"</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.AddingNirTema" value="Добавить" class="btn btn-primary btn-block form-control" />
                    </div>
                </div>

                <br />
                <label class="control-label">Добавленные темы НИР</label>
                <ul class="list-group">
                    @if (Model.PatentNirTemas == null || Model.PatentNirTemas.Count == 0)
                    {
                        <li class="list-group-item text-danger">
                            Темы НИР не добавлены
                        </li>
                    }
                    else
                    {
                        foreach (var patentNirTema in Model.PatentNirTemas)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        @patentNirTema.NirTema.NirTemaName
                                    </div>
                                    <div class="col-md-3">
                                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.RemovingNirTema" asp-route-NirTemaIdRemove="@patentNirTema.NirTemaId" value="Удалить" class="btn btn-danger btn-block" />
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <hr>
            <div class="form-group">
                <label asp-for="FileModelId" class="control-label"></label>
                @if (Model.FileModel != null)
                {
                    <br />
                    <label class="control-label">
                        <a href="/@Model.FileModel.Path">@Model.FileModel.FileName</a>
                    </label>
                    <br />
                    <label class="control-label">
                        Для замены выберите новый файл
                    </label>
                }

                <input type="file" name="uploadedFile" class="form-control" />
                <span asp-validation-for="FileModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="PatentId" value="@Model.PatentId" />
                <input type="hidden" asp-for="FileModelId" />
                <input type="hidden" asp-for="RowStatusId" />
                <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.Saving" value="Сохранить" class="btn btn-primary" />
                <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.Canceling" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
