@model KisVuzDotNetCore2.Models.UchPosobiya.UchPosobie

@{
    ViewData["Title"] = "Удалить пособие";
}

<h2>Удалить пособие</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GodIzdaniya)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GodIzdaniya)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UchPosobieName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UchPosobieName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BiblOpisanie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BiblOpisanie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileModel.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UchPosobieFormaIzdaniya)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UchPosobieFormaIzdaniya.UchPosobieFormaIzdaniyaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UchPosobieId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-default">Отменить</a>
    </form>
</div>
