@model KisVuzDotNetCore2.Models.Users.ProfessionalRetraining

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Профессиональная переподготовка</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.GetFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalRetrainingDiplomRegNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalRetrainingDiplomRegNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalRetrainingDiplomNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalRetrainingDiplomNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalRetrainingProgramName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalRetrainingProgramName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalRetrainingHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalRetrainingHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalRetrainingCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalRetrainingCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalRetrainingInstitition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalRetrainingInstitition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalRetrainingDateStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalRetrainingDateStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalRetrainingDateFinish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalRetrainingDateFinish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalRetrainingDateIssue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalRetrainingDateIssue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalRetrainingFile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfessionalRetrainingFile.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProfessionalRetrainingId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
