
@{
    ViewData["Title"] = "Учебные планы, рабочие программы дисциплин (модулей), практик";
    int spoilerCounter = 1;
    var eduLevels=(List<EduLevel>)ViewData["eduLevels"];
}

<h2>Учебные планы, рабочие программы дисциплин (модулей), практик</h2>

@foreach (var eduLevel in eduLevels)
{
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">@eduLevel.EduLevelName</a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        <div class="well">
            @{spoilerCounter++;}
            @foreach (var ugs in eduLevel.EduUgses)
            {
                foreach (var eduNapravl in ugs.EduNapravls)
                {
                    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">@eduNapravl.EduNapravlCode - @eduNapravl.EduNapravlName</a>
                    <div class="collapse" id="spoiler-@spoilerCounter">
                        <div class="well">
                            @{spoilerCounter++;}
                            @foreach (var eduProfile in eduNapravl.EduProfiles)
                            {
                                <strong>@eduProfile.EduProfileName</strong>
                                <ul>
                                    @if (eduProfile.EduPlans.Count == 0)
                                    {
                                        <li>Учебные планы отсутствуют</li>
                                    }
                                    @if(eduProfile.EduPlans.Count>1)
                                    {
                                        eduProfile.EduPlans = eduProfile.EduPlans.Where(p=>p.EduPlanEduYearBeginningTrainings.Count>0).OrderByDescending(p => p.EduPlanEduYearBeginningTrainings[0].EduYearBeginningTraining.EduYearBeginningTrainingName).ToList();
                                    }
                                    @foreach (var eduPlan in eduProfile.EduPlans)
                                    {
                                        <li>
                                            <a asp-controller="EduPlans" asp-action="Preview" asp-route-id="@eduPlan.EduPlanId">
                                                Форма обучения: @eduPlan.EduForm?.EduFormName.
                                                Годы начала подготовки:
                                                @foreach (var yearBT in eduPlan.EduPlanEduYearBeginningTrainings)
                                                {
                                                    <span>@yearBT.EduYearBeginningTraining.EduYearBeginningTrainingName</span>
                                                }
                                            </a>
                                        </li>                                        
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}