@model UchPosobiyaViewModel

@{
    ViewData["Title"] = "Учебные пособия";
    int Number = 0;
}


<h2>Учебные пособия, изданные в образовательной организации</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Фильтр учебных пособий</h3>
    </div>
    <div class="panel-body">
        <form asp-action="UchPosobiesSobstv" class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <label asp-for="@Model.UchPosobieFilterModel.GodIzdaniya">Год издания: </label>
                <input asp-for="@Model.UchPosobieFilterModel.GodIzdaniya" type="text" class="form-control" placeholder="Введите год издания">
            </div>
            <div class="form-group">
                <label asp-for="@Model.UchPosobieFilterModel.BiblFragment">Фрагмент библ. описания: </label>
                <input asp-for="@Model.UchPosobieFilterModel.BiblFragment" type="text" class="form-control" placeholder="Введите фрагмент библиографического описания">
            </div>
            <button type="submit" class="btn btn-default">Поиск</button>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>№ п.п.</th>
            <th>
                Наименование учебного пособия
            </th>
            <th>
                Библиографическое описание
            </th>
            <th>
                pdf файл пособия
            </th>
            <th>
                Год издания
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UchPosobiya.OrderBy(m => m.UchPosobieName))
        {
            Number++;
            <tr>
                <td>
                    @Number
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UchPosobieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BiblOpisanie)
                </td>
                <td>
                    <a href="/@item.FileModel.Path">Открыть</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GodIzdaniya)
                </td>                           
            </tr>
        }
    </tbody>
</table>