@model KisVuzDotNetCore2.Models.Education.EduAccred

@{
    ViewData["Title"] = "Удаление свидетельства о гос. аккредитации";
}

<h2>Удаление свидетельства о государственной аккредитации</h2>

<h3>Вы действительно хотите удалить свидетельство о государственной аккредитации?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduAccredNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduAccredNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduAccredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduAccredDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduAccredDateExpiration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduAccredDateExpiration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduAccredFile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduAccredFile.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EduAccredId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
