@model IEnumerable<KisVuzDotNetCore2.Models.Education.EduPlanEduYearBeginningTraining>

@{
    ViewData["Title"] = "Год начала подготовки по учебному плану";
}

<h2>Год начала подготовки по учебному плану</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EduPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduYearBeginningTraining)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EduPlan.EduPlanDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduYearBeginningTraining.EduYearBeginningTrainingName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EduPlanEduYearBeginningTrainingId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.EduPlanEduYearBeginningTrainingId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.EduPlanEduYearBeginningTrainingId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
