@model KisVuzDotNetCore2.Models.Education.EduChislen

@{
    ViewData["Title"] = "Удалить  информацию о численности обучающихся?";
}

<h2>Удалить  информацию о численности обучающихся?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduProfile.EduProfileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduProfile.GetEduProfileFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduForm.EduFormName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduForm.EduFormName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberBFpriem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberBFpriem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberBRpriem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberBRpriem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberBMpriem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberBMpriem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberPpriem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberPpriem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberInostr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberInostr)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EduChislenId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
