@model IEnumerable<KisVuzDotNetCore2.Models.Education.EduChislen>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumberBFpriem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberBRpriem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberBMpriem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberPpriem)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.EduForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduProfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberBFpriem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberBRpriem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberBMpriem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPpriem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduForm.EduFormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduProfile.EduProfileId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EduChislenId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EduChislenId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EduChislenId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
