@model IEnumerable<KisVuzDotNetCore2.Models.Education.EduChislen>

@{
    ViewData["Title"] = "Численность обучающихся по реализуемым образовательным программам";
}

<h2>Численность обучающихся по реализуемым образовательным программам</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EduProfile.EduProfileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduForm.EduFormName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberBFpriem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberBRpriem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberBMpriem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPpriem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberInostr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EduProfile.GetEduProfileFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduForm.EduFormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberBFpriem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberBRpriem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberBMpriem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPpriem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberInostr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EduChislenId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.EduChislenId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.EduChislenId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
