@model IEnumerable<KisVuzDotNetCore2.Models.Sveden.PomeshenieTypepomesheniya>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pomeshenie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PomeshenieType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pomeshenie.PomeshenieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PomeshenieType.PomeshenieTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PomeshenieTypepomesheniyaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PomeshenieTypepomesheniyaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PomeshenieTypepomesheniyaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
