@model IEnumerable<IdentityRole>

<div class="bg-primary panel-body">
    <h4>Роли</h4>
</div>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<table class="table table-condensed table-bordered">
    <tr>
        <th>Id</th>
        <th>Наименование роли</th>
        <th>Пользователи</th>
        <th>Действия</th>
    </tr>
    @if(Model.Count()==0)
    {
        <tr><td colspan="4">Роли отсутствуют</td></tr>
    }
    else
    {
        foreach(var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td identity-role="@role.Id"></td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@role.Id">Редактировать</a>
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>

<a class="btn btn-primary" asp-action="Create">Создать</a>