@model KisVuzDotNetCore2.Models.Abitur.ApplicationForAdmission

@{
    ViewData["Title"] = "Заявление оприёме";    
}

<h2>Редактирование заявления о приёме</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApplicationForAdmissionEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Model.EduProfile?.EduNapravl?.EduUgs?.EduLevel?.EduLevelName</label>
                <label class="control-label">@Model.EduProfile?.EduNapravl?.EduNapravlName</label>
            </div>
            <div class="form-group">
                <label asp-for="EduProfileId" class="control-label"></label>
                <select asp-for="EduProfileId" class="form-control" asp-items="ViewBag.EduProfiles"></select>
            </div>
            <div class="form-group">
                <label asp-for="EduFormId" class="control-label"></label>
                <select asp-for="EduFormId" class="form-control" asp-items="ViewBag.EduForms"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuotaTypeId" class="control-label"></label>
                <select asp-for="QuotaTypeId" class="form-control" asp-items="ViewBag.QuotaTypes"></select>
            </div>
            <div class="form-group">                
                @if (Model.FileModel == null)
                {
                    <label class="control-label text-danger">Скан-копия заявления о приёме не загружена!</label>
                    <label class="control-label">Выберите файл, содержащий скан-копию заявления о приёме: </label>
                }
                else
                {
                    <label class="control-label">Загруженная скан-копия заявления о приёме: </label>
                    <br />
                    <a href="/@Model.FileModel.Path">@Model.FileModel.FileName</a>
                    <br />
                    <label class="control-label">Для замены выберите другой файл: </label>
                }

                <input type="file" name="uploadedFile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ApplicationForAdmissionId" value="@Model.ApplicationForAdmissionId" />
                <input type="hidden" asp-for="CreationDate" value="@DateTime.Now" />
                <input type="hidden" asp-for="AbiturientId" value="@Model.AbiturientId" />
                <input type="hidden" asp-for="PriorityId" value="@Model.PriorityId" />
                <input type="hidden" asp-for="Remark" value="@Model.Remark" />
                <input type="hidden" asp-for="FileModelId" value="@Model.FileModelId" />
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Start" asp-route-selectedTab="applicationForAdmissions" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>