
@{
    ViewData["Title"] = "Кабинет абитуриента";
    var abiturient = (Abiturient)ViewBag.Abiturient;
    var passport = abiturient.AppUser.PassportData;
    var selectedTab = (string)ViewBag.SelectedTab;
    if (string.IsNullOrWhiteSpace(selectedTab))
    {
        selectedTab = "userDocuments";
    }

    string passportDataClass = "";
    string userDocumentsClass = "";
    string abiturientAchievmentsClass = "";
    string admissionPrivilegesClass = "";
    string applicationForAdmissionsClass = "";
    string entranceTestsClass = "";
    string personalInformationClass = "";

    switch (selectedTab)
    {
        case "passportData":
            passportDataClass = "active";
            break;
        case "personalInformation":
            personalInformationClass = "active";
            break;
        case "userDocuments":
            userDocumentsClass = "active";
            break;
        case "abiturientAchievments":
            abiturientAchievmentsClass = "active";
            break;
        case "admissionPrivileges":
            admissionPrivilegesClass = "active";
            break;
        case "applicationForAdmissions":
            applicationForAdmissionsClass = "active";
            break;
        case "entranceTests":
            entranceTestsClass = "active";
            break;
    }

}

<h2>Личный кабинет абитуриента</h2>

@*///////////////////////////////////////////////////////// Замечания //////////////////////////////////////////////////////////////////*@

@{
    // Документы пользователя с замечаниями или возвращённые на доработку
    var userDocumentsWithRemarksOrReturnedForCorrection = abiturient.AppUser.UserDocuments.Where(a => !string.IsNullOrWhiteSpace(a.Remark) ||
      a.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection);
    // Заявления о приёме с замечаниями или возвращённые на доработку
    var applicationForAdmissionsWithRemarksOrReturnedForCorrection = abiturient.ApplicationForAdmissions.Where(a => !string.IsNullOrWhiteSpace(a.Remark) ||
      a.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection);
    // Индивидуальные достижения абитуриента с замечаниями или возвращённые на доработку
    var abiturientIndividualAchievmentsWithRemarksOrReturnedForCorrection = abiturient.AbiturientIndividualAchievments.Where(a => !string.IsNullOrWhiteSpace(a.Remark) ||
      a.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection);
    // Льготы абитуриента с замечаниями или возвращённые на доработку
    var abiturientAdmissionPrivilegesWithRemarksOrReturnedForCorrection = new List<AdmissionPrivilege>();
    foreach (var applicationForAdmission in abiturient.ApplicationForAdmissions)
    {
        foreach (var admissionPrivilege in applicationForAdmission.AdmissionPrivileges)
        {
            if(!string.IsNullOrWhiteSpace(admissionPrivilege.Remark) || admissionPrivilege.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection)
            {
                abiturientAdmissionPrivilegesWithRemarksOrReturnedForCorrection.Add(admissionPrivilege);
            }
        }
    }
 }

@if (userDocumentsWithRemarksOrReturnedForCorrection.Any())
{
    <div class="panel panel-danger">
        <div class="panel-heading">Замечания</div>
        <div class="panel-body">
            <ol>
                @foreach (var userDocument in userDocumentsWithRemarksOrReturnedForCorrection)
                {
                    <li>
                        <a asp-action="ReloadUserDocument" asp-route-userDocumentId="@userDocument.UserDocumentId">@userDocument.FileDataType.FileDataTypeName - @userDocument.Remark</a>
                    </li>
                }
                @foreach (var applicationForAdmission in applicationForAdmissionsWithRemarksOrReturnedForCorrection)
                {
                    <li>
                        <a asp-action="ApplicationForAdmissionEdit" asp-route-applicationForAdmissionId="@applicationForAdmission.ApplicationForAdmissionId">@applicationForAdmission.ApplicationForAdmissionFullName - @applicationForAdmission.Remark</a>
                    </li>
                }
                @foreach (var abiturientIndividualAchievment in abiturientIndividualAchievmentsWithRemarksOrReturnedForCorrection)
                {
                    <li>
                        <a asp-action="AbiturientIndividualAchievmentEdit" asp-route-abiturientIndividualAchievmentId="@abiturientIndividualAchievment.AbiturientIndividualAchievmentId">@abiturientIndividualAchievment.AbiturientIndividualAchievmentType.AbiturientIndividualAchievmentTypeName - @abiturientIndividualAchievment.Remark</a>
                    </li>
                }
                @foreach (var admissionPrivilege in abiturientAdmissionPrivilegesWithRemarksOrReturnedForCorrection)
                {
                    <li>
                        <a asp-action="AbiturientAdmissionPrivilegeEdit" asp-route-abiturientAdmissionPrivilegeId="@admissionPrivilege.AdmissionPrivilegeId">@admissionPrivilege.ApplicationForAdmission.ApplicationForAdmissionFullName - @admissionPrivilege.AdmissionPrivilegeType.AdmissionPrivilegeTypeName - @admissionPrivilege.Remark</a>
                    </li>
                }
            </ol>
        </div>
    </div>
}



@*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@

<ul class="nav nav-tabs" id="myTab">
    <li class="@userDocumentsClass"><a href="#userDocuments" data-toggle="tab">Основные документы</a></li>
    <li class="@passportDataClass"><a href="#passportData" data-toggle="tab">Паспортные данные</a></li>
    <li class="@personalInformationClass"><a href="#personalInformation" data-toggle="tab">Личные сведения</a></li>
    <li class="@applicationForAdmissionsClass"><a href="#applicationForAdmissions" data-toggle="tab">Заявления о приёме</a></li>
    <li class="@abiturientAchievmentsClass"><a href="#abiturientAchievments" data-toggle="tab">Индивидуальные достижения</a></li>
    <li class="@admissionPrivilegesClass"><a href="#abiturientAdmissionPrivileges" data-toggle="tab">Льготы</a></li>
    <li class="@entranceTestsClass"><a href="#entranceTests" data-toggle="tab">Вступительные испытания</a></li>
</ul>

<div class="tab-content">
    @*//////////////////////////////////////////////////////////// Паспортные данные /////////////////////////////////////////////////////*@
    <div class="tab-pane @passportDataClass" id="passportData">
        <br />
        @if (passport.RowStatusId != (int)RowStatusEnum.Confirmed)
        {
            <a asp-action="ChangePassportData" class="btn btn-primary">Изменить паспортные данные</a>
        }

        <table class="table table-hover">
            <tbody>
                <tr>
                    <th colspan="2" class="text-center">Основные сведения</th>
                </tr>
                <tr>
                    <th>Фамилия</th>
                    <td>@passport.AppUser.LastName</td>
                </tr>
                <tr>
                    <th>Имя</th>
                    <td>@passport.AppUser.FirstName</td>
                </tr>
                <tr>
                    <th>Отчество</th>
                    <td>@passport.AppUser.Patronymic</td>
                </tr>
                <tr>
                    <th>Дата рождения</th>
                    <td>@(passport.AppUser.Birthdate == null ? "Не указано" : ((DateTime)passport.AppUser.Birthdate).ToString("d"))</td>
                </tr>
                <tr>
                    <th>Место рождения</th>
                    <td>@passport.MestoRojdeniya</td>
                </tr>
                <tr>
                    <th>Серия паспорта</th>
                    <td>@passport.PassportSeriya</td>
                </tr>
                <tr>
                    <th>Номер паспорта</th>
                    <td>@passport.PassportNumber</td>
                </tr>
                <tr>
                    <th>Кем выдан</th>
                    <td>@passport.KemVidan</td>
                </tr>
                <tr>
                    <th>Когда выдан</th>
                    <td>@passport.DataVidachi.ToString("d")</td>
                </tr>
                <tr>
                    <th>Код подразделения</th>
                    <td>@passport.KodPodrazdeleniya</td>
                </tr>

                <tr>
                    <th colspan="2" class="text-center">Адрес по прописке</th>
                </tr>
                <tr>
                    <th>Индекс</th>
                    <td>@passport.Address?.PostCode</td>
                </tr>
                <tr>
                    <th>Страна</th>
                    <td>@passport.Address?.Country</td>
                </tr>
                <tr>
                    <th>Регион (область, край)</th>
                    <td>@passport.Address?.Region</td>
                </tr>
                <tr>
                    <th>Населённый пункт</th>
                    <td>@passport.Address?.Settlement</td>
                </tr>
                <tr>
                    <th>Улица</th>
                    <td>@passport.Address?.Street</td>
                </tr>
                <tr>
                    <th>Номер дома</th>
                    <td>@passport.Address?.HouseNumber</td>
                </tr>
                @*<tr>
                        <th>Скан-копия паспорта</th>
                        <td><a href="/@passport.UserDocument?.FileModel?.Path" target="_blank">Просмотр</a></td>
                    </tr>*@
            </tbody>
        </table>
    </div>

    @*///////////////////////////////////////////////////////////// Личные сведения /////////////////////////////////////////////////////*@
    <div class="tab-pane @personalInformationClass" id="personalInformation">
        <br />
        <a asp-action="ChangePersonalInformation" class="btn btn-primary">Изменить личные сведения</a>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Пол</th>
                    <td>
                        @if (abiturient.AppUser.GenderId == null)
                        {
                            <a asp-action="ChangePersonalInformation" class="text-danger">Не указано</a>
                        }
                        else
                        {
                            <p>@abiturient.AppUser.Gender.GenderName</p>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Гражданство</th>
                    <td>
                        @if (string.IsNullOrWhiteSpace(abiturient.AppUser.Citizenship))
                        {
                            <a asp-action="ChangePersonalInformation" class="text-danger">Не указано</a>
                        }
                        else
                        {
                            <p>@abiturient.AppUser.Citizenship</p>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Национальность</th>
                    <td>
                        @if (string.IsNullOrWhiteSpace(abiturient.AppUser.Nationality))
                        {
                            <a asp-action="ChangePersonalInformation" class="text-danger">Не указано</a>
                        }
                        else
                        {
                            <p>@abiturient.AppUser.Nationality</p>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Отношение к военной службе</th>
                    <td>
                        @if (abiturient.AppUser.MilitaryServiceStatusId == null)
                        {
                            <a asp-action="ChangePersonalInformation" class="text-danger">Не указано</a>
                        }
                        else
                        {
                            <p>@abiturient.AppUser.MilitaryServiceStatus.MilitaryServiceStatusName</p>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Нуждаюсь в общежитии</th>
                    <td>
                        @(abiturient.IsHostelRequired?"Да":"Нет")
                    </td>
                </tr>
                <tr>
                    <th>Иностранные языки</th>
                    <td>
                        @if (abiturient.AppUser.AppUserForeignLanguages == null || abiturient.AppUser.AppUserForeignLanguages.Count == 0)
                        {
                            <a asp-action="AddAppUserForeignLanguage" class="text-danger">Добавить</a>
                        }
                        else
                        {
                            @foreach (var item in abiturient.AppUser.AppUserForeignLanguages)
                            {
                                <p> @item.ForeignLanguage.ForeignLanguageName </p>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th>Дополнительные контактные данные</th>
                    <td>
                        @if (abiturient.AppUser.FamilyMemberContacts == null || abiturient.AppUser.FamilyMemberContacts.Count == 0)
                        {
                            <a asp-action="AddFamilyMemberContact" class="text-danger">Не указано</a>
                        }
                        else
                        {
                            @foreach (var familyMemberContact in abiturient.AppUser.FamilyMemberContacts)
                            {
                                <p>
                                    @familyMemberContact.GetFamilyMemberContactString
                                </p>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <th>Домашний адрес</th>
                    <td>
                        @if (abiturient.AppUser.AddressCurrentId == null)
                        {
                            <p>@abiturient.AppUser.PassportData.Address.GetAddress</p>
                            <p>(совпадает с адресом по прописке)</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*////////////////////////////////////////////////////////// Загруженные документы ///////////////////////////////////////////////////*@
    <div class="tab-pane @userDocumentsClass" id="userDocuments">
        <br />
        <table class="table table-hover">
            @foreach (var userDocumentGroup in abiturient.AppUser.UserDocuments.GroupBy(ud => ud.FileDataType.FileDataTypeName).OrderBy(g => g.Key))
            {
                <tr>
                    <td>@userDocumentGroup.Key</td>
                    <td>
                        @foreach (var userDocument in userDocumentGroup)
                        {
                            var userDocumentRowStatus = userDocument.GetRowStatusEnum;
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="/@userDocument.FileModel.Path" target="_blank">Открыть</a>
                                </div>
                                <div class="col-md-2">

                                    @if (userDocumentRowStatus == RowStatusEnum.Confirmed)
                                    {
                                        <p class="text-primary">Подтверждено</p>
                                    }
                                    else if (userDocumentRowStatus == RowStatusEnum.ReturnedForCorrection)
                                    {
                                        <p class="text-danger">Возвращено на доработку</p>
                                    }
                                    else
                                    {
                                        <p class="text-warning">На проверке</p>
                                    }
                                </div>
                                <div class="col-md-3">
                                    <p>@userDocument.Remark</p>
                                </div>

                                @if (userDocumentRowStatus != RowStatusEnum.Confirmed)
                                {
                                    <div class="col-md-2">
                                        <a class="btn btn-primary btn-block" asp-action="ReloadUserDocument" asp-route-userDocumentId="@userDocument.UserDocumentId">Заменить</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-danger  btn-block" asp-action="RemoveUserDocument" asp-route-userDocumentId="@userDocument.UserDocumentId">Удалить</a>
                                    </div>
                                }
                            </div>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>


    @*/////////////////////////////////////////////////////////// Заявления о приёме ////////////////////////////////////////////////////*@
    <div class="tab-pane @applicationForAdmissionsClass" id="applicationForAdmissions">
        <br />

        <a asp-action="CreateApplicationForAdmission" class="btn btn-primary">Добавить заявление о приёме</a>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Уровень образования</th>
                    <th>Направление подготовки</th>
                    <th>Направленность</th>
                    <th>Форма обучения</th>
                    <th>Тип квоты</th>
                    <th>Приоритет</th>
                    <th>Скан-копия заявления</th>
                    <th>Статус</th>
                    <th>Замечания</th>
                    <th>Действия</th>
                </tr>
            </thead>
            @foreach (var applicationForAdmission in abiturient.ApplicationForAdmissions.OrderBy(a => a.PriorityId))
            {
                var rowStatus = applicationForAdmission.RowStatus;
                <tr>
                    <td>@applicationForAdmission.EduProfile.EduNapravl.EduUgs.EduLevel.EduLevelName</td>
                    <td>@applicationForAdmission.EduProfile.EduNapravl.GetEduNapravlName</td>
                    <td>@applicationForAdmission.EduProfile.EduProfileName</td>
                    <td>@applicationForAdmission.EduForm.EduFormName</td>
                    <td>@applicationForAdmission.QuotaType.QuotaTypeName</td>
                    <td>@applicationForAdmission.PriorityId</td>
                    <td>
                        @if (applicationForAdmission.FileModel != null)
                        {
                            <a href="/@applicationForAdmission.FileModel.Path">Открыть</a>
                        }
                        else
                        {
                            <a asp-action="ApplicationForAdmissionFileLoad" asp-route-applicationForAdmissionId="@applicationForAdmission.ApplicationForAdmissionId">Загрузить</a>
                        }
                    </td>
                    <td>
                        @if (rowStatus.RowStatusId == (int)RowStatusEnum.Confirmed)
                        {
                            <p class="text-primary">Подтверждено</p>
                        }
                        else if (rowStatus.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection)
                        {
                            <p class="text-danger">Возвращено на доработку</p>
                        }
                        else
                        {
                            <p class="text-warning">На проверке</p>
                        }
                    </td>
                    <td>@applicationForAdmission.Remark</td>
                    <td>
                        @if (rowStatus.RowStatusId != (int)RowStatusEnum.Confirmed)
                        {
                            <a class="btn btn-primary btn-block" asp-action="ApplicationForAdmissionEdit" asp-route-applicationForAdmissionId="@applicationForAdmission.ApplicationForAdmissionId">Редактировать</a>
                            <a class="btn btn-danger  btn-block" asp-action="ApplicationForAdmissionRemove" asp-route-applicationForAdmissionId="@applicationForAdmission.ApplicationForAdmissionId">Удалить</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>

    @*//////////////////////////////////////////////////////// Индивидуальные достижения /////////////////////////////////////////////////*@
    <div class="tab-pane @abiturientAchievmentsClass" id="abiturientAchievments">
        <br />
        <a asp-action="CreateAbiturientIndividualAchievment" class="btn btn-primary">Добавить достижение</a>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Наименование достижения</th>
                    <th>Скан-копия подтверждающего документа</th>
                    <th>Статус</th>
                    <th>Замечания</th>
                    <th>Действия</th>
                </tr>
            </thead>
            @if (abiturient.AbiturientIndividualAchievments == null || abiturient.AbiturientIndividualAchievments.Count() == 0)
            {
                <tr>
                    <td colspan="6" class="text-center">
                        Индивидуальные достижения абитуриента отсутствуют
                    </td>
                </tr>
            }
            else
            {
                foreach (var abiturientIndividualAchievment in abiturient.AbiturientIndividualAchievments.OrderBy(a => a.AbiturientIndividualAchievmentType.Point))
                {
                    var rowStatus = abiturientIndividualAchievment.RowStatus;
                    <tr>
                        <td>@abiturientIndividualAchievment.AbiturientIndividualAchievmentType.AbiturientIndividualAchievmentTypeName</td>
                        <td>
                            @if (abiturientIndividualAchievment.FileModel != null)
                            {
                                <a href="/@abiturientIndividualAchievment.FileModel.Path" target="_blank">Открыть</a>
                            }
                            else
                            {
                                <a asp-action="LoadAbiturientIndividualAchievmentFile"
                                   asp-route-abiturientIndividualAchievmentId="@abiturientIndividualAchievment.AbiturientIndividualAchievmentId">Загрузить</a>
                            }
                        </td>
                        <td>
                            @if (rowStatus.RowStatusId == (int)RowStatusEnum.Confirmed)
                            {
                                <p class="text-primary">Подтверждено</p>
                            }
                            else if (rowStatus.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection)
                            {
                                <p class="text-danger">Возвращено на доработку</p>
                            }
                            else
                            {
                                <p class="text-warning">На проверке</p>
                            }
                        </td>
                        <td>@abiturientIndividualAchievment.Remark</td>
                        <td>
                            @if (rowStatus.RowStatusId != (int)RowStatusEnum.Confirmed)
                            {
                                <a class="btn btn-primary btn-block" asp-action="AbiturientIndividualAchievmentEdit" asp-route-abiturientIndividualAchievmentId="@abiturientIndividualAchievment.AbiturientIndividualAchievmentId">Изменить</a>
                                <a class="btn btn-danger  btn-block" asp-action="AbiturientIndividualAchievmentRemove" asp-route-abiturientIndividualAchievmentId="@abiturientIndividualAchievment.AbiturientIndividualAchievmentId">Удалить</a>
                            }
                        </td>
                    </tr>
                }
            }
        </table>

    </div>

    @*///////////////////////////////////////////////////////////////// Льготы ///////////////////////////////////////////////////////////*@
    <div class="tab-pane @admissionPrivilegesClass" id="abiturientAdmissionPrivileges">
        <br />
        <a asp-action="CreateAbiturientAdmissionPrivilege" class="btn btn-primary">Добавить льготу</a>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Вид льготы</th>
                    <th>Скан-копия подтверждающего документа</th>
                    <th>Статус</th>
                    <th>Замечания</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @if (abiturient.ApplicationForAdmissions == null ||
              abiturient.ApplicationForAdmissions.Count() == 0)
                {
                    <tr>
                        <td colspan="5" class="text-center">
                            Заявления на поступление не оформлены
                        </td>
                    </tr>
                }
                else
                {

                    foreach (var applicationForAdmission in abiturient.ApplicationForAdmissions)
                    {
                        <tr>
                            <td colspan="5" class="">
                                Заявление о приёме: @applicationForAdmission.EduProfile.GetEduProfileFullName
                            </td>
                        </tr>

                        <tr>
                            @if (applicationForAdmission.AdmissionPrivileges == null || applicationForAdmission.AdmissionPrivileges.Count == 0)
                            {
                                <td colspan="5" class="text-center">
                                    Льготы для поступления отсутствуют
                                </td>
                            }
                            else
                            {
                                foreach (var admissionPrivilege in applicationForAdmission.AdmissionPrivileges)
                                {
                                    var rowStatus = admissionPrivilege.RowStatus;
                                    <td>@admissionPrivilege.AdmissionPrivilegeType?.AdmissionPrivilegeTypeName</td>
                                    <td>
                                        @if (admissionPrivilege.FileModel != null)
                                        {
                                            <a href="/@admissionPrivilege.FileModel.Path" target="_blank">Открыть</a>
                                        }
                                        else
                                        {
                                            <a asp-action="LoadAbiturientAdmissionPrivilegeFile"
                                               asp-route-abiturientAdmissionPrivilegeId="@admissionPrivilege.AdmissionPrivilegeId">Загрузить</a>
                                        }
                                    </td>
                                    <td>
                                        @if (rowStatus.RowStatusId == (int)RowStatusEnum.Confirmed)
                                        {
                                            <p class="text-primary">Подтверждено</p>
                                        }
                                        else if (rowStatus.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection)
                                        {
                                            <p class="text-danger">Возвращено на доработку</p>
                                        }
                                        else
                                        {
                                            <p class="text-warning">На проверке</p>
                                        }
                                    </td>
                                    <td>@admissionPrivilege.Remark</td>
                                    <td>
                                        @if (rowStatus.RowStatusId != (int)RowStatusEnum.Confirmed)
                                        {
                                            <a class="btn btn-primary btn-block" asp-action="AbiturientAdmissionPrivilegeEdit" asp-route-abiturientAdmissionPrivilegeId="@admissionPrivilege.AdmissionPrivilegeId">Изменить</a>
                                            <a class="btn btn-danger  btn-block" asp-action="AbiturientAdmissionPrivilegeRemove" asp-route-abiturientAdmissionPrivilegeId="@admissionPrivilege.AdmissionPrivilegeId">Удалить</a>
                                        }
                                    </td>
                                }
                            }

                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

    @*///////////////////////////////////////////////////// Вступительные испытания /////////////////////////////////////////////////////*@
    <div class="tab-pane @entranceTestsClass" id="entranceTests">
        <br />
        <p>Вступительные испытания</p>
        @*@foreach (var entranceTest in abiturient.EntranceTests)
            {
                <p></p>
            }*@
    </div>
</div>