@{
    var priemKolTarget=(IEnumerable<priemKolTarget>)ViewData["priemKolTarget"];
}

<h3>Информация о количестве мест для приёма на обучение по различным условиям поступления</h3>

<table itemprop="priemKolTarget" class="table">
    <thead>
        <tr>
            <th rowspan="2">
                Код
            </th>
            <th rowspan="2">
                Направление подготовки (специальности)
            </th>
            <th rowspan="2">
                Всего
            </th>
            <th colspan="3">
                Места в рамках контрольных цифр приёма (по общему конкурсу)
            </th>
            <th colspan="3">
                Места в пределах особой квоты
            </th>
            <th colspan="3">
                Места в пределах целевой квоты
            </th>
        </tr>
        <tr>
            <th>
                Общий Очное
            </th>
            <th>
                Общий Зачное
            </th>
            <th>
                Общий Очно-заочное
            </th>
            <th>
                Квота Очное
            </th>
            <th>
                Квота Зачное
            </th>
            <th>
                Квота Очно-заочное
            </th>
            <th>
                Целевой Очное
            </th>
            <th>
                Целевой Заочное
            </th>
            <th>
                Целевой Заочное
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in priemKolTarget) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EduNapravl.EduNapravlCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduNapravl.EduNapravlName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vsego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesta_v_ramkahtQuota_och)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesta_v_ramkah_zaoch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesta_v_ramkah_och_zaoch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesta_v_pridelah_osoboi_och)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesta_v_pridelah_osoboi_zaoch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesta_v_pridelah_osoboi_och_zaoch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesta_v_pridelah_celevoi_och)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesta_v_pridelah_celevoi_zaoch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesta_v_pridelah_celevoi_och_zaoch)
            </td>
        </tr>
}
    </tbody>
</table>
