@model KisVuzDotNetCore2.Models.Students.Student

@{
    ViewData["Title"] = "Редактирование";
}

<h2>Редактирование</h2>

<h4>Студент группы @Model.StudentGroup.StudentGroupName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group">
                <label asp-for="StudentFio" class="control-label"></label>
                <input asp-for="StudentFio" class="form-control" />
                <span asp-validation-for="StudentFio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZachetnayaKnijkaNumber" class="control-label"></label>
                <input asp-for="ZachetnayaKnijkaNumber" class="form-control" />
                <span asp-validation-for="ZachetnayaKnijkaNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RezultOsvoenObrazovatProgrId" class="control-label"></label>
                @if (Model.RezultOsvoenObrazovatProgrId != null)
                {
                    <br />
                    <label class="control-label">
                        <a href="/@Model.RezultOsvoenObrazovatProgr.Path">@Model.RezultOsvoenObrazovatProgr.FileName</a>
                    </label>
                    <br />
                    <label class="control-label">
                        Для замены выберите новый файл
                    </label>
                }
                <input type="file" name="uploadFile" class="form-control" />
                <span asp-validation-for="RezultOsvoenObrazovatProgrId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" name="AppUserId" value="@Model.AppUserId" />
                <input type="hidden" name="StudentGroupId" value="@Model.StudentGroupId" />
                <input type="hidden" name="RezultOsvoenObrazovatProgrId" value="@Model.RezultOsvoenObrazovatProgrId" />
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" asp-route-StudentGroupId="@ViewBag.StudentGroupId" asp-route-StructFacultetId="@ViewBag.StructFacultetId" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>