@model List<StudentGroup>

@{
    ViewData["Title"] = "Группы, закреплённые за куратором";
    int spoilerCounter = 0;
}

<h2>Группы, закреплённые за куратором</h2>

@foreach (var studentGroup in Model.OrderBy(g => g.EduProfileId).ThenBy(g => g.EduKursId))
{
    spoilerCounter++;
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">@studentGroup.StudentGroupName</a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        <div class="well">
            <p>
                <a asp-action="CreateStudentWithAccount" asp-route-StudentGroupId="@studentGroup.StudentGroupId" class="btn btn-primary">Создать аккаунт студента и добавить в группу</a>
                <a asp-action="AddStudentFromListExistedUsersNotStudents" asp-route-StudentGroupId="@studentGroup.StudentGroupId" class="btn btn-primary">Добавить в группу зарегистрированного пользователя, не являющегося студентом</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ФИО студента
                        </th>
                        <th>
                            Номер зачетной книжки
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Пароль
                        </th>
                        <th>
                            Карточка абитуриента
                        </th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var student in studentGroup.Students.OrderBy(s => s.StudentFio))
                    {
                        <tr>
                            <td>
                                <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@student.AppUser?.Id">@student.StudentFio</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => student.ZachetnayaKnijkaNumber)
                            </td>
                            <td>@student.AppUser?.Email</td>
                            <td>@student.AppUser?.Password</td>
                            <td>
                                @{
                                    var abiturientCards = student.AppUser?.UserDocuments?.Where(ud => ud.FileDataTypeId == (int)FileDataTypeEnum.AbiturientCard);
                                    if (abiturientCards != null)
                                    {
                                        foreach (var abiturientCard in abiturientCards)
                                        {
                                            <p>
                                                <a href="/@abiturientCard.FileModel.Path" target="_blank">Открыть</a>
                                            </p>                                        
                                        }
                                    }
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@student.StudentId">Редактировать</a> |
                                <a asp-action="Delete" asp-route-id="@student.StudentId">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>    
}

