@model Patent

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление патента (свидетельства)</h2>

<h3>Вы действительно хотите удалить патент (свидетельство)?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatentVid.PatentVidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatentVid.PatentVidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year.YearName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year.YearName)
        </dd>
        
        
    </dl>

    <form asp-action="DeletePatentConfirmed">
        <input type="hidden" asp-for="PatentId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Patents" class="btn btn-default">Отмена</a>
    </form>
</div>