@model AppUser
<div class="bg-primary panel-body">
    <h4>Профиль пользователя @Model.UserName (@Model.Email)</h4>
</div>
<div asp-validation-summary="All" class="text-danger"></div>

@if (Model.AppUserPhoto != null)
{
    <img style='width:150px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.AppUserPhoto))" />
}

<h4>@Model.GetFullName</h4>

@if (Model.Birthdate == null || Model.Birthdate.Equals(new DateTime()))
{
    <i>Не указано</i>
}
else
{
    <p>Дата рождения: @String.Format("{0:dd.MM.yyyy}", Model.Birthdate)</p>
}

<p>Телефон: @Model.PhoneNumber  @if (String.IsNullOrWhiteSpace(Model.PhoneNumber))
{<i>Не указано</i>}</p><br />


@if(Model.EduLevelGroup!=null)
{
    <p>Уровень образования: @Model.EduLevelGroup?.EduLevelGroupName</p>
}


@if(Model.Qualifications?.Count()>0)
{
    <p>Квалификация:</p>
    @foreach(Qualification q in Model.Qualifications)
    {
        <p>@q.NapravlName - @q.QualificationName</p>
    }
}

@if(Model.AcademicDegree!=null)
{
    <p>Ученая степень: @Model.AcademicDegree.AcademicDegreeName</p>
}

@if(Model.AcademicStat!=null)
{
    <p>Ученое звание: @Model.AcademicStat.AcademicStatName</p>
}



@if (ViewBag.CanEdit)
{
    <a asp-action="ChangeProfile" class="btn btn-primary">Изменить профиль</a>
}
