@model AppUser

@{
    var student = (Student)ViewData["student"];
    int spoilerCounter = 0;
}

<div class="page-header">
    <h1>
        @Model.GetFullName

        @if (ViewBag.CanEdit)
        {
            <a asp-action="ChangeProfile" class="btn btn-primary">Изменить профиль</a>
        }
        else
        {
            <a asp-controller="UserMessages" asp-action="Create" asp-route-UserReceiverId="@Model.Id" a class="btn btn-primary">Отправить сообщение</a>
        }
    </h1>
</div>
<div asp-validation-summary="All" class="text-danger"></div>


<div class="row">
    <div class="col-md-2">
        @if (Model.AppUserPhoto != null)
        {
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.AppUserPhoto))" class="img-responsive" />
        }
        else
        {
            <div class="panel panel-default">
                <h4 class="text-center">Нет фото</h4>
            </div>            
        }
    </div>
    <div class="col-md-10">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#common" data-toggle="tab">Общие сведения</a></li>
            <li><a href="#qualification" data-toggle="tab">Образование и квалификация</a></li>
            @if (student != null || (Model.Teachers != null && Model.Teachers.Count > 0))
            {
                <li><a href="#education" data-toggle="tab">Образовательная деятельность</a></li>
            }
            @if (Model.Author != null)
            {
                <li><a href="#uchPosobiya" data-toggle="tab">Учебные пособия</a></li>
            }            
            <li><a href="#science" data-toggle="tab">Научная деятельность</a></li>
            <li><a href="#works" data-toggle="tab">Работы пользователя</a></li>
            <li><a href="#achievments" data-toggle="tab">Иные достижения</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="common">
                <br />

                @if (Model.Birthdate == null || Model.Birthdate.Equals(new DateTime()))
                {
                    <i>Не указано</i>
                }
                else
                {
                    <p><strong>Дата рождения:</strong> @String.Format("{0:dd.MM.yyyy}", Model.Birthdate)</p>
                }

                <p>
                    <strong>Телефон:</strong> @Model.PhoneNumber  @if (String.IsNullOrWhiteSpace(Model.PhoneNumber))
                    {<i>Не указано</i>}
                </p>

                <p><strong>Email:</strong> @Model.Email</p>

                @if ((Model.AppUserStructSubvisions != null && Model.AppUserStructSubvisions.Count > 0) || (Model.Teachers != null && Model.Teachers.Count > 0))
                {
                    <strong>Должность: </strong>
                }
                <ul>
                    @if (Model.AppUserStructSubvisions != null && Model.AppUserStructSubvisions.Count > 0)
                    {
                        @foreach (var appUserStructSubvision in Model.AppUserStructSubvisions)
                        {
                            <li>@appUserStructSubvision.StructSubvision?.StructSubvisionName - @appUserStructSubvision.Post.PostName (@appUserStructSubvision.EmploymentForm?.EmploymentFormName)</li>
                        }
                    }

                    @if (Model.Teachers != null && Model.Teachers.Count > 0)
                    {
                        @foreach (var teacher in Model.Teachers)
                        {
                            if (teacher.TeacherStructKafPostStavka.Count > 0)
                            {
                                @foreach (var teacherStructKafPostStavka in teacher.TeacherStructKafPostStavka)
                                {
                                    <li>@teacherStructKafPostStavka.StructKaf.StructSubvision?.StructSubvisionName - @teacherStructKafPostStavka.Post.PostName (@teacherStructKafPostStavka.EmploymentForm?.EmploymentFormName)</li>
                                }
                            }
                        }
                    }
                </ul>

                @if (Model.Teachers != null && Model.Teachers.Count > 0)
                {                                        
                    @foreach (var teacher in Model.Teachers)
                    {
                        <p><strong>Общий стаж работы: </strong> @teacher.WorkExperienceGeneral</p>
                        <p><strong>Стаж работы педагогического работника по специальности: </strong> @teacher.WorkExperienceSpecialty</p>
                    }
                }

                @if (Model.Teachers != null && Model.Teachers.Count > 0)
                {
                    @foreach (var teacher in Model.Teachers)
                    {
                        if (teacher.StudentGroupsOfKurator.Count > 0)
                        {
                            <strong>Куратор: </strong>
                            <ul>
                                @foreach (var studentGroup in teacher.StudentGroupsOfKurator)
                                {
                                    <li>@studentGroup.StudentGroupName </li>
                                }
                            </ul>
                        }
                    }
                }
            </div>
            <div class="tab-pane" id="qualification">
                <br />

                @if (Model.EduLevelGroup != null)
                {
                    <p><strong>Уровень образования:</strong> @Model.EduLevelGroup?.EduLevelGroupName</p>
                }

                @if (Model.Qualifications?.Count() > 0)
                {
                    <label>Квалификация:</label>
                    @foreach (Qualification q in Model.Qualifications)
                    {
                        <p>@q.NapravlName - @q.QualificationName</p>
                    }
                }

                @if (Model.AcademicDegree != null)
                {
                    <p><strong>Ученая степень:</strong> @Model.AcademicDegree.AcademicDegreeName</p>
                }

                @if (Model.AcademicStat != null)
                {
                    <p><strong>Ученое звание:</strong> @Model.AcademicStat.AcademicStatName</p>
                }

                @if (Model.ProfessionalRetrainings?.Count() > 0)
                {
                    <label>Профессиональная переподготовка:</label>
                    <ol>
                        @foreach (var pr in Model.ProfessionalRetrainings)
                        {
                            <li>
                                <a href="/@pr.ProfessionalRetrainingFile.Path">@pr.GetProfessionalRetrainingString</a>
                            </li>
                        }
                    </ol>
                }

                @if (Model.RefresherCourses?.Count() > 0)
                {
                    <label>Повышение квалификации:</label>
                    <ol>
                        @foreach (var c in Model.RefresherCourses)
                        {
                            <li>
                                <a href="/@c.RefresherCourseFile.Path">@c.GetRefresherCourseString</a>
                            </li>
                        }
                    </ol>
                }

            </div>

            <div class="tab-pane" id="uchPosobiya">
                <br />
                @if (Model.Author == null)
                {
                    <h4>Пользователь не является автором ни одного учебного пособия</h4>
                }
                else
                {
                    <ol>
                        @foreach (var author in Model.Author)
                        {
                            foreach (var uchPosobieAuthor in author.UchPosobieAuthors.OrderBy(u => u.UchPosobie.GodIzdaniya))
                            {
                                <li>
                                    <a href="/@uchPosobieAuthor.UchPosobie.FileModel.Path">@uchPosobieAuthor.UchPosobie.BiblOpisanie</a>
                                </li>
                            }
                        }
                    </ol>
                }
            </div>
            
            <div class="tab-pane" id="education">
                <br />
                @if (student != null)
                {
                    <h4>Студент группы @student.StudentGroup.StudentGroupName</h4>
                    <table class="table table-hover">
                        <tr>
                            <th>Факультет</th>
                            <td>@student.StudentGroup.StructFacultet.StructSubvision.StructSubvisionName</td>
                        </tr>
                        <tr>
                            <th>Направление подготовки (специальность)</th>
                            <td>@student.StudentGroup.EduProfile.EduNapravl.EduNapravlCode - @student.StudentGroup.EduProfile.EduNapravl.EduNapravlName</td>
                        </tr>
                        <tr>
                            <th>Направленность подготовки (профиль / специализация)</th>
                            <td>@student.StudentGroup.EduProfile.EduProfileName</td>
                        </tr>
                        <tr>
                            <th>Форма обучения</th>
                            <td>@student.StudentGroup.EduForm.EduFormName</td>
                        </tr>
                        <tr>
                            <th>Курс</th>
                            <td>@student.StudentGroup.EduKurs.EduKursNumber</td>
                        </tr>
                    </table>

                    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block"><strong>Результаты промежуточной аттестации</strong></a>
                    <div class="collapse" id="spoiler-@spoilerCounter">
                        @{spoilerCounter++;}

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Семестр</th>
                                    <th>Дисциплина</th>
                                    <th>Отметка</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itemG in student.VedomostStudentMarks.OrderBy(m => m.Vedomost.SemestrName.SemestrNameNumber).GroupBy(m => m.Vedomost.EduYear.EduYearName))
                                {
                                    <tr>
                                        <td colspan="3" class="text-center"><strong>@itemG.Key уч. год</strong></td>
                                    </tr>
                                    @foreach (var item in itemG)
                                    {
                                        <tr>
                                            <td>@item.Vedomost.SemestrName.SemestrNameNumber семестр</td>
                                            <td>@item.Vedomost.DisciplineName</td>
                                            <td>@item.VedomostStudentMarkName.VedomostStudentMarkNameName</td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>

                    @if (student.RezultOsvoenObrazovatProgr != null)
                    {
                        <a href="/@student.RezultOsvoenObrazovatProgr.Path" class="btn btn-primary btn-block"><strong>Результаты освоения основной профессиональной образовательной программы</strong></a>
                    }                    
                }
                
                @if (Model.Teachers != null && Model.Teachers.Count() > 0)
                {
                    <p><strong>Преподаваемые дисциплины:</strong></p>
                    foreach (var teacher in Model.Teachers)
                    {
                        <ul>
                            @if(teacher.TeacherEduProfileDisciplineNames != null)
                            {
                                foreach (var teacherEduProfileDisciplineName in teacher.TeacherEduProfileDisciplineNames)
                                {
                                    <li>@teacherEduProfileDisciplineName.DisciplineName.DisciplineNameName</li>
                                }
                            }
                        </ul>
                    }
                }
            </div>

            <div class="tab-pane" id="science">
                <br />
                <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block"><strong>Научные статьи</strong></a>
                <div class="collapse" id="spoiler-@spoilerCounter">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>№ пп</th>
                                <th>Год издания</th>
                                <th>Наименование статьи</th>
                                <th>Наименование журнала (сборника)</th>
                                <th>Зарубежный журнал</th>
                                <th>Входит в перечень ВАК</th>
                                <th>Системы цитирования</th>
                                <th>Авторы (авт.доля, о.е.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var author in Model.Author)
                            {
                                spoilerCounter++;
                                int cnt = 0;
                                foreach (var articleAuthor in author.ArticleAuthors.Where(aa => aa.Article.RowStatusId == (int)RowStatusEnum.Confirmed).OrderByDescending(a => a.Article.YearId))
                                {
                                    cnt++;
                                    <tr>
                                        <td>@cnt</td>
                                        <td>@articleAuthor.Article.YearId</td>
                                        <td>
                                            @if (articleAuthor.Article.FileModel != null)
                                            {
                                                <a href="/@articleAuthor.Article.FileModel.Path">@articleAuthor.Article.ArticleName</a>
                                            }
                                            else
                                            {
                                                <p>@articleAuthor.Article.ArticleName</p>
                                            }
                                        </td>
                                        <td>@articleAuthor.Article.ScienceJournal.ScienceJournalName</td>
                                        <td>
                                            @if (articleAuthor.Article.ScienceJournal.IsZarubejn)
                                            {
                                                <text>да</text>
                                            }
                                            else
                                            {
                                                <text>нет</text>
                                            }
                                        </td>
                                        <td>
                                            @if (articleAuthor.Article.ScienceJournal.IsVak)
                                            {
                                                <text>да</text>
                                            }
                                            else
                                            {
                                                <text>нет</text>
                                            }
                                        </td>
                                        <td>
                                            @foreach (var sc in articleAuthor.Article.ScienceJournal.ScienceJournalCitationBases)
                                            {
                                                <p>@sc.CitationBase.CitationBaseName</p>
                                            }
                                        </td>

                                        <td>
                                            <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block"><strong>Развернуть</strong></a>
                                            <div class="collapse" id="spoiler-@spoilerCounter">
                                                @foreach (var sc in articleAuthor.Article.ArticleAuthors)
                                                {
                                                    spoilerCounter++;
                                                    if (!string.IsNullOrWhiteSpace(sc.Author?.AppUserId))
                                                    {
                                                        <p>
                                                            <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@sc.Author.AppUserId">@sc.Author.AuthorName (@sc.AuthorPart.ToString("N"))</a>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p>@sc.Author.AuthorName (@sc.AuthorPart.ToString("N"))</p>
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                @{spoilerCounter++;}
                <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block"><strong>Патенты и свидетельства</strong></a>
                <div class="collapse" id="spoiler-@spoilerCounter">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>№ пп</th>
                                <th>Год издания</th>
                                <th>Наименование патента(свидетельства)</th>
                                <th>Вид патента</th>
                                <th>Номер патента</th>
                                <th>Авторы (авт.доля, о.е.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var author in Model.Author)
                            {
                                spoilerCounter++;
                                int ctn = 0;
                                foreach (var patentAuthor in author.PatentAuthors.Where(aa => aa.Patent.RowStatusId == (int)RowStatusEnum.Confirmed).OrderByDescending(a => a.Patent.YearId))
                                {
                                    ctn++;
                                    <tr>
                                        <td>@ctn</td>
                                        <td>@patentAuthor.Patent.YearId</td>
                                        <td>
                                            @if (patentAuthor.Patent.FileModel != null)
                                            {
                                                <a href="/@patentAuthor.Patent.FileModel.Path">@patentAuthor.Patent.PatentName</a>
                                            }
                                            else
                                            {
                                                <p>@patentAuthor.Patent.PatentName</p>
                                            }
                                        </td>
                                        <td>@patentAuthor.Patent.PatentVid.PatentVidName</td>
                                        <td>@patentAuthor.Patent.PatentNumber</td>
                                        <td>
                                            <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block"><strong>Развернуть</strong></a>
                                            <div class="collapse" id="spoiler-@spoilerCounter">
                                                @foreach (var sc in patentAuthor.Patent.PatentAuthors)
                                                {
                                                    spoilerCounter++;
                                                    if (!string.IsNullOrWhiteSpace(sc.Author?.AppUserId))
                                                    {
                                                        <p>
                                                            <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@sc.Author.AppUserId">@sc.Author.AuthorName (@sc.AuthorPart.ToString("N"))</a>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p>@sc.Author.AuthorName (@sc.AuthorPart.ToString("N"))</p>
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                @{spoilerCounter++;}
                <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block"><strong>Монографии</strong></a>
                <div class="collapse" id="spoiler-@spoilerCounter">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>№ пп</th>
                                <th>Год издания</th>
                                <th>Наименование монографии</th>
                                <th>Авторы (авт.доля, о.е.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var author in Model.Author)
                            {
                                spoilerCounter++;
                                int ctn = 0;
                                foreach (var monografAuthor in author.MonografAuthors.Where(aa => aa.Monograf.RowStatusId == (int)RowStatusEnum.Confirmed).OrderByDescending(a => a.Monograf.YearId))
                                {
                                    ctn++;
                                    <tr>
                                        <td>@ctn</td>
                                        <td>@monografAuthor.Monograf.YearId</td>
                                        <td>

                                            @if (monografAuthor.Monograf.FileModel != null)
                                            {
                                                <a href="/@monografAuthor.Monograf.FileModel.Path">@monografAuthor.Monograf.MonografName</a>
                                            }
                                            else
                                            {
                                                <p>@monografAuthor.Monograf.MonografName</p>
                                            }
                                        </td>
                                        <td>
                                            <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block"><strong>Развернуть</strong></a>
                                            <div class="collapse" id="spoiler-@spoilerCounter">
                                                @foreach (var sc in monografAuthor.Monograf.MonografAuthors)
                                                {
                                                    spoilerCounter++;
                                                    if (!string.IsNullOrWhiteSpace(sc.Author?.AppUserId))
                                                    {
                                                        <p>
                                                            <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@sc.Author.AppUserId">@sc.Author.AuthorName (@sc.AuthorPart.ToString("N"))</a>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p>@sc.Author.AuthorName (@sc.AuthorPart.ToString("N"))</p>
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="works">
                <br />
                @if (!(Model.UserWorks?.Any() ?? false))
                {
                    <h4 class="text-center">Работы пользователя отсутствуют</h4>
                }
                else
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                @*<th>Дата размещения</th>*@
                                <th>Наименование работы</th>
                                <th>Описание работы</th>
                                <th>Файл</th>
                                <th>Рецензии и оценки</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itemG in Model.UserWorks.OrderByDescending(w => w.DatePosting).GroupBy(w => w.UserWorkType.UserWorkTypeName))
                            {
                                <tr>
                                    <td colspan="5" class="text-center"><strong>@itemG.Key</strong></td>
                                </tr>
                                @foreach (var item in itemG)
                                {
                                    <tr>
                                        @*<td>@item.DatePosting</td>*@
                                        <td>@item.UserWorkName</td>
                                        <td>@item.UserWorkDescription</td>
                                        <td><a href="/@item.FileModel?.Path">Открыть</a></td>
                                        <td>
                                            <a asp-controller="UserWorkReviews" asp-action="Index" asp-route-UserWorkId="@item.UserWorkId">
                                                @item.UserWorkReviews.Count рецензии(ий)
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>

            <div class="tab-pane" id="achievments">
                <br />
                @if (!(Model.UserAchievments?.Any() ?? false))
                {
                    <h4 class="text-center">Сведения о достижениях пользователя отсутствуют</h4>
                }
                else
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Дата</th>                                
                                <th>Описание достижения</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itemG in Model.UserAchievments.OrderByDescending(a => a.Date).GroupBy(a => a.UserAchievmentType.UserAchievmentTypeName))
                            {
                                <tr>
                                    <td colspan="5" class="text-center"><strong>@itemG.Key</strong></td>
                                </tr>
                                @foreach (var item in itemG)
                                {
                                    <tr>
                                        <td>@item.Date.ToShortDateString()</td>                                        
                                        <td>@item.Description</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>

        </div>
    </div>
</div>





<script>
    $(function () {
        $('#myTab a:last').tab('show')
    })
</script>
