@model IEnumerable<KisVuzDotNetCore2.Models.Nir.Patent>

@{
    ViewData["Title"] = "Патенты (свидетельства)";
}

<h2>Патенты (свидетельства)</h2>

<p>
    <a asp-action="CreateOrEditPatent" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatentVid.PatentVidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatentName)
            </th>
            <th>
                Авторы (авт. доля, о.е.)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year.YearName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatentOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsACHII)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsZarubejn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatentNirSpecials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatentNirTemas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowStatus)
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatentVid.PatentVidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatentName)
                </td>
                <td>
                    @foreach (var patentAuthor in item.PatentAuthors)
                    {
                        if (patentAuthor.Author?.AppUserId != null)
                        {
                            <p>
                                <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@patentAuthor.Author.AppUserId">@patentAuthor.Author.AuthorName (@patentAuthor.AuthorPart.ToString("N"))</a>
                            </p>
                        }
                        else
                        {
                            <p>@patentAuthor.Author?.AuthorName (@patentAuthor.AuthorPart.ToString("N"))</p>
                        }

                    }
                </td>
                <td>
                    @Html.DisplayFor(model => item.Year.YearName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatentOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsACHII)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsZarubejn)
                </td>
                <td>
                    @if (item.FileModel != null)
                    {
                        <a href="/@item.FileModel.Path">Открыть</a>
                    }
                    else
                    {
                        <p> - </p>
                    }

                </td>
                <td>
                    @if (item.PatentNirSpecials != null && item.PatentNirSpecials.Count > 0)
                    {
                        foreach (var patentNirSpecial in item.PatentNirSpecials)
                        {
                            <p>@patentNirSpecial.NirSpecial.NirSpecialCode - @patentNirSpecial.NirSpecial.NirSpecialName</p>
                        }
                    }
                    else
                    {
                        <p> - </p>
                    }
                </td>
                <td>
                    @if (item.PatentNirTemas != null && item.PatentNirTemas.Count > 0)
                    {
                        foreach (var patentNirTema in item.PatentNirTemas)
                        {
                            <p>@patentNirTema.NirTema.NirTemaName</p>
                        }
                    }
                    else
                    {
                        <p> - </p>
                    }
                </td>
                <td>
                    @if (item.RowStatus != null)
                    {
                        <p>@item.RowStatus.RowStatusName</p>
                    }
                    else
                    {
                        <p>Черновик</p>
                    }
                </td>
                <td>
                    @if (item.RowStatusId != (int)RowStatusEnum.Confirmed)
                    {
                        <div>
                            <a asp-action="CreateOrEditPatent" asp-route-id="@item.PatentId">Редактировать</a> |
                            <a asp-action="DeletePatent" asp-route-id="@item.PatentId">Удалить</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
