@model IEnumerable<KisVuzDotNetCore2.Models.EduLevelGroup>

@{
    ViewData["Title"] = "Группы уровней образования";
}

<h2>Группы уровней образования</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EduLevelGroupName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EduLevelGroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EduLevelGroupId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.EduLevelGroupId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.EduLevelGroupId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
