@model IEnumerable<KisVuzDotNetCore2.Models.Abitur.EntranceTestRegistrationForm>

@{
    ViewData["Title"] = "Index";
}

<h2>Бланки регистрации абитуриентов на вступительные испытания</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Шифр
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisciplineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentSeriya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntranceTestResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abiturient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LmsEventId)
            </th>
            <th>
                Бланк ответов на экзаменационное задание
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentSeriya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntranceTestResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abiturient.AbiturientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LmsEvent.LmsEventId)
            </td>
            <td>
                <a asp-controller="LmsEventLmsTaskSetAppUserAnswersCheck"
                   asp-action="Index"
                   asp-route-lmsEventId="@item.LmsEvent.LmsEventId"
                   asp-route-UserName="@item.Abiturient.AppUser.UserName"
                   target="_blank">Проверка ответов</a>

                <br />

                <a asp-action="PrintBlankOtvetov" asp-route-id="@item.EntranceTestRegistrationFormId">Печать</a>
                <br />
                <a asp-action="PrintBlankOtvetov" asp-route-id="@item.EntranceTestRegistrationFormId" asp-route-needUpdatePdf="true">Обновить pdf</a>

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EntranceTestRegistrationFormId">Редактировать</a> |
                <a asp-action="Print" asp-route-id="@item.EntranceTestRegistrationFormId" asp-route-needUpdatePdf="true">Обновить pdf</a> |
                <a asp-action="Print" asp-route-id="@item.EntranceTestRegistrationFormId">Печать</a> |
                <a asp-action="Delete" asp-route-id="@item.EntranceTestRegistrationFormId" class="text-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
