@model List<KisVuzDotNetCore2.Models.Abitur.Abiturient>

@{
    ViewData["Title"] = "Абитуриенты";

    bool isUserConsultant = (bool) ViewBag.IsUserConsultant;
}

<h2>Абитуриенты</h2>

<div class="panel panel-default">
    <div class="panel-heading">Фильтр</div>
    <div class="panel-body">
        <form asp-action="Index" class="form-inline">
            <div class="form-group">
                <label for="FilterLastNameFragment">Фамилия (фрагмент)</label>
                <input type="text" name="FilterLastNameFragment" value="@ViewBag.AbiturientsFilterAndSortModel.FilterLastNameFragment" class="form-control" id="FilterLastNameFragment" placeholder="Все абитуриенты">
            </div>
            <div class="form-group">
                <label for="FilterAbiturientStatus">Статус абитуриента</label>
                <select name="FilterAbiturientStatus" class="form-control" asp-items="ViewBag.AbiturientStatuses">
                    <option>Все статусы</option>
                </select>
            </div>
            <div class="form-group">
                <label for="FilterEntranceTestGroupId">№ группы вст. исп.</label>
                <select name="FilterEntranceTestGroupId" class="form-control" asp-items="ViewBag.EntranceTestGroups">
                    <option>Все абитуриенты</option>                    
                </select>
            </div>

            <input type="hidden" name="IsRequestDataImmediately" value="true" />
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Применить фильтр
            </button>

            <a asp-action="FindDuplicates" class="btn btn-primary">Поиск дубликатов</a>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Дата/время регистрации</th>
            <th>ФИО</th>
            <th>Основные документы</th>
            <th>Заявления о приёме</th>
            <th>Заявления о согласии на зачисление</th>
            <th>Индивидуальные достижения</th>
            <th>Льготы</th>
            <th>Договоры</th>
            <th>Статус</th>
            <th>№ группы для прохождения вступ. исп.</th>
            <th>Консультант</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.AbiturientId</td>
                    <td>@item.AppUser.RegisterDateTime</td>
                    <td><a asp-controller="UserProfile" asp-action="Index" asp-route-id="@item.AppUser.Id">@item.AppUser.GetFullName</a></td>
                    @*Основные документы*@
                    <td>
                        @foreach (var userDocument in item.AppUser.UserDocuments.Where(d => d.FileDataTypeId == (int)FileDataTypeEnum.SoglasieNaObrabotkuPersonalnihDannih))
                        {
                            string userDocumentClass = "";
                            if (userDocument.RowStatusId == (int)RowStatusEnum.Confirmed)
                            { userDocumentClass = "text-success"; }
                            else if (userDocument.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection)
                            { userDocumentClass = "text-danger"; }
                            else
                            { userDocumentClass = "text-warning"; }

                            <p>
                                <a class="@userDocumentClass" href="/@userDocument.FileModel.Path" target="_blank">@userDocument.FileModel.Name</a>
                                <a asp-controller="RegisteredAbiturientsUserDocumentsCheck"
                                   asp-action="Edit"
                                   asp-route-id="@userDocument.UserDocumentId"
                                   target="_blank">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </p>
                        }

                        @foreach (var userDocument in item.AppUser.UserDocuments.Where(d => d.FileDataTypeId == (int)FileDataTypeEnum.Passport))
                        {
                            string userDocumentClass = "";
                            if (userDocument.RowStatusId == (int)RowStatusEnum.Confirmed)
                            { userDocumentClass = "text-success"; }
                            else if (userDocument.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection)
                            { userDocumentClass = "text-danger"; }
                            else
                            { userDocumentClass = "text-warning"; }

                            <p>
                                <a class="@userDocumentClass" href="/@userDocument.FileModel.Path" target="_blank">@userDocument.FileModel.Name</a>
                                <a asp-controller="RegisteredAbiturientsUserDocumentsCheck"
                                   asp-action="Edit"
                                   asp-route-id="@userDocument.UserDocumentId"
                                   target="_blank">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </p>
                        }

                        @foreach (var userDocument in item.AppUser.UserDocuments
                       .Where(d => d.FileDataTypeId == (int)FileDataTypeEnum.AttestatObOsnovnomObshemObrazovanii ||
                                   d.FileDataTypeId == (int)FileDataTypeEnum.AttestatOSrednemObshemObrazovanii ||
                                   d.FileDataTypeId == (int)FileDataTypeEnum.DiplomSPO ||
                                   d.FileDataTypeId == (int)FileDataTypeEnum.DiplomVO))
                        {
                            string userDocumentClass = "";
                            if (userDocument.RowStatusId == (int)RowStatusEnum.Confirmed)
                            { userDocumentClass = "text-success"; }
                            else if (userDocument.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection)
                            { userDocumentClass = "text-danger"; }
                            else
                            { userDocumentClass = "text-warning"; }

                            <p>
                                <a class="@userDocumentClass" href="/@userDocument.FileModel.Path" target="_blank">@userDocument.FileDataType.FileDataTypeName</a>
                                <a asp-controller="RegisteredAbiturientsUserDocumentsCheck"
                                   asp-action="Edit"
                                   asp-route-id="@userDocument.UserDocumentId"
                                   target="_blank">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </p>
                        }

                        @foreach (var userDocument in item.AppUser.UserDocuments.Where(d => d.FileDataTypeId == (int)FileDataTypeEnum.AbiturientCard))
                        {
                            string userDocumentClass = "";
                            if (userDocument.RowStatusId == (int)RowStatusEnum.Confirmed)
                            { userDocumentClass = "text-success"; }
                            else if (userDocument.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection)
                            { userDocumentClass = "text-danger"; }
                            else
                            { userDocumentClass = "text-warning"; }

                            <p>
                                <a class="@userDocumentClass" href="/@userDocument.FileModel.Path" target="_blank">@userDocument.FileModel.Name</a>
                                <a asp-controller="RegisteredAbiturientsUserDocumentsCheck"
                                   asp-action="Edit"
                                   asp-route-id="@userDocument.UserDocumentId"
                                   target="_blank">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </p>
                        }

                        @foreach (var userDocument in item.AppUser.UserDocuments.Where(d => d.FileDataTypeId == (int)FileDataTypeEnum.UserDocuments_Photo))
                        {
                            string userDocumentClass = "";
                            if (userDocument.RowStatusId == (int)RowStatusEnum.Confirmed)
                            { userDocumentClass = "text-success"; }
                            else if (userDocument.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection)
                            { userDocumentClass = "text-danger"; }
                            else
                            { userDocumentClass = "text-warning"; }

                            <p>
                                <a class="@userDocumentClass" href="/@userDocument.FileModel.Path" target="_blank">@userDocument.FileModel.Name</a>
                                <a asp-controller="RegisteredAbiturientsUserDocumentsCheck"
                                   asp-action="Edit"
                                   asp-route-id="@userDocument.UserDocumentId"
                                   target="_blank">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </p>
                        }
                    </td>

                    @*Заявления о приёме*@
                    <td>
                        @if(item.ApplicationForAdmissions == null || item.ApplicationForAdmissions.Count == 0)
                        {
                            <p class="text-info">Нет</p>
                        }
                        else
                        {
                            foreach (var applicationForAdmission in item.ApplicationForAdmissions)
                            {
                                string textClass = "";
                                if (applicationForAdmission.RowStatusId == (int)RowStatusEnum.Confirmed) { textClass = "text-success"; }
                                if (applicationForAdmission.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection) { textClass = "text-danger"; }
                                if (applicationForAdmission.RowStatusId == (int)RowStatusEnum.ChangedByUser) { textClass = "text-warning"; }
                                                                
                                
                    <p>
                        @if (applicationForAdmission.FileModel != null)
                        {
                            <a class="@textClass" href="/@applicationForAdmission.FileModel.Path" target="_blank">
                                @applicationForAdmission.ApplicationForAdmissionShortName (приоритет @applicationForAdmission.PriorityId)
                            </a>
                        }
                        else
                        {
                            @applicationForAdmission.ApplicationForAdmissionShortName <text>(приоритет @applicationForAdmission.PriorityId)</text>
                        }

                        <a asp-controller="ApplicationForAdmissions"
                           asp-action="Edit"
                           asp-route-id="@applicationForAdmission.ApplicationForAdmissionId"
                           target="_blank">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </p>
                            }
                        }
                    </td>

                    @*Заявления о согласии на зачисление*@
                    <td>
                        @if(item.ApplicationForAdmissions == null || item.ApplicationForAdmissions.Count == 0)
                        {
                            <p>Нет</p>
                        }
                        else
                        {
                            foreach (var applicationForAdmission in item.ApplicationForAdmissions)
                            {
                                if(applicationForAdmission.ConsentToEnrollments == null || applicationForAdmission.ConsentToEnrollments.Count == 0)
                                {
                                    <p>Нет</p>
                                }
                                else
                                {
                                    foreach (var consentToEnrollment in applicationForAdmission.ConsentToEnrollments)
                                    {
                                        string textClass = "";
                                        if (consentToEnrollment.RowStatusId == (int)RowStatusEnum.Confirmed) { textClass = "text-success"; }
                                        if (consentToEnrollment.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection) { textClass = "text-danger"; }
                                        if (consentToEnrollment.RowStatusId == (int)RowStatusEnum.ChangedByUser) { textClass = "text-warning"; }

                                        <p class="@textClass">
                                            @if(consentToEnrollment.FileModel !=null)
                                            {
                                                <a class="@textClass" href="/@consentToEnrollment.FileModel.Path" target="_blank">
                                                    @consentToEnrollment.ApplicationForAdmission.ApplicationForAdmissionShortName
                                                </a>
                                            }
                                            else
                                            {
                                                @consentToEnrollment.ApplicationForAdmission.ApplicationForAdmissionShortName
                                            }
                                            
                                            <a asp-controller="ConsentToEnrollments"
                                               asp-action="Edit"
                                               asp-route-id="@consentToEnrollment.ConsentToEnrollmentId"
                                               target="_blank">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        </p>
                                    }
                                }                                
                            }
                        }
                    </td>

                    @*Индивидуальные достижения*@
                    <td>
                        @if(item.AbiturientIndividualAchievments == null || item.AbiturientIndividualAchievments.Count == 0)
                        {
                            <p class="text-info">Нет</p>
                        }
                        else
                        {
                            foreach (var abiturientIndividualAchievment in item.AbiturientIndividualAchievments)
                            {
                                string textClass = "";
                                if (abiturientIndividualAchievment.RowStatusId == (int)RowStatusEnum.Confirmed) { textClass = "text-success"; }
                                if (abiturientIndividualAchievment.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection) { textClass = "text-danger"; }
                                if (abiturientIndividualAchievment.RowStatusId == (int)RowStatusEnum.ChangedByUser) { textClass = "text-warning"; }

                                <p class="@textClass">
                                    @if(abiturientIndividualAchievment.FileModel != null)
                                    {
                                        <a class="@textClass" href="/@abiturientIndividualAchievment.FileModel.Path" target="_blank">
                                            @abiturientIndividualAchievment.AbiturientIndividualAchievmentType.AbiturientIndividualAchievmentTypeName
                                        </a>
                                    }
                                    else
                                    {
                                        @abiturientIndividualAchievment.AbiturientIndividualAchievmentType.AbiturientIndividualAchievmentTypeName
                                    }

                                    <a asp-controller="AbiturientIndividualAchievments"
                                       asp-action="Edit"
                                       asp-route-id="@abiturientIndividualAchievment.AbiturientIndividualAchievmentId"
                                       target="_blank">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </p>
                            }
                        }
                    </td>

                    @*Льготы*@
                    <td>
                        @if(item.ApplicationForAdmissions == null || item.ApplicationForAdmissions.Count == 0)
                        {
                            <p>Нет</p>
                        }
                        else
                        {
                            foreach (var applicationForAdmission in item.ApplicationForAdmissions)
                            {
                                if(applicationForAdmission.AdmissionPrivileges == null || applicationForAdmission.AdmissionPrivileges.Count == 0)
                                {
                                    <p>Нет</p>
                                }
                                else
                                {
                                    foreach (var admissionPrivilege in applicationForAdmission.AdmissionPrivileges)
                                    {
                                        string textClass = "";
                                        if (admissionPrivilege.RowStatusId == (int)RowStatusEnum.Confirmed) { textClass = "text-success"; }
                                        if (admissionPrivilege.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection) { textClass = "text-danger"; }
                                        if (admissionPrivilege.RowStatusId == (int)RowStatusEnum.ChangedByUser) { textClass = "text-warning"; }

                                        
                                        <p class="@textClass">
                                            @if (admissionPrivilege.FileModel != null)
                                            {
                                                <a class="@textClass" href="/@admissionPrivilege.FileModel.Path" target="_blank">
                                                    @admissionPrivilege.AdmissionPrivilegeType.AdmissionPrivilegeTypeName
                                                </a>
                                            }
                                            else
                                            {
                                                @admissionPrivilege.AdmissionPrivilegeType.AdmissionPrivilegeTypeName
                                            }

                                            <a asp-controller="AdmissionPrivileges"
                                               asp-action="Edit"
                                               asp-route-id="@admissionPrivilege.AdmissionPrivilegeId"
                                               target="_blank">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        </p>
                                    }
                                }                                
                            }
                        }
                    </td>

                    @*Договоры*@
                    <td>
                        @if(item.ApplicationForAdmissions == null || item.ApplicationForAdmissions.Count == 0)
                        {
                            <p>Нет</p>
                        }
                        else
                        {
                            foreach (var applicationForAdmission in item.ApplicationForAdmissions)
                            {
                                if(applicationForAdmission.Contracts == null || applicationForAdmission.Contracts.Count == 0)
                                {
                                    <p>Нет</p>
                                }
                                else
                                {
                                    foreach (var contract in applicationForAdmission.Contracts)
                                    {
                                        string textClass = "";
                                        if (contract.RowStatusId == (int)RowStatusEnum.Confirmed) { textClass = "text-success"; }
                                        if (contract.RowStatusId == (int)RowStatusEnum.ReturnedForCorrection) { textClass = "text-danger"; }
                                        if (contract.RowStatusId == (int)RowStatusEnum.ChangedByUser) { textClass = "text-warning"; }
                                                                                
                                        <p class="@textClass">
                                            @if (contract.FileModel != null)
                                            {
                                                <a class="@textClass" href="/@contract.FileModel.Path" target="_blank">
                                                    @contract.ContractType.ContractTypeName
                                                </a>
                                            }
                                            else
                                            {
                                                @contract.ContractType.ContractTypeName
                                            }

                                            <a asp-controller="Contracts"
                                               asp-action="Edit"
                                               asp-route-id="@contract.ContractId"
                                               target="_blank">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        </p>
                                    }
                                }                                
                            }
                        }
                    </td>

                    @*Статус*@
                    <td>
                        @item.AbiturientStatus?.AbiturientStatusName
                        <a asp-action="Details"
                           asp-route-userName="@item.AppUser.UserName"
                           asp-route-mode="ChangeAbiturStatus"
                           target="_blank">
                                <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>

                    @*Номер группы для прохождения вступительных испытаний*@
                    <td>
                        @item.EntranceTestGroupId
                        
                        @if(! isUserConsultant)
                        {
                            <a asp-action="Details"
                               asp-route-userName="@item.AppUser.UserName"
                               asp-route-mode="ChangeEntranceTestGroupId"
                               target="_blank">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        }
                        
                    </td>

                    @*Консультант абитуриента*@
                    <td>
                        @{
                            var consultant = item.AppUserAbiturientConsultants?.FirstOrDefault()?.AppUser;
                        }

                        @if (consultant != null)
                        {
                            <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@consultant.Id" target="_blank">@consultant.GetFullName</a>
                        }
                        else
                        {
                            <a asp-action="Details"
                               asp-route-userName="@item.AppUser.UserName"
                               asp-route-mode="ChangeAppUserAbiturientConsultant"
                               class="btn btn-primary">Назначить</a>
                        }
                    </td>

                    @*Действия*@
                    <td>
                        <a asp-action="Details" asp-route-userName="@item.AppUser.UserName" class="btn btn-primary btn-block">Сведения</a>
                        
                        @if(! isUserConsultant)
                        {
                            <a asp-action="Delete"
                               asp-route-userName="@item.AppUser.UserName"
                               class="btn btn-danger  btn-block">
                                Удалить
                            </a>
                        }
                        
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="13" class="text-center text-info"><b>Для поиска абитуриентов выберите условия поиска и нажмите "Применить фильтр"</b></td>
            </tr>
        }

    </tbody>
</table>

