@model KisVuzDotNetCore2.Models.Abitur.Abiturient

@{
    ViewData["Title"] = "Документы абитуриента";
    string mode = (string)ViewBag.Mode;
    int userDocumentId = ViewBag.UserDocumentId != null ? (int)ViewBag.UserDocumentId : 0;
}

<h2>Скан-копии документов, загруженные абитуриентом</h2>

<hr />
<h3>
    <a href="#spoiler-1" data-toggle="collapse" class="btn-link">@Model.AppUser.GetFullName</a>    
</h3>
<div class="collapse" id="spoiler-1">
    <div class="well">
        <div class="row">
            <div class="col-md-2">Дата/время регистрации: </div>
            <div class="col-md-2">@Model.AppUser.RegisterDateTime</div>
        </div>
        <div class="row">
            <div class="col-md-2">Статус абитуриента: </div>
            <div class="col-md-2">@Model.AbiturientStatus.AbiturientStatusName</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">Дата рождения: </div>
            @if (!string.IsNullOrWhiteSpace(Model.AppUser.Birthdate.ToString()))
            {
                <div class="col-md-2">@(((DateTime)Model.AppUser.Birthdate).ToString("d"))</div>
            }
            else
            {
                <div class="col-md-2 text-danger">Не указано</div>
            }
        </div>
        <div class="row">
            <div class="col-md-2">Телефон: </div>
            @if (!string.IsNullOrWhiteSpace(Model.AppUser.PhoneNumber))
            {
                <div class="col-md-2">@Model.AppUser.PhoneNumber</div>
            }
            else
            {
                <div class="col-md-2 text-danger">Не указано</div>
            }
        </div>
        <div class="row">
            <div class="col-md-2">Адрес электронной почты (Email): </div>
            <div class="col-md-2">@Model.AppUser.Email</div>
        </div>
    </div>
</div>




<table class="table table-hover">
    <thead>
        <tr>
            <th>Тип документа</th>
            <th>Файл документа</th>
            <th>Статус</th>
            <th>Замечания</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>

        @{
            var soglasieNaObrabotkuPersonalnihDannih = Model.AppUser.UserDocuments.Where(ud => ud.FileDataTypeId == (int)FileDataTypeEnum.SoglasieNaObrabotkuPersonalnihDannih);

            if (soglasieNaObrabotkuPersonalnihDannih == null || soglasieNaObrabotkuPersonalnihDannih.Count() == 0)
            {
                <tr>
                    <td>
                        Согласие на обработку персональных данных
                    </td>
                    <td class="text-danger">
                        Не загружено!
                    </td>
                </tr>
            }
            else
            {

                foreach (var userDocument in soglasieNaObrabotkuPersonalnihDannih)
                {
                    <tr>
                        <td>Согласие на обработку персональных данных</td>
                        <td><a href="/@userDocument.FileModel.Path" target="_blank">Открыть</a></td>
                        <td>
                            @if (mode == "ChangeRowStatus" && userDocumentId == userDocument.UserDocumentId)
                            {
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select name="RowStatusId" class="form-control" asp-items="ViewBag.RowStatuses">
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" name="userName" value="@Model.AppUser.UserName" />
                                            <input type="hidden" name="mode" value="ChangeRowStatusSave" />
                                            <input type="hidden" name="userDocumentId" value="@userDocument.UserDocumentId" />
                                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                                            <a asp-route-userName="@Model.AppUser.UserName">Отмена</a>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                string rowStatusString = "";
                                string rowStatusClass = "";
                                if (userDocument.RowStatusId == (int?)RowStatusEnum.Confirmed)
                                {
                                    rowStatusString = userDocument.RowStatus.RowStatusName;
                                    rowStatusClass = "text-primary";
                                }
                                else if (userDocument.RowStatusId == (int?)RowStatusEnum.ReturnedForCorrection)
                                {
                                    rowStatusString = userDocument.RowStatus.RowStatusName;
                                    rowStatusClass = "text-info";
                                }
                                else
                                {
                                    rowStatusString = "Не проверено";
                                    rowStatusClass = "text-danger";
                                }
                                <a asp-route-userName="@Model.AppUser.UserName" asp-route-mode="ChangeRowStatus" asp-route-userDocumentId="@userDocument.UserDocumentId" class="@rowStatusClass">@rowStatusString</a>
                            }
                        </td>

                        <td>
                            @if (mode == "ChangeRowRemark" && userDocumentId == userDocument.UserDocumentId)
                            {
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" name="remark" value="@userDocument.Remark" />
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" name="userName" value="@Model.AppUser.UserName" />
                                            <input type="hidden" name="mode" value="ChangeRowRemarkSave" />
                                            <input type="hidden" name="userDocumentId" value="@userDocument.UserDocumentId" />
                                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                                            <a asp-route-userName="@Model.AppUser.UserName">Отмена</a>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                string remark = string.IsNullOrWhiteSpace(userDocument.Remark) ? "Добавить замечание" : userDocument.Remark;
                                <a asp-route-userName="@Model.AppUser.UserName"
                                   asp-route-mode="ChangeRowRemark"
                                   asp-route-userDocumentId="@userDocument.UserDocumentId">@remark</a>
                            }
                        </td>

                        <td>
                            <a asp-route-action="UserDocumentDelete"
                               asp-route-userName="@Model.AppUser.UserName"
                               asp-route-userDocumentId="@userDocument.UserDocumentId" class="btn btn-danger btn-block">Удалить</a>
                        </td>
                    </tr>
                }
            }

        }


        @{
            var educationDocuments = Model.AppUser.UserDocuments.Where(ud => ud.FileDataType.FileDataTypeGroupId == (int)FileDataTypeGroupEnum.EducationDocuments);

            if (educationDocuments == null || educationDocuments.Count() == 0)
            {
                <tr>
                    <td>
                        Документ об образовании
                    </td>
                    <td class="text-danger">
                        Не загружено!
                    </td>
                </tr>
            }
            else
            {

                foreach (var userDocument in educationDocuments)
                {
                    <tr>
                        <td>@userDocument.FileDataType.FileDataTypeName</td>
                        <td><a href="/@userDocument.FileModel.Path" target="_blank">Открыть</a></td>
                        <td>
                            @if (mode == "ChangeRowStatus" && userDocumentId == userDocument.UserDocumentId)
                            {
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select name="RowStatusId" class="form-control" asp-items="ViewBag.RowStatuses">
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" name="userName" value="@Model.AppUser.UserName" />
                                            <input type="hidden" name="mode" value="ChangeRowStatusSave" />
                                            <input type="hidden" name="userDocumentId" value="@userDocument.UserDocumentId" />
                                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                                            <a asp-route-userName="@Model.AppUser.UserName">Отмена</a>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                string rowStatusString = "";
                                string rowStatusClass = "";
                                if (userDocument.RowStatusId == (int?)RowStatusEnum.Confirmed)
                                {
                                    rowStatusString = userDocument.RowStatus.RowStatusName;
                                    rowStatusClass = "text-primary";
                                }
                                else if (userDocument.RowStatusId == (int?)RowStatusEnum.ReturnedForCorrection)
                                {
                                    rowStatusString = userDocument.RowStatus.RowStatusName;
                                    rowStatusClass = "text-info";
                                }
                                else
                                {
                                    rowStatusString = "Не проверено";
                                    rowStatusClass = "text-danger";
                                }
                                <a asp-route-userName="@Model.AppUser.UserName" asp-route-mode="ChangeRowStatus" asp-route-userDocumentId="@userDocument.UserDocumentId" class="@rowStatusClass">@rowStatusString</a>
                            }
                        </td>

                        <td>
                            @if (mode == "ChangeRowRemark" && userDocumentId == userDocument.UserDocumentId)
                            {
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" name="remark" value="@userDocument.Remark" />
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" name="userName" value="@Model.AppUser.UserName" />
                                            <input type="hidden" name="mode" value="ChangeRowRemarkSave" />
                                            <input type="hidden" name="userDocumentId" value="@userDocument.UserDocumentId" />
                                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                                            <a asp-route-userName="@Model.AppUser.UserName">Отмена</a>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                string remark = string.IsNullOrWhiteSpace(userDocument.Remark) ? "Добавить замечание" : userDocument.Remark;
                                <a asp-route-userName="@Model.AppUser.UserName"
                                   asp-route-mode="ChangeRowRemark"
                                   asp-route-userDocumentId="@userDocument.UserDocumentId">@remark</a>
                            }
                        </td>

                        <td>
                            <a asp-route-action="UserDocumentDelete"
                               asp-route-userName="@Model.AppUser.UserName"
                               asp-route-userDocumentId="@userDocument.UserDocumentId" class="btn btn-danger btn-block">Удалить</a>
                        </td>
                    </tr>
                }
            }

        }


        @{
            var passports = Model.AppUser.UserDocuments.Where(ud => ud.FileDataTypeId == (int)FileDataTypeEnum.Passport);

            if (passports == null || passports.Count() == 0)
            {
                <tr>
                    <td>
                        Паспорт
                    </td>
                    <td class="text-danger">
                        Не загружено!
                    </td>
                </tr>
            }
            else
            {

                foreach (var userDocument in passports)
                {
                    <tr>
                        <td>@userDocument.FileDataType.FileDataTypeName</td>
                        <td><a href="/@userDocument.FileModel.Path" target="_blank">Открыть</a></td>
                        <td>
                            @if (mode == "ChangeRowStatus" && userDocumentId == userDocument.UserDocumentId)
                            {
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select name="RowStatusId" class="form-control" asp-items="ViewBag.RowStatuses">
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" name="userName" value="@Model.AppUser.UserName" />
                                            <input type="hidden" name="mode" value="ChangeRowStatusSave" />
                                            <input type="hidden" name="userDocumentId" value="@userDocument.UserDocumentId" />
                                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                                            <a asp-route-userName="@Model.AppUser.UserName">Отмена</a>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                string rowStatusString = "";
                                string rowStatusClass = "";
                                if (userDocument.RowStatusId == (int?)RowStatusEnum.Confirmed)
                                {
                                    rowStatusString = userDocument.RowStatus.RowStatusName;
                                    rowStatusClass = "text-primary";
                                }
                                else if (userDocument.RowStatusId == (int?)RowStatusEnum.ReturnedForCorrection)
                                {
                                    rowStatusString = userDocument.RowStatus.RowStatusName;
                                    rowStatusClass = "text-info";
                                }
                                else
                                {
                                    rowStatusString = "Не проверено";
                                    rowStatusClass = "text-danger";
                                }
                                <a asp-route-userName="@Model.AppUser.UserName" asp-route-mode="ChangeRowStatus" asp-route-userDocumentId="@userDocument.UserDocumentId" class="@rowStatusClass">@rowStatusString</a>
                            }
                        </td>

                        <td>
                            @if (mode == "ChangeRowRemark" && userDocumentId == userDocument.UserDocumentId)
                            {
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" name="remark" value="@userDocument.Remark" />
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" name="userName" value="@Model.AppUser.UserName" />
                                            <input type="hidden" name="mode" value="ChangeRowRemarkSave" />
                                            <input type="hidden" name="userDocumentId" value="@userDocument.UserDocumentId" />
                                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                                            <a asp-route-userName="@Model.AppUser.UserName">Отмена</a>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                string remark = string.IsNullOrWhiteSpace(userDocument.Remark) ? "Добавить замечание" : userDocument.Remark;
                                <a asp-route-userName="@Model.AppUser.UserName"
                                   asp-route-mode="ChangeRowRemark"
                                   asp-route-userDocumentId="@userDocument.UserDocumentId">@remark</a>
                            }
                        </td>

                        <td>
                            <a asp-route-action="UserDocumentDelete"
                               asp-route-userName="@Model.AppUser.UserName"
                               asp-route-userDocumentId="@userDocument.UserDocumentId" class="btn btn-danger btn-block">Удалить</a>
                        </td>
                    </tr>
                }
            }

        }


        @{
            var abiturientCards = Model.AppUser.UserDocuments.Where(ud => ud.FileDataTypeId == (int)FileDataTypeEnum.AbiturientCard);

            if (abiturientCards == null || abiturientCards.Count() == 0)
            {
                <tr>
                    <td>
                        Карточка абитуриента
                    </td>
                    <td class="text-danger">
                        Не загружено!
                    </td>
                </tr>
            }
            else
            {

                foreach (var userDocument in abiturientCards)
                {
                    <tr>
                        <td>Карточка абитуриента</td>
                        <td><a href="/@userDocument.FileModel.Path" target="_blank">Открыть</a></td>
                        <td>
                            @if (mode == "ChangeRowStatus" && userDocumentId == userDocument.UserDocumentId)
                            {
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select name="RowStatusId" class="form-control" asp-items="ViewBag.RowStatuses">
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" name="userName" value="@Model.AppUser.UserName" />
                                            <input type="hidden" name="mode" value="ChangeRowStatusSave" />
                                            <input type="hidden" name="userDocumentId" value="@userDocument.UserDocumentId" />
                                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                                            <a asp-route-userName="@Model.AppUser.UserName">Отмена</a>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                string rowStatusString = "";
                                string rowStatusClass = "";
                                if (userDocument.RowStatusId == (int?)RowStatusEnum.Confirmed)
                                {
                                    rowStatusString = userDocument.RowStatus.RowStatusName;
                                    rowStatusClass = "text-primary";
                                }
                                else if (userDocument.RowStatusId == (int?)RowStatusEnum.ReturnedForCorrection)
                                {
                                    rowStatusString = userDocument.RowStatus.RowStatusName;
                                    rowStatusClass = "text-info";
                                }
                                else
                                {
                                    rowStatusString = "Не проверено";
                                    rowStatusClass = "text-danger";
                                }
                                <a asp-route-userName="@Model.AppUser.UserName" asp-route-mode="ChangeRowStatus" asp-route-userDocumentId="@userDocument.UserDocumentId" class="@rowStatusClass">@rowStatusString</a>
                            }
                        </td>

                        <td>
                            @if (mode == "ChangeRowRemark" && userDocumentId == userDocument.UserDocumentId)
                            {
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" name="remark" value="@userDocument.Remark" />
                                        </div>
                                        <div class="col-md-4">
                                            <input type="hidden" name="userName" value="@Model.AppUser.UserName" />
                                            <input type="hidden" name="mode" value="ChangeRowRemarkSave" />
                                            <input type="hidden" name="userDocumentId" value="@userDocument.UserDocumentId" />
                                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                                            <a asp-route-userName="@Model.AppUser.UserName">Отмена</a>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                string remark = string.IsNullOrWhiteSpace(userDocument.Remark) ? "Добавить замечание" : userDocument.Remark;
                                <a asp-route-userName="@Model.AppUser.UserName"
                                   asp-route-mode="ChangeRowRemark"
                                   asp-route-userDocumentId="@userDocument.UserDocumentId">@remark</a>
                            }
                        </td>

                        <td>
                            <a asp-route-action="UserDocumentDelete"
                               asp-route-userName="@Model.AppUser.UserName"
                               asp-route-userDocumentId="@userDocument.UserDocumentId" class="btn btn-danger btn-block">Удалить</a>
                        </td>
                    </tr>
                }
            }

        }

    </tbody>
</table>


<a asp-action="Details" asp-route-userName="@Model.AppUser.UserName" class="btn btn-primary">Назад</a>

