@model KisVuzDotNetCore2.Models.Struct.StructInstitute

@{
    ViewData["Title"] = "Основные сведения об институте";
}

<h2>Основные сведения об институте</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructInstituteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructInstituteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExistenceOfFilials)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExistenceOfFilials)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingRegime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingRegime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingSchedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingSchedule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.GetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.University.StructUniversityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.University.StructUniversityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StructInstituteId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-default">Отмена</a>
</div>
