@model IEnumerable<KisVuzDotNetCore2.Models.Struct.StructInstitute>

@{
    ViewData["Title"] = "Институты";
}

<h2>Институты</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StructInstituteName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfCreation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExistenceOfFilials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkingRegime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkingSchedule)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.University.StructUniversityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StructInstituteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExistenceOfFilials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingRegime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingSchedule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.GetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.University.StructUniversityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StructInstituteId">Редактировать</a> 
                <a asp-action="Details" asp-route-id="@item.StructInstituteId">Подробнее</a> 
                <a asp-action="Delete" asp-route-id="@item.StructInstituteId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
