@model KisVuzDotNetCore2.Models.Struct.StructUniversity

@{
    ViewData["Title"] = "Удалить университет";
}

<h2>Удалить университет</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructUniversityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructUniversityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExistenceOfFilials)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExistenceOfFilials)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingRegime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingRegime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingSchedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingSchedule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.GetAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StructUniversityId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
