@model IEnumerable<KisVuzDotNetCore2.Models.Struct.StructUniversity>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StructUniversityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfCreation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExistenceOfFilials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkingRegime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkingSchedule)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StructUniversityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExistenceOfFilials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingRegime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingSchedule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StructUniversityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StructUniversityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StructUniversityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
