@model ElGradebook

@{ 
    int lessonCounter = 0;
}

<h2>Учебные занятия</h2>

<hr />
<h4>Учебный год: <b>@Model.EduYear</b></h4>
<h4>Группа: <b>@Model.GroupName (@Model.Course курс, @Model.SemesterNumber семестр)</b></h4>
<h4>Дисциплина: <b>@Model.DisciplineName</b></h4>
<hr />

<div>
    <a asp-action="ElGradebookLessonCreate" asp-route-elGradebookId="@Model.ElGradebookId" class="btn btn-primary">Добавить занятие</a>
</div>

<hr />

@if(Model.ElGradebookLessons != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>№ пп</th>
                <th>Дата</th>
                <th>Тип занятия</th>
                <th>Тема занятия</th>
                <th>Кол-во часов</th>
                <th>Успеваемость</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ElGradebookLessons.Count == 0)
            {
                <tr>
                    <td colspan="5" class="text-center">                        
                        <a asp-action="ElGradebookLessonCreate" asp-route-elGradebookId="@Model.ElGradebookId" class="text-info">Учебные занятия не добавлены</a>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var lesson in Model.ElGradebookLessons.OrderBy(l => l.Date))
                {
                    lessonCounter++;
                    <tr>
                        <td>@lessonCounter</td>
                        <td>@lesson.Date.ToShortDateString()</td>
                        <td>@lesson.ElGradebookLessonType.ElGradebookLessonTypeName</td>
                        <td>@lesson.LessonTheme</td>
                        <td>@lesson.HoursNumber</td>
                        <td>
                            <a asp-action="ElGradebookLessonMarksEdit" asp-route-elGradebookLessonId="@lesson.ElGradebookLessonId" class="btn btn-primary">Редактировать</a>
                        </td>
                        <td>
                            <a asp-action="ElGradebookLessonUpdate"
                               asp-route-elGradebookLessonId="@lesson.ElGradebookLessonId" class="btn btn-primary">Редактировать</a>
                            <a asp-action="ElGradebookLessonRemove"
                               asp-route-elGradebookLessonId="@lesson.ElGradebookLessonId" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

<hr />

<h4>ИТОГО: <b>@Model.ElGradebookLessons.Sum(l => l.HoursNumber) ч.</b></h4>
<h4>в том числе:</h4>
@foreach (var item in Model.ElGradebookLessons.GroupBy(l=>l.ElGradebookLessonType.ElGradebookLessonTypeName))
{
    <h4>@item.Key: <b>@(item.Sum(l => l.HoursNumber)) ч.</b></h4>
    
}
