@model IEnumerable<KisVuzDotNetCore2.Models.Users.Teacher>

@{
    ViewData["Title"] = "Преподаватели";
}

<h2>Преподаватели</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherFio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherFio)
            </td>
            <td>
                <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@item.AppUserId">@item.AppUser.GetFullName</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeacherId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.TeacherId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.TeacherId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
