@model KisVuzDotNetCore2.Models.Education.EduUgs

@{
    ViewData["Title"] = "Направления";
}

<h2>Основные сведения по УГС</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduLevel.EduLevelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduLevel.EduLevelName)
        <dt>
            @Html.DisplayNameFor(model => model.EduUgsCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduUgsCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduUgsName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduUgsName)
        </dd>

        </dd>
        <dt>
            Направления
        </dt>
        <dd>
            @foreach (var item in Model.EduNapravls)
        {

            @item.EduNapravlCode <text> - </text> @item.EduNapravlName
            <br>
    }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EduUgsId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index">Отмена</a>
</div>
