@model IEnumerable<KisVuzDotNetCore2.Models.Education.EduUgs>

@{
    ViewData["Title"] = "Укрупнённые группы специальностей";
}

<h2>Укрупнённые группы специальностей</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EduUgsCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EduUgsName)
                </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            // Формируем список уровней образования
            List<string> eduLevelNames = new List<string>();
            foreach (var ugs in Model)
            {
                if (!eduLevelNames.Contains(ugs.EduLevel.EduLevelName))
                {
                    eduLevelNames.Add(ugs.EduLevel.EduLevelName);
                }
            }
        }

        @foreach (var eduLevel in eduLevelNames)
        {
            <tr>
                <td colspan="3" class="well"><h4>@eduLevel</h4></td>
            </tr>
            foreach (var item in Model.Where(ugs => ugs.EduLevel.EduLevelName == eduLevel))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EduUgsCode)
                    </td>
                    <td>
                        <a asp-controller="EduNapravls" asp-action="Index" asp-route-id="@item.EduUgsId">
                            @Html.DisplayFor(modelItem => item.EduUgsName)
                        </a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EduUgsId">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.EduUgsId">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.EduUgsId">Удалить</a>
                    </td>                    
                </tr>
            }
        }


    </tbody>
</table>
