@model IEnumerable<EduProgram>

@{
    int spoilerCounter = 0;
}

<h1>Образовательные программы</h1>

<p>
    <a asp-action="EduProgramCreate" class="btn btn-primary">Добавить образовательную программу</a>
</p>

@foreach (var eduProgramGroup in Model.GroupBy(p => p.EduProfile.EduNapravl.EduUgs.EduLevel.EduLevelName))
{
    spoilerCounter++;
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">@eduProgramGroup.Key</a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        <div class="well">
            <table class="table">
                    <thead>
                        <tr>
                            <th>Направление подготовки</th>
                            <th>Профиль подготовки</th>
                            <th>Программа подготовки</th>
                            <th>Дата утверждения</th>
                            <th>Формы обучения</th>
                            <th>Учебные годы</th>
                            <th>Учебные планы</th>
                            <th>Копия ОПОП</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eduProgram in eduProgramGroup)
                        {
                            <tr>
                                <td>@eduProgram.EduProfile.EduNapravl.EduNapravlCode - @eduProgram.EduProfile.EduNapravl.EduNapravlName</td>
                                <td>@eduProgram.EduProfile.EduProfileName</td>
                                <td>@eduProgram.EduProgramPodg.EduProgramPodgName</td>
                                <td>@Html.DisplayFor(modelNapravl => eduProgram.DateUtverjd)</td>
                                <td>
                                    @foreach (var eduProgramEduForms in eduProgram.EduProgramEduForms.OrderBy(f=>f.EduForm.EduFormName))
                                    {
                                        <p>@eduProgramEduForms.EduForm.EduFormName</p>
                                    }
                                </td>
                                <td>
                                    @foreach (var eduProgramEduYear in eduProgram.EduProgramEduYears.OrderBy(y=>y.EduYear.EduYearName))
                                    {
                                        <p>@eduProgramEduYear.EduYear.EduYearName</p>
                                    }
                                </td>
                                <td>
                                    @foreach(var eduPlan in eduProgram.EduProfile.EduPlans.Where(p=>p.EduProgramPodgId == eduProgram.EduProgramPodgId))
                                    {
                                        <p>
                                            <a asp-action="EduPlanPreview" asp-route-id="@eduPlan.EduPlanId">@eduPlan.EduForm.EduFormName</a>
                                        </p>
                                    }
                                </td>
                                <td>
                                    <a href="/@eduProgram.FileModel.Path">Открыть</a>
                                </td>
                                <td>
                                    <a asp-action="EduProgramEdit" asp-route-EduProgramId="@eduProgram.EduProgramId" class="btn btn-primary">Редактировать</a>
                                    <a asp-action="EduProgramDelete" asp-route-EduProgramId="@eduProgram.EduProgramId" class="btn btn-danger">Удалить</a>
                                </td>
                            </tr>
                        }
                     </tbody>
            </table>
        </div>
    </div>
}