@model KisVuzDotNetCore2.Models.Education.EduPlan

@{
    ViewData["Title"] = "Просмотр учебного плана";
    int spoilerCounter = 1;
}


<div>
    <h3 class="text-center text-uppercase">
        <b>Направление: @Model.EduProfile.EduNapravl.EduNapravlCode @Model.EduProfile.EduNapravl.EduNapravlName</b>
    </h3>
    <h3 class="text-center">
        <b>Профиль подготовки: @Model.EduProfile.EduProfileName</b>
    </h3>
    <table class="table table-condensed table-striped">
        <tr>
            <td colspan="2">План одобрен Ученым советом института @Html.DisplayFor(model => model.ProtokolDate). Протокол № @Html.DisplayFor(model => model.ProtokolNumber)</td>
        </tr>

        <tr>
            <td colspan="2">Дата утверждения  @Html.DisplayFor(model => model.UtverjdDate)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.EduProgramPodg)</td>
            <td>@Html.DisplayFor(model => model.EduProgramPodg.EduProgramPodgName)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.EduForm)</td>
            <td>@Html.DisplayFor(model => model.EduForm.EduFormName)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.EduSrok)</td>
            <td>@Html.DisplayFor(model => model.EduSrok.EduSrokName)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.EduVidDeyatList)</td>
            <td>
                <ul>
                    @foreach (var vidDeyat in Model.EduVidDeyatList)
                    {
                        <li>@vidDeyat.EduVidDeyat.EduVidDeyatName</li>
                    }
                </ul>
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.EduPlanEduYearBeginningTrainings)</td>
            <td>
                <ul>
                    @foreach (var eduYearBeginningTraining in Model.EduPlanEduYearBeginningTrainings)
                    {
                        <li>@eduYearBeginningTraining.EduYearBeginningTraining.EduYearBeginningTrainingName</li>
                    }
                </ul>
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.StructKaf)</td>
            <td>@Html.DisplayFor(model => model.StructKaf.StructSubvision.StructSubvisionName)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.EduPlanEduYears)</td>
            <td>
                <ul>
                    @foreach (var eduYear in Model.EduPlanEduYears)
                    {
                        <li>@eduYear.EduYear.EduYearName</li>
                    }
                </ul>
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.EduPlanPdf)</td>
            <td>
                @if (Model.EduPlanPdf?.Id != null)
                {
                    <a href="/@Model.EduPlanPdf?.Path">Открыть</a>
                }
            </td>
        </tr>
    </table>

    <br />
    <h3>Содержание учебного плана</h3>

    @if (Model.BlokDiscipl.Count == 0)
    {
    <div>
        <form asp-action="CreateEduPlanStructure">
            <input type="hidden" asp-for="@Model.EduPlanId" />
            <input type="submit" value="Cформировать структуру учебного плана" class="btn btn-primary" />
        </form>
    </div>
    }

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Код дисциплины</th>
                <th>Наименование и содержание дисциплины</th>
                <th>Аннотация</th>
                <th>Рабочая программа (РП)</th>
                <th>Фонд оценочных средств (ФОС)</th>
                <th>Преподаватели</th>
                <th>Учебные кабинеты</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blokDiscipl in Model.BlokDiscipl)
            {
                <tr class="info">
                    <td colspan="8"><strong>@blokDiscipl.BlokDisciplName.BlokDisciplNameName</strong></td>
                </tr>
                @foreach (var blokDisciplChast in blokDiscipl.BlokDisciplChast)
                {
                    <tr class="active">
                        <td colspan="8">
                            @blokDisciplChast.BlokDisciplChastName.BlokDisciplChastNameName
                            <div>                                
                                <a asp-action="EduPlanCreateDiscipline"
                                 asp-route-EduPlanId="@Model.EduPlanId"
                                 asp-route-BlokDisciplChastId="@blokDisciplChast.BlokDisciplChastId"
                                 class="btn btn-primary">Добавить дисциплину</a>
                            </div>
                        </td>
                    </tr>

                    @foreach (var discipline in blokDisciplChast.Disciplines.OrderBy(d=>d.DisciplineCode))
                    {
                        <tr>
                            <td>@discipline.DisciplineCode</td>
                            <td>
                                <a href="#spoiler-@spoilerCounter" data-toggle="collapse"><strong>@discipline.DisciplineName.DisciplineNameName</strong></a>
                                <div class="collapse" id="spoiler-@spoilerCounter">
                                    @{ spoilerCounter++;}
                                    <div class="well">
                                        @foreach (var kurs in discipline.Kurses)
                                        {

                                            @foreach (var semestr in kurs.Semestres)
                                            {

                                                <p><strong>@kurs.EduKurs.EduKursNumber курс. Семестр @semestr.SemestrName.SemestrNameNumber</strong></p>
                                                <p>Формы контроля:</p>
                                                <ul>
                                                    @foreach (var semestrFormKontrolName in semestr.SemestrFormKontrolName)
                                                    {
                                                        <li>@semestrFormKontrolName.FormKontrolName.FormKontrolNameName</li>
                                                    }
                                                </ul>
                                                <p>Виды деятельности:</p>
                                                <ul>
                                                    @foreach (var semestrVidUchebRaboti in semestr.SemestrVidUchebRaboti)
                                                    {
                                                        <li>@semestrVidUchebRaboti.VidUchebRabotiName.VidUchebRabotiNameName: @semestrVidUchebRaboti.Hour ч. </li>
                                                    }
                                                </ul>

                                            }
                                        }
                                    </div>
                                </div>                                
                            </td>

                            <td>
                                @if (discipline.EduAnnotations == null || discipline.EduAnnotations.Count == 0)
                                {
                                    <p>
                                        <a asp-action="EduAnnotationCreateOrEdit" asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" class="btn btn-primary btn-block"> Добавить аннотацию</a>
                                    </p>
                                }
                                else
                                {
                                    @foreach (var annotation in discipline.EduAnnotations)
                                    {
                                        <div class="row">
                                            <div class="col-md-8">
                                                <a href="/@annotation.FileModel.Path">Открыть</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a asp-action="EduAnnotationCreateOrEdit" asp-route-EduPlanId="@Model.EduPlanId" asp-route-EduAnnotationId="@annotation.EduAnnotationId" asp-route-DisciplineId="@discipline.DisciplineId"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                                <a asp-action="EduAnnotationRemove" asp-route-EduPlanId="@Model.EduPlanId" asp-route-EduAnnotationId="@annotation.EduAnnotationId" asp-route-DisciplineId="@discipline.DisciplineId"><span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span></a>
                                            </div>
                                        </div>
                                    }
                                }
                            </td>
                            <td>
                                @if (discipline.RabPrograms == null || discipline.RabPrograms.Count == 0)
                                {
                                    <p>
                                        <a asp-action="RabProgramCreateOrEdit" asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" class="btn btn-primary btn-block"> Добавить РП</a>
                                    </p>
                                }
                                else
                                {
                                    @foreach (var rabProgram in discipline.RabPrograms)
                                    {
                                        <div class="row">
                                            <div class="col-md-8">
                                                <a href="/@rabProgram.FileModel.Path">Открыть</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a asp-action="RabProgramCreateOrEdit" asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" asp-route-RabProgramId="@rabProgram.RabProgramId"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                                <a asp-action="RabProgramRemove"       asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" asp-route-RabProgramId="@rabProgram.RabProgramId"><span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span></a>
                                            </div>
                                        </div>
                                    }
                                }                                
                            </td>
                            <td>
                                @if (discipline.RabPrograms == null || discipline.FondOcenochnihSredstvList.Count == 0)
                                {
                                    <p>
                                        <a asp-action="FondOcenochnihSredstvCreateOrEdit" asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" class="btn btn-primary btn-block"> Добавить ФОС</a>
                                    </p>
                                }
                                else
                                {
                                    @foreach (var fondOcenochnihSredstv in discipline.FondOcenochnihSredstvList)
                                    {
                                        <div class="row">
                                            <div class="col-md-8">
                                                <a href="/@fondOcenochnihSredstv.FileModel.Path">Открыть</a>
                                            </div>
                                            <div class="col-md-4">
                                                <a asp-action="FondOcenochnihSredstvCreateOrEdit" asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" asp-route-FondOcenochnihSredstvId="@fondOcenochnihSredstv.FondOcenochnihSredstvId"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                                <a asp-action="FondOcenochnihSredstvRemove"       asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" asp-route-FondOcenochnihSredstvId="@fondOcenochnihSredstv.FondOcenochnihSredstvId"><span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span></a>
                                            </div>
                                        </div>
                                    }
                                }                                
                            </td>
                            <td>
                                @foreach (var eduPlanEduYears in Model.EduPlanEduYears.OrderBy(e => e.EduYear.EduYearName))
                                {
                                    <p><strong>@eduPlanEduYears.EduYear.EduYearName уч.год</strong></p>
                                    <p>
                                        <a asp-action="TeacherDisciplinesCreateOrEdit" asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" asp-route-EduYearId="@eduPlanEduYears.EduYearId" class="btn btn-primary btn-block"> Добавить преподавателя</a>
                                    </p>
                                    <ul>
                                        @foreach (var teacherDiscipline in discipline.TeacherDisciplines.Where(td=>td.EduPlanEduYearId== eduPlanEduYears.EduPlanEduYearId))
                                        {
                                        <li>
                                            @if (!string.IsNullOrEmpty(teacherDiscipline.Teacher.AppUserId))
                                            {
                                                <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@teacherDiscipline.Teacher.AppUserId">@teacherDiscipline.Teacher.TeacherFio</a>
                                            }
                                            else
                                            {
                                                <text>@teacherDiscipline.Teacher.TeacherFio</text>
                                            }
                                            <a asp-action="TeacherDisciplinesCreateOrEdit" asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" asp-route-EduYearId="@eduPlanEduYears.EduYearId" asp-route-TeacherDisciplineId="@teacherDiscipline.TeacherDisciplineId"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                            <a asp-action="TeacherDisciplinesRemove" asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" asp-route-EduYearId="@eduPlanEduYears.EduYearId" asp-route-TeacherDisciplineId="@teacherDiscipline.TeacherDisciplineId"><span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span></a>
                                        </li>
                                        }
                                    </ul>
                                }
                            </td>
                            <td>
                                @foreach (var eduPlanEduYears in Model.EduPlanEduYears.OrderBy(e => e.EduYear.EduYearName))
                                {                                    
                                    <p><strong>@eduPlanEduYears.EduYear.EduYearName уч.год</strong></p>
                                    <p>
                                        <a asp-action="DisciplinePomesheniesCreateOrEdit" asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" asp-route-EduYearId="@eduPlanEduYears.EduYearId" class="btn btn-primary btn-block"> Добавить помещение</a>
                                    </p>
                                    <ul>
                                        @foreach (var disciplinePomeshenie in discipline.DisciplinePomeshenies.Where(td => td.EduPlanEduYearId == eduPlanEduYears.EduPlanEduYearId))
                                        {
                                            <li>
                                                <a asp-controller="Oborudovanies" asp-action="Preview"  asp-route-id="@disciplinePomeshenie.Pomeshenie.PomeshenieId">@disciplinePomeshenie.Pomeshenie.PomeshenieName</a>
                                                <a asp-action="DisciplinePomesheniesCreateOrEdit"       asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" asp-route-EduYearId="@eduPlanEduYears.EduYearId" asp-route-DisciplinePomeshenieId="@disciplinePomeshenie.DisciplinePomeshenieId"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                                <a asp-action="DisciplinePomesheniesRemove"             asp-route-EduPlanId="@Model.EduPlanId" asp-route-DisciplineId="@discipline.DisciplineId" asp-route-EduYearId="@eduPlanEduYears.EduYearId" asp-route-DisciplinePomeshenieId="@disciplinePomeshenie.DisciplinePomeshenieId"><span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span></a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </td>

                            <td>
                                <div>
                                    <a asp-action="EduPlanRemoveDiscipline"
                                       asp-route-EduPlanId="@Model.EduPlanId"
                                       asp-route-DisciplineId="@discipline.DisciplineId "
                                       class="btn btn-danger">Удалить</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>

<div>
    <a asp-action="EduPrograms" class="btn btn-primary">К списку образовательных программ</a>
</div>
