@model KisVuzDotNetCore2.Models.Struct.StructKaf

@{
    ViewData["Title"] = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructFacultet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructFacultet.StructFacultetId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvision.StructSubvisionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StructKafId" class="btn btn-default">Редактировать</a> |
    <a asp-action="Index" class="btn btn-primary">Отмена</a>
</div>
