@model IEnumerable<KisVuzDotNetCore2.Models.Struct.StructKaf>

@{
    ViewData["Title"] = "Кафедры";
}

<h2>Кафедры</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Факультеты
            </th>
            <th>
                Кафедры
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.StructFacultetId">
                @Html.DisplayFor(modelItem => item.StructFacultet.StructSubvision.StructSubvisionName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructSubvision.StructSubvisionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StructKafId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.StructKafId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.StructKafId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
