@model IEnumerable<KisVuzDotNetCore2.Models.Sveden.RucovodstvoFil>

@{
    ViewData["Title"] = "Руководители филиалов";
}

<h2>Руководители филиалов</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameFil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameFil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RucovodstvoFilId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.RucovodstvoFilId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
