@model IEnumerable<KisVuzDotNetCore2.Models.Qualification>

    @{
        ViewData["Title"] = "Подтверждение квалификации пользователей";
    }

    <h2>Подтверждение квалификации пользователей</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NapravlName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QualificationName)
                </th>
                <th>
                    Пользователь
                </th>
                <th>
                    Статус записи
                </th>
                <th>
                    Действия
                </th>

            </tr>
        </thead>
        <tbody>
            @if(Model.Count()==0)
            {
                <tr>
                    <td colspan="5" class="text-center text-info"><h4>Неподтверждённые квалификации пользователей отсутствуют</h4></td>
                </tr>
            }
            else
            {
                
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NapravlName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QualificationName)
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="UserProfile" asp-route-id="@item.AppUser.Id">@item.AppUser.LastName @item.AppUser.FirstName @item.AppUser.Patronymic</a>
                    </td>
                    <td>
                        @item.RowStatus?.RowStatusName
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.QualificationId">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.QualificationId">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.QualificationId">Удалить</a> |
                        <a asp-action="Confirm" asp-route-id="@item.QualificationId">Подтвердить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
