@model KisVuzDotNetCore2.Models.Qualification

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Qualification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NapravlName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NapravlName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QualificationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QualificationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QualificationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
