@model KisVuzDotNetCore2.Models.Qualification

@{
    ViewData["Title"] = "Подробнее";
}

<h2>Детализация</h2>

<div>
    <h4>Квалификация пользователя</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.GetFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NapravlName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NapravlName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QualificationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QualificationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QualificationId" class="btn btn-default">Редактировать</a>
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>
