@model IEnumerable<KisVuzDotNetCore2.Models.Qualification>

@{
    ViewData["Title"] = "Квалификация сотрудника";
}

<h2>Квалификация сотрудника</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NapravlName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QualificationName)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NapravlName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualificationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QualificationId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.QualificationId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.QualificationId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
