@model IEnumerable<KisVuzDotNetCore2.Models.Qualification>

@{
    ViewData["Title"] = "Квалификация сотрудника";
}

<h2>Квалификация сотрудника</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NapravlName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualificationName)
            </th>
            <th>
                Пользователь
            </th>
            <th>
                Статус записи
            </th>
            <th>
                Действия
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NapravlName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualificationName)
            </td>
            <td>
                <a asp-action="Index" asp-controller="UserProfile" asp-route-id="@item.AppUser.Id">@item.AppUser.LastName @item.AppUser.FirstName @item.AppUser.Patronymic</a>
            </td>
            <td>
                @item.RowStatus?.RowStatusName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QualificationId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.QualificationId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.QualificationId">Удалить</a> | 
                <a asp-action="Confirm" asp-route-id="@item.QualificationId">Подтвердить</a>
            </td>
        </tr>
}
    </tbody>
</table>
