@model KisVuzDotNetCore2.Models.EduGraduate

@{
    ViewData["Title"] = "Удалить запись таблицы Выпуск (результаты защиты ВКР)";
}

<h2>Удалить запись таблицы Выпуск (результаты защиты ВКР)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GraduateNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GraduateNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GraduateSredBall)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GraduateSredBall)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduProfile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduProfile.EduProfileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GraduateYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GraduateYear.GraduateYearName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EduGraduateId" />
        <input type="submit" value="Удалить" class="btn btn-danger"/>
        <a asp-action="Index"  class="btn btn-default">Отмена</a>
    </form>
</div>
