@model IEnumerable<KisVuzDotNetCore2.Models.EduGraduate>

@{
    ViewData["Title"] = "Выпуск (результаты защиты ВКР)";
}

<h2>Выпуск (результаты защиты ВКР)</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GraduateYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GraduateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GraduateSredBall)
            </th>
            <th>
                Действие
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(p=>p.GraduateYearId).ThenBy(p=>p.EduProfileId)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GraduateYear.GraduateYearName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduProfile.GetEduProfileFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduateSredBall)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EduGraduateId">Редактировать</a> | 
                <a asp-action="Delete" asp-route-id="@item.EduGraduateId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
