@model KisVuzDotNetCore2.Models.Struct.StructFacultet

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>StructFacultet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructFacultetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructFacultetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructInstitute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructInstitute.StructInstituteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StructFacultetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
