@model KisVuzDotNetCore2.Models.Struct.StructFacultet

@{
    ViewData["Title"] = "Подробнее";
}

<h2>Основные сведения о факультете</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructInstitute.StructInstituteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructInstitute.StructInstituteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvision.StructSubvisionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvision.StructSubvisionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StructFacultetId" class="btn btn-primary">Редактировать</a> 
    <a asp-action="Index" class="btn btn-default">Отменить</a>
</div>
