@model IEnumerable<KisVuzDotNetCore2.Models.Struct.StructFacultet>

@{
    ViewData["Title"] = "Факультеты";
}

<h2>Факультеты</h2>

<p>
    <a class ="btn btn-primary" asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StructFacultetName)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.StructInstitute.StructInstituteName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StructFacultetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructInstitute.StructInstituteName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StructFacultetId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.StructFacultetId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
