@model KisVuzDotNetCore2.Models.priemKolTarget

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Информация о количестве мест для приёма на обучение по различным условиям поступления</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduNapravl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduNapravl.GetEduNapravlFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesta_v_ramkahtQuota_och)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesta_v_ramkahtQuota_och)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesta_v_ramkah_zaoch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesta_v_ramkah_zaoch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesta_v_ramkah_och_zaoch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesta_v_ramkah_och_zaoch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesta_v_pridelah_osoboi_och)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesta_v_pridelah_osoboi_och)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesta_v_pridelah_osoboi_zaoch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesta_v_pridelah_osoboi_zaoch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesta_v_pridelah_osoboi_och_zaoch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesta_v_pridelah_osoboi_och_zaoch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesta_v_pridelah_celevoi_och)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesta_v_pridelah_celevoi_och)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesta_v_pridelah_celevoi_zaoch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesta_v_pridelah_celevoi_zaoch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesta_v_pridelah_celevoi_och_zaoch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesta_v_pridelah_celevoi_och_zaoch)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="priemKolTargetId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
