@model IEnumerable<KisVuzDotNetCore2.Models.Education.BlokDisciplChast>

@{
    ViewData["Title"] = "Части блока дисциплин";
}

<h2>Части блока дисциплин</h2>

<p>
    <a asp-action="Create" class="btn btn-primary" asp-route-blokdisciplid="@ViewBag.BlokDisciplId">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlokDiscipl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlokDisciplChastName)
            </th>
            <th>
                Содержание части блока дисциплин
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlokDiscipl.BlokDisciplName.BlokDisciplNameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlokDisciplChastName.BlokDisciplChastNameName)
            </td>
            <td>
                <a asp-controller="Disciplines" asp-action="index" asp-route-BlokDisciplChastId="@item.BlokDisciplChastId">Открыть</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-Id="@item.BlokDisciplChastId" asp-route-blokdisciplid="@ViewBag.BlokDisciplId">Редактировать</a> |
                <a asp-action="Details" asp-route-Id="@item.BlokDisciplChastId" asp-route-blokdisciplid="@ViewBag.BlokDisciplId">Подробнее</a> |
                <a asp-action="Delete" asp-route-Id="@item.BlokDisciplChastId" asp-route-blokdisciplid="@ViewBag.BlokDisciplId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
