@model KisVuzDotNetCore2.Models.Education.EduPlan

@{
    ViewData["Title"] = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProtokolNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProtokolNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProtokolDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProtokolDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UtverjdDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtverjdDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduForm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduForm.EduFormName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduPlanPdf)
        </dt>
        <dd>
            @if (Model.EduPlanPdf?.Id != null)
            {                
                <a href="/@Model.EduPlanPdf?.Path">Открыть</a>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduProfile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduProfile.GetEduProfileFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduProgramPodg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduProgramPodg.EduProgramPodgName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduSrok)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduSrok.EduSrokName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructKaf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructKaf.StructSubvision.StructSubvisionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EduPlanId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-default">Отмена</a>
</div>
