@model KisVuzDotNetCore2.Models.Education.EduPlan

@{
    ViewData["Title"] = "Редактировать";
    List<EduVidDeyat> eduVidDeyats = (List<EduVidDeyat>)ViewData["EduVidDeyats"];
    List<EduYearBeginningTraining> eduYearBeginningTrainings = (List<EduYearBeginningTraining>)ViewData["EduYearBeginningTrainings"];
}

<h2>Редактировать учебный план</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EduPlanId" />
            <div class="form-group">
                <label asp-for="EduProfileId" class="control-label"></label>
                <select asp-for="EduProfileId" class="form-control" asp-items="ViewBag.EduProfileId"></select>
                <span asp-validation-for="EduProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduProgramPodg.EduProgramPodgName" class="control-label"></label>
                <select asp-for="EduProgramPodgId" class="form-control" asp-items="ViewBag.EduProgramPodgId"></select>
                <span asp-validation-for="EduProgramPodgId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduForm.EduFormName" class="control-label"></label>
                <select asp-for="EduFormId" class="form-control" asp-items="ViewBag.EduFormId"></select>
                <span asp-validation-for="EduFormId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduSrok.EduSrokName" class="control-label"></label>
                <select asp-for="EduSrokId" class="form-control" asp-items="ViewBag.EduSrokId"></select>
                <span asp-validation-for="EduSrokId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduVidDeyatList" class="control-label"></label>
                @foreach (var vidDeyat in eduVidDeyats)
                {
                    string Checked = "";
                    @foreach (var vidDeyatChoosed in Model.EduVidDeyatList)
                    {
                        if (vidDeyat.EduVidDeyatId == vidDeyatChoosed.EduVidDeyatId)
                        {
                            Checked = "checked";
                            break;
                        }
                    }
                    <br /><input type="checkbox" @Checked name="EduVidDeyatIds" value="@vidDeyat.EduVidDeyatId" /> @vidDeyat.EduVidDeyatName
                }
            </div>
            <div class="form-group">
                <label asp-for="EduPlanEduYearBeginningTrainings" class="control-label"></label>
                @foreach (var yearBeginningTraining in eduYearBeginningTrainings)
                {
                    string CheckedYear = "";
                    @foreach (var yearBeginningTrainingChoosed in Model.EduPlanEduYearBeginningTrainings)
                    {
                        if (yearBeginningTraining.EduYearBeginningTrainingId == yearBeginningTrainingChoosed.EduYearBeginningTrainingId)
                        {
                            CheckedYear = "checked";
                            break;
                        }
                    }
                    <br /><input type="checkbox" @CheckedYear name="EduYearBeginningTrainingIds" value="@yearBeginningTraining.EduYearBeginningTrainingId" /> @yearBeginningTraining.EduYearBeginningTrainingName
                }
            </div>
            <div class="form-group">
                <label asp-for="ProtokolNumber" class="control-label"></label>
                <input asp-for="ProtokolNumber" class="form-control" />
                <span asp-validation-for="ProtokolNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProtokolDate" class="control-label"></label>
                <input asp-for="ProtokolDate" class="form-control" />
                <span asp-validation-for="ProtokolDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtverjdDate" class="control-label"></label>
                <input asp-for="UtverjdDate" class="form-control" />
                <span asp-validation-for="UtverjdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StructKafId" class="control-label"></label>
                <select asp-for="StructKafId" class="form-control" asp-items="ViewBag.StructKafId"></select>
                <span asp-validation-for="StructKafId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduPlanPdf" class="control-label"></label>
                <input asp-for="EduPlanPdfId" class="hidden">
                <a href="/@Model.EduPlanPdf?.Path" class="control-label">@Model.EduPlanPdf?.FileName</a>
            </div>

            <div class="form-group">
                <label class="control-label">Для замены выберите файл: </label>
                <input type="file" name="uploadedFile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>