@model IEnumerable<KisVuzDotNetCore2.Models.Education.EduPlan>

@{
    ViewData["Title"] = "Учебные планы";
}

<h2>Учебные планы</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EduProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduProgramPodg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduSrok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduVidDeyatList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduPlanEduYearBeginningTrainings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProtokolNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProtokolDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtverjdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructKaf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduPlanPdf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EduProfile.GetEduProfileFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduProgramPodg.EduProgramPodgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduForm.EduFormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduSrok.EduSrokName)
            </td>
            <td>
                @foreach (var eduVidDeyat in item.EduVidDeyatList)
                {
                    <p>@eduVidDeyat.EduVidDeyat.EduVidDeyatName</p>
                }
            </td>
            <td>
                @foreach (var yearBeginningTraining in item.EduPlanEduYearBeginningTrainings)
                {
                    <p>@yearBeginningTraining.EduYearBeginningTraining.EduYearBeginningTrainingName</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProtokolNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProtokolDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtverjdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructKaf.StructSubvision.StructSubvisionName)
            </td>
            <td>
                @if (item.EduPlanPdf?.Id != null)
                {
                    <a asp-controller="Files" asp-action="GetFile" asp-route-id="@item.EduPlanPdf?.Id">Скачать</a>
                    <br />
                    <a href="@item.EduPlanPdf?.Path">Открыть</a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EduPlanId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.EduPlanId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.EduPlanId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
