@model IEnumerable<KisVuzDotNetCore2.Models.Files.UserDocument>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileDataType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileDataType.FileDataTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileModel.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserDocumentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserDocumentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserDocumentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
