@model KisVuzDotNetCore2.Models.Struct.InstituteLink

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstituteLink</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstituteLinkLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstituteLinkLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstituteLinkDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstituteLinkDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkType.LinkTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructInstitute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructInstitute.StructInstituteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstituteLinkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
