@model KisVuzDotNetCore2.Models.Sveden.EduPr

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EduPr</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsOVZ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsOVZ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduPrUchebn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduPrUchebn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduPrProizv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduPrProizv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduPrPreddiplomn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduPrPreddiplomn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduForm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduForm.EduFormId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduProfile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduProfile.EduProfileId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduYearBeginningTraining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduYearBeginningTraining.EduYearBeginningTrainingId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EduPrId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
