@model IEnumerable<KisVuzDotNetCore2.Models.Sveden.EduPr>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsOVZ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EduPrUchebn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EduPrProizv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EduPrPreddiplomn)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.EduForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduYearBeginningTraining)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsOVZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduPrUchebn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduPrProizv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduPrPreddiplomn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduForm.EduFormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduProfile.EduProfileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduYearBeginningTraining.EduYearBeginningTrainingId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EduPrId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EduPrId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EduPrId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
