@model KisVuzDotNetCore2.Models.Nir.Article

@{
    ViewData["Title"] = "Добавление (редактирование) научной статьи";
}

<h2>Добавление (редактирование) научной статьи</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateOrEditArticle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <select asp-for="YearId" class="form-control" asp-items="ViewBag.Years"></select>
                <span asp-validation-for="YearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScienceJournalId" class="control-label"></label>
                <div class="row">
                    <div class="col-md-8">
                        <select asp-for="ScienceJournalId" class="form-control" asp-items="ViewBag.ScienceJournals"></select>
                        <span asp-validation-for="ScienceJournalId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <a asp-action="CreateClaimAddScienceJournal" class="form-control btn btn-primary">Заявка на добавление журнала в справочник</a>
                    </div>                    
                </div>
                
            </div>
            <div class="form-group">
                <label asp-for="ArticleName" class="control-label"></label>
                <input asp-for="ArticleName" class="form-control" />
                <span asp-validation-for="ArticleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VipuskNumber" class="control-label"></label>
                <input asp-for="VipuskNumber" class="form-control" />
                <span asp-validation-for="VipuskNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
                <hr>
            </div>
            <div class="form-group">
                <label class="control-label">Авторы</label>

                <div class="row">
                    <div class="col-md-9">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input name="AuthorFilter" value="@ViewBag.AuthorFilter" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.ApplyAuthorFilter" value="Найти" class="btn btn-primary btn-block form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <select name="AuthorIdAdd" class="form-control" asp-items="ViewBag.Authors">
                                    <option value="0">Выберите автора и нажмите кнопку "Добавить"</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input name="AuthorPart" value="0,5" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.AddingAuthor" value="Добавить" class="btn btn-primary btn-block form-control" />
                    </div>
                </div>

                <br />
                <label class="control-label">Добавленные авторы</label>
                <ul class="list-group">
                    @if (Model.ArticleAuthors == null || Model.ArticleAuthors.Count == 0)
                    {
                        <li class="list-group-item text-danger">
                            Авторы не добавлены
                        </li>
                    }
                    else
                    {
                        foreach (var articleAuthor in Model.ArticleAuthors)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">
                                        @articleAuthor.Author.AuthorName
                                    </div>
                                    <div class="col-md-2">
                                        @articleAuthor.AuthorPart.ToString("N")
                                    </div>
                                    <div class="col-md-2">
                                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.RemovingAuthor" asp-route-AuthorIdRemove="@articleAuthor.AuthorId" value="Удалить" class="btn btn-danger btn-block" />
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <hr>
            <div class="form-group">
                <label class="control-label">Список научных специальностей</label>
                <div class="row">
                    <div class="col-md-9">
                        <select name="NirSpecialIdAdd" class="form-control" asp-items="ViewBag.NirSpecials">
                            <option value="0">Выберите научную специальность и нажмите кнопку "Добавить"</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.AddingNirSpecial" value="Добавить" class="btn btn-primary btn-block form-control" />
                    </div>
                </div>

                <br />
                <label class="control-label">Добавленные научные специальности</label>
                <ul class="list-group">
                    @if (Model.ArticleNirSpecials == null || Model.ArticleNirSpecials.Count == 0)
                    {
                        <li class="list-group-item text-danger">
                            Научные специальности не добавлены
                        </li>
                    }
                    else
                    {
                        foreach (var articleNirSpecial in Model.ArticleNirSpecials)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        @articleNirSpecial.NirSpecial.NirSpecialName
                                    </div>
                                    <div class="col-md-3">
                                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.RemovingNirSpecial" asp-route-NirSpecialIdRemove="@articleNirSpecial.NirSpecialId" value="Удалить" class="btn btn-danger btn-block" />
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label">Список тем НИР</label>
                <div class="row">
                    <div class="col-md-9">
                        <select name="NirTemaIdAdd" class="form-control" asp-items="ViewBag.NirTemas">
                            <option value="0">Выберите тему НИР и нажмите кнопку "Добавить"</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.AddingNirTema" value="Добавить" class="btn btn-primary btn-block form-control" />
                    </div>
                </div>

                <br />
                <label class="control-label">Добавленные темы НИР</label>
                <ul class="list-group">
                    @if (Model.ArticleNirTemas == null || Model.ArticleNirTemas.Count == 0)
                    {
                        <li class="list-group-item text-danger">
                            Темы НИР не добавлены
                        </li>
                    }
                    else
                    {
                        foreach (var articleNirTema in Model.ArticleNirTemas)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        @articleNirTema.NirTema.NirTemaName
                                    </div>
                                    <div class="col-md-3">
                                        <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.RemovingNirTema" asp-route-NirTemaIdRemove="@articleNirTema.NirTemaId" value="Удалить" class="btn btn-danger btn-block" />
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <hr>
            <div class="form-group">
                <label asp-for="FileModelId" class="control-label"></label>
                @if (Model.FileModel != null)
                {
                    <br />
                    <label class="control-label">
                        <a href="/@Model.FileModel.Path">@Model.FileModel.FileName</a>
                    </label>
                    <br />
                    <label class="control-label">
                        Для замены выберите новый файл
                    </label>
                }

                <input type="file" name="uploadFile" class="form-control" />
                <span asp-validation-for="FileModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
                <input type="hidden" asp-for="FileModelId" />
                <input type="hidden" asp-for="RowStatusId" />
                <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.Saving" value="Сохранить" class="btn btn-primary" />
                <input type="submit" asp-route-mode="@CreateOrEditNirDataModeEnum.Canceling" value="Отмена" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


