@model IEnumerable<KisVuzDotNetCore2.Models.Education.SemestrFormKontrolName>

@{
    ViewData["Title"] = "Формы контроля";
}

<h2>Формы контроля</h2>

<p>
    <a asp-action="Create" asp-route-SemestrId="@ViewBag.SemestrId" class="btn btn-primary" >Добавить форму контроля</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormKontrolName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormKontrolName.FormKontrolNameName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-SemestrId="@item.SemestrId" asp-route-id="@item.SemestrFormKontrolNameId">Редактировать</a> |
                <a asp-action="Details" asp-route-SemestrId="@item.SemestrId" asp-route-id="@item.SemestrFormKontrolNameId">Подробнее</a> |
                <a asp-action="Delete" asp-route-SemestrId="@item.SemestrId" asp-route-id="@item.SemestrFormKontrolNameId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
