@model KisVuzDotNetCore2.Models.FileToFileType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FileToFileType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileDataType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileDataType.FileDataTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileModel.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FileToFileTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
