@model IEnumerable<KisVuzDotNetCore2.Models.Students.StudentGroup>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGroupNamePrefix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGroupNumber)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.EduForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduKurs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kurator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructFacultet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentGroupNamePrefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentGroupNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduForm.EduFormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduKurs.EduKursId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduProfile.EduProfileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kurator.TeacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructFacultet.StructFacultetId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentGroupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentGroupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentGroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
