@model IEnumerable<KisVuzDotNetCore2.Models.Students.StudentGroup>

@{
    ViewData["Title"] = "Учебные группы";
}

<h2>Учебные группы</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Группа
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentGroupNamePrefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduKurs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentGroupNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kurator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StructFacultet)
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.StudentGroupName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentGroupNamePrefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduKurs.EduKursId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentGroupNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduForm.EduFormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduProfile.GetEduProfileFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kurator.TeacherFio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StructFacultet.StructSubvision.StructSubvisionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentGroupId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.StudentGroupId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentGroupId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
