@model KisVuzDotNetCore2.Models.Students.Vedomost

@{
    ViewData["Title"] = "Ведомость. Отметки студентов";
}

<h2>Ведомость группы @Model.StudentGroup.StudentGroupName</h2>
<h3>Курс @Model.Kurs. Семестр @Model.SemestrName.SemestrNameNumber</h3>
<h3>Дисциплина: @Model.DisciplineName</h3>


@if (Model.VedomostStudentMarks.Count == 0)
{
    <p>
        <a asp-controller="VedomostiOfKurator" asp-action="CreateVedomostStudentMarks" asp-route-id="@Model.VedomostId" class="btn btn-primary">Сформировать ведомость</a>
    </p>
}
else
{
    <p>
        <a asp-controller="VedomostiOfKurator" asp-action="VedomostStudentMarksAddRow" asp-route-id="@Model.VedomostId" class="btn btn-primary">Добавить строку в ведомость</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ФИО студента
                </th>
                <th>
                    № зачетной книжки
                </th>
                <th>
                    Оценка
                </th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.VedomostStudentMarks.OrderBy(m=>m.Student.StudentFio))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.StudentFio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.ZachetnayaKnijkaNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VedomostStudentMarkName.VedomostStudentMarkNameName)
                    </td>
                    <td>
                        <a asp-action="VedomostStudentMarksEditRow"   asp-route-id="@Model.VedomostId" asp-route-VedomostStudentMarkId="@item.VedomostStudentMarkId">Редактировать</a> |
                        <a asp-action="VedomostStudentMarksDeleteRow" asp-route-id="@Model.VedomostId" asp-route-VedomostStudentMarkId="@item.VedomostStudentMarkId">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p>
    <a asp-action="Index" class="btn btn-primary">Назад к списку ведомостей</a>
</p>