@model KisVuzDotNetCore2.Models.FileDataType

@{
    ViewData["Title"] = "Сведения о типе содержимого файлов";
}

<h2>Сведения о типе содержимого файлов</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileDataTypeGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileDataTypeGroup.FileDataTypeGroupName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileDataTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileDataTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Itemprop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Itemprop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FileDataTypeId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-default">Отмена</a>
</div>
