<<<<<<< HEAD
﻿@model IEnumerable<KisVuzDotNetCore2.Models.HostelInfo>

@{
    ViewData["Title"] = "Наличии общежитий, интернатов, количество жилых помещений в общежитиях, интернатов для иногородних обучающихся";
}

<h2>Информация о наличии общежитий, интернатов, количество жилых помещений в общежитиях, интернатов для иногородних обучающихся</h2>

<p>
    <a asp-action="Create">Добавить</a>
=======
﻿@model IEnumerable<KisVuzDotNetCore2.Models.Sveden.HostelInfo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
>>>>>>> b8a6b4ae3698bf48f45ccaeb99c2989fbe754293
</p>
<table class="table">
    <thead>
        <tr>
                <th>
<<<<<<< HEAD
                    @Html.DisplayNameFor(model => model.NaimenovanPokaz)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Znachenie)
=======
                    @Html.DisplayNameFor(model => model.NameIndicator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Itemprop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Link)
>>>>>>> b8a6b4ae3698bf48f45ccaeb99c2989fbe754293
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.NaimenovanPokaz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Znachenie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HostelInfoId">Редактировать</a> 
                <a asp-action="Details" asp-route-id="@item.HostelInfoId">Подробнее</a> 
                <a asp-action="Delete" asp-route-id="@item.HostelInfoId">Удалить</a>
=======
                @Html.DisplayFor(modelItem => item.NameIndicator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Itemprop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
>>>>>>> b8a6b4ae3698bf48f45ccaeb99c2989fbe754293
            </td>
        </tr>
}
    </tbody>
</table>
