@model KisVuzDotNetCore2.Models.AcademicDegree

@{
    ViewData["Title"] = "Подробнее об учёной степени";
}

<h2>Подробнее об учёной степени</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcademicDegreeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicDegreeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcademicDegreeGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicDegreeGroup.AcademicDegreeGroupName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AcademicDegreeId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index"class="btn btn-default">Отмена</a>
</div>
