@model IEnumerable<Article>

<h1>Удаление научных статей, опубликованных до указанного года включительно</h1>

<div class="panel panel-default">
    <div class="panel-heading">Фильтр</div>
    <div class="panel-body">
        <form asp-action="RemoveArticles" class="form-inline">
            <div class="form-group">
                <label for="FilterLastNameFragment">Год</label>
                <input type="text" name="Year" value="@ViewBag.Year" class="form-control" id="Year" placeholder="Год">
            </div>            

            <input type="hidden" name="IsRequestDataImmediately" value="true" />
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Применить фильтр
            </button>

            <a asp-action="RemoveArticlesConfirmation" asp-route-year="@ViewBag.Year" class="btn btn-danger">Удалить найденные статьи</a>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year.YearName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleAuthors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VipuskNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScienceJournal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowStatus)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Year?.YearName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleName)
                </td>
                <td>
                    @foreach (var articleAuthor in item.ArticleAuthors)
                    {
                        if (articleAuthor.Author.AppUserId != null)
                        {
                            <p>
                                <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@articleAuthor.Author.AppUserId">@articleAuthor.Author.AuthorName</a>
                            </p>
                        }
                        else
                        {
                            <p>
                                @articleAuthor.Author.AuthorName
                            </p>
                        }

                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VipuskNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pages)
                </td>
                <td>
                    @if (item.FileModel != null)
                    {
                        <a href="/@item.FileModel.Path">Открыть</a>
                    }
                    else
                    {
                        <text>-</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScienceJournal.ScienceJournalName)
                </td>
                <td>
                    @if (@item.RowStatusId != (int)RowStatusEnum.Confirmed)
                    {
                        <form asp-action="ConfirmArticle">
                            <input type="hidden" name="articleId" value="@item.ArticleId" />
                            <input type="submit" value="Подтвердить" class="btn btn-block btn-primary" />
                        </form>
                    }
                    else
                    {
                        <text>@item.RowStatus.RowStatusName</text>
                    }
                </td>                
            </tr>
        }
    </tbody>
</table>