@model KisVuzDotNetCore2.Models.Nir.Monograf

@{
    ViewData["Title"] = "Удалить сведения о монографии";
}

<h3>Удалить сведения о монографии?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonografName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonografName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsACHII)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsACHII)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileModel.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RowStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RowStatus.RowStatusId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year.YearId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MonografId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
