@model KisVuzDotNetCore2.Models.Users.RefresherCourse

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Курс повышения квалификации</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RefresherCourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefresherCourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefresherCourseHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefresherCourseHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefresherCourseCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefresherCourseCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefresherCourseInstitition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefresherCourseInstitition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefresherCourseDateStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefresherCourseDateStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefresherCourseDateFinish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefresherCourseDateFinish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefresherCourseDateIssue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefresherCourseDateIssue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefresherCourseRegNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefresherCourseRegNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd>
            <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@Model.AppUser.Id">@Model.AppUser.GetFullName</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefresherCourseFile)
        </dt>
        <dd>
            <a href="/@Model.RefresherCourseFile.Path">Открыть</a>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RefresherCourseId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" asp-route-id="@Model.AppUser.Id" class="btn btn-default">Отмена</a>
    </form>
</div>
