@model IEnumerable<KisVuzDotNetCore2.Models.Users.RefresherCourse>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RefresherCourseRegNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefresherCourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefresherCourseHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefresherCourseCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefresherCourseInstitition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefresherCourseDateStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefresherCourseDateFinish)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefresherCourseDateIssue)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefresherCourseFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RefresherCourseRegNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefresherCourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefresherCourseHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefresherCourseCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefresherCourseInstitition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefresherCourseDateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefresherCourseDateFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefresherCourseDateIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefresherCourseFile.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RefresherCourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RefresherCourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RefresherCourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
