@{
    ViewData["Title"] = "Объем образовательной деятельности";
}

<h1>Финансово-хозяйственная деятельность</h1>
@{
    var t22volume = (IEnumerable<Volume>)ViewData["t22volume"];
    var InfOPostupleniiIRashodovaniiFinIMaterialnihSredstv = (FileDataType)ViewData["InfOPostupleniiIRashodovaniiFinIMaterialnihSredstv"];
    var planFinansovoHozyaystvennoyDeyatelnosti = (FileDataType)ViewData["planFinansovoHozyaystvennoyDeyatelnosti"];
    var busGovRuLink = (InstituteLink)ViewData["busGovRuLink"];
}

<a href="#spoiler-1" data-toggle="collapse" class="btn btn-primary btn-block">Объем образовательной деятельности</a>
<div class="collapse" id="spoiler-1">
    <div class="well">

        <table itemprop="volume" class="table table-hover">
            <thead>
                <tr>
                    <th>за счет бюджетных ассигнований федерального бюджета (тыс. руб.)</th>
                    <th>за счет  бюджетов субъектов Российской Федерации (тыс. руб.)"</th>
                    <th>за счет местных бюджетов (тыс. руб.)</th>
                    <th>по договорам об образовании за счет средств физических и (или) юридических лиц (тыс. руб.)</th>
                </tr>
            </thead>
            @foreach (var item in t22volume)
            {
                <tr itemprop="volume">
                    <td itemprop="finBFVolume">@item.FinBFVolume</td>
                    <td itemprop="finBRVolume">@item.FinBRVolume</td>
                    <td itemprop="finBMVolume">@item.FinBMVolume</td>
                    <td itemprop="finPVolume">@item.FinPVolume</td>
                </tr>
            }
        </table>
    </div>
</div>

<a href="#spoiler-2" data-toggle="collapse" class="btn btn-primary btn-block">Информация о поступлении и расходовании финансовых и материальных средств</a>
<div class="collapse" id="spoiler-2">
    <div class="well" itemprop="volume">
        @foreach (var ftft in InfOPostupleniiIRashodovaniiFinIMaterialnihSredstv.FileToFileTypes)
        {
            <div itemprop="finSred">
                <div itemprop="finPost">
                    <div itemprop="finRas">
                        <p itemprop="@ftft.FileDataType.Itemprop"><a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
                    </div>
                </div>                
            </div>
        }
    </div>
</div>

<a href="#spoiler-3" data-toggle="collapse" class="btn btn-primary btn-block">План финансово-хозяйственной деятельности</a>
<div class="collapse" id="spoiler-3">
    <div class="well" itemprop="volume">
        @foreach (var ftft in planFinansovoHozyaystvennoyDeyatelnosti.FileToFileTypes)
        {
            <p itemprop="planFinRec"><a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
        }
    </div>
</div>

<a href="#spoiler-4" data-toggle="collapse" class="btn btn-primary btn-block">@busGovRuLink?.InstituteLinkDescription</a>
<div class="collapse" id="spoiler-4">
    <div class="well" itemprop="volume">
        <p itemprop="busgovFinRec">
            <a href="@busGovRuLink?.InstituteLinkLink">@busGovRuLink?.InstituteLinkDescription</a>
        </p>
    </div>
</div>
