@{
    ViewData["Title"] = "Объем образовательной деятельности";
}

<h1>Финансово-хозяйственная деятельность</h1>
@{
    var t22volume = (IEnumerable<Volume>)ViewData["t22volume"];
    var InfOPostupleniiIRashodovaniiFinIMaterialnihSredstv = (FileDataType)ViewData["InfOPostupleniiIRashodovaniiFinIMaterialnihSredstv"];
    var planFinansovoHozyaystvennoyDeyatelnosti = (FileDataType)ViewData["planFinansovoHozyaystvennoyDeyatelnosti"];
    var busGovRuLink = (InstituteLink)ViewData["busGovRuLink"];
}

<a href="#spoiler-1" data-toggle="collapse" class="btn btn-primary btn-block">Информация об объеме образовательной деятельности</a>
<div class="collapse" id="spoiler-1">
    <div class="well">

        <table itemprop="volume" class="table table-hover">
            <thead>
                <tr>
                    <th colspan="4" class="text-center">Объём образовательной деятельности, финансовое обеспечение которой осуществляется</th>
                </tr>
                <tr>
                    <th>за счет бюджетных ассигнований федерального бюджета (тыс. руб.)</th>
                    <th>за счет  бюджетов субъектов Российской Федерации (тыс. руб.)</th>
                    <th>за счет местных бюджетов (тыс. руб.)</th>
                    <th>по договорам об оказании платных образовательных услуг (тыс. руб.)</th>
                </tr>
            </thead>
            @foreach (var item in t22volume)
            {
                <tr itemprop="volume">
                    <td itemprop="finBFVolume">@item.FinBFVolume</td>
                    <td itemprop="finBRVolume">@item.FinBRVolume</td>
                    <td itemprop="finBMVolume">@item.FinBMVolume</td>
                    <td itemprop="finPVolume">@item.FinPVolume</td>
                </tr>
            }
        </table>
    </div>
</div>

<a href="#spoiler-2" data-toggle="collapse" class="btn btn-primary btn-block">Информация о поступлении финансовых и материальных средств и об их расходовании</a>
<div class="collapse" id="spoiler-2">
    <div class="well" itemprop="volume">

        <table class="table">
            <thead>
                <tr>
                    <th>Год</th>
                    <th>Поступившие финансовые и материальные средства, тыс. руб.</th>
                    <th>Расходованные финансовые и материальные средства, тыс. руб.</th>
                </tr>                
            </thead>
            <tbody>
                <tr>
                    <td itemprop="finYear">2019</td>
                    <td itemprop="finPost">269 753,70</td>
                    <td itemprop="finRas">266 059,80</td>
                </tr>
                <tr>
                    <td itemprop="finYear">2020</td>
                    <td itemprop="finPost">273 039,00</td>
                    <td itemprop="finRas">273 218,60</td>
                </tr>
                <tr>
                    <td itemprop="finYear">2021</td>
                    <td itemprop="finPost">274 658,3</td>
                    <td itemprop="finRas">283 420,9</td>
                </tr>
                <tr>
                    <td itemprop="finYear">2022</td>
                    <td itemprop="finPost">303 271,1</td>
                    <td itemprop="finRas">297 380,3</td>
                </tr>
                <tr>
                    <td itemprop="finYear">2023</td>
                    <td itemprop="finPost">288 664,5</td>
                    <td itemprop="finRas">298 712,7</td>
                </tr>
                
            </tbody>
        </table>

        @foreach (var ftft in InfOPostupleniiIRashodovaniiFinIMaterialnihSredstv.FileToFileTypes.OrderBy(ftft => ftft.FileModel.Name))
        {
            <div itemprop="finYear">
                <div itemprop="finPost">
                    <div itemprop="finRas">
                        <p itemprop="@ftft.FileDataType.Itemprop"><a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
                    </div>
                </div>                
            </div>
        }
    </div>
</div>

<a href="#spoiler-3" data-toggle="collapse" class="btn btn-primary btn-block">План финансово-хозяйственной деятельности</a>
<div class="collapse" id="spoiler-3">
    <div class="well" itemprop="volume">
        @foreach (var ftft in planFinansovoHozyaystvennoyDeyatelnosti.FileToFileTypes.OrderBy(ftft => ftft.FileModel.Name))
        {
            <p itemprop="finPlanDocLink"><a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
        }
    </div>
</div>

<a href="#spoiler-4" data-toggle="collapse" class="btn btn-primary btn-block">@busGovRuLink?.InstituteLinkDescription</a>
<div class="collapse" id="spoiler-4">
    <div class="well" itemprop="volume">
        <p itemprop="busgovFinRec">
            <a href="@busGovRuLink?.InstituteLinkLink">@busGovRuLink?.InstituteLinkDescription</a>
        </p>
    </div>
</div>
