<h1>Основные сведения</h1>

@{
    var t3uchred = (IEnumerable<UchredLaw>)ViewData["t3uchred"];
    var t4filInfo = (IEnumerable<FilInfo>)ViewData["t4filInfo"];
}


<a href="#spoiler-1" data-toggle="collapse" class="btn btn-primary btn-block">Основные сведения</a>
<div class="collapse" id="spoiler-1">
    <div class="well">
        <table class="table" itemprop="osnovSveden">
            <tr>
                <th>Дата создания образовательной организации</th>
                <td itemprop="regDate">@ViewData["DateOfCreation"]</td>
            </tr>
            <tr>
                <th>Адрес местонахождения образовательной организации</th>
                <td itemprop="address">@ViewData["Address"]</td>
            </tr>
            <tr>
                <th>Режим, график работы ОО и её филиалов</th>
                <td itemprop="workTime">
                    <p>@ViewData["WorkingRegime"]</p>
                    <p>@ViewData["WorkingSchedule"]</p>
                </td>
            </tr>
            <tr>
                <th>Контактные телефоны ОО и её филиалов</th>
                <td itemprop="telephone">
                    @foreach (Telephone tel in (List<Telephone>)ViewData["Telephones"])
                    {
                        <p><b>@tel.TelephoneNumber</b> - @tel.TelephoneComment</p>
                    }
                </td>
            </tr>
            <tr>
                <th>Факсы</th>
                <td itemprop="fax">
                    @foreach (Fax fax in (List<Fax>)ViewData["Faxes"])
                    {
                        <p><b>@fax.FaxValue</b></p>
                    }
                </td>
            </tr>
            <tr>
                <th>Адреса электронной почты ОО и её филиалов</th>
                <td itemprop="email">
                    @foreach (Email email in (List<Email>)ViewData["Emailes"])
                    {
                        <p><b>@email.EmailValue</b></p>
                    }
                </td>
            </tr>
            <tr>
                <th>Филиалы образовательной организации</th>
                <td>
                    @((bool)ViewData["ExistenceOfFilials"] ? "Есть" : "Нет")
                </td>
            </tr>
            @if (t4filInfo.Count() > 0)
            {
                foreach (var item in t4filInfo)
                {                    
                    <tr itemprop="filInfo">
                        <th>Наименование филиала</th>
                        <td itemprop="nameFil">@item.NameFil</td>
                    </tr>
                    <tr itemprop="filInfo">
                        <th>Адрес местонахождения филиала образовательной организации</th>
                        <td itemprop="addressFil">@item.AddressFil</td>
                    </tr>
                    <tr itemprop="filInfo">
                        <th>Адрес официального сайта в сети "Интернет"</th>
                        <td itemprop="websiteFil">@item.WebsiteFil</td>
                    </tr>
                }
            }
            else
            {
                <tr itemprop="filInfo">
                    <th>Наименование филиала</th>
                    <td itemprop="nameFil">Филиалов нет</td>
                </tr>
                <tr itemprop="filInfo">
                    <th>Адрес местонахождения филиала образовательной организации</th>
                    <td itemprop="addressFil">Филиалов нет</td>
                </tr>
                <tr itemprop="filInfo">
                    <th>Адрес официального сайта в сети "Интернет"</th>
                    <td itemprop="websiteFil">Филиалов нет</td>
                </tr>
            }
        </table>
    </div>
</div>


<a href="#spoiler-2" data-toggle="collapse" class="btn btn-primary btn-block">Сведения об учредителях</a>
<div class="collapse" id="spoiler-2">
    <div class="well">        
            <table itemprop="uchredLaw" class="table table-hover">
                <thead>
                    <tr>
                        <th>Наименование учредителя</th>
                        <th>Фамилия, имя, отчество руководителя учредителя (ей) образовательной организации</th>
                        <th>Адрес местонахождения учредителя(ей)</th>
                        <th>Контактные телефоны</th>
                        <th>Адрес электронной почты</th>
                        <th>Адрес сайта учредителя(ей) в сети "Интернет"</th>
                    </tr>
                </thead>
                @foreach (var item in t3uchred)
                {
                    <tr itemprop="uchredLaw">
                        <td itemprop="nameUchred">@item.NameUchred</td>
                        <td itemprop="fullnameUchred">@item.FullnameUchred</td>
                        <td itemprop="addressUchred">@item.AddressUchred</td>
                        <td itemprop="telUchred">@item.TelUchred</td>
                        <td itemprop="mailUchred">@item.mailUchred</td>
                        <td itemprop="websiteUchred"><a href="@item.WebsiteUchred">@item.WebsiteUchred</a></td>
                    </tr>
                }
            </table>
    </div>
</div>


@*<a href="#spoiler-3" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о филиалах</a>
<div class="collapse" id="spoiler-3">
    <div class="well">
        <table itemprop="filInfo" class="table table-bordered table-hover table-striped">
            <thead>
                <tr itemprop="filInfo">
                    <th>Наименование филиала</th>
                    <th>Адрес местонахождения филиала образовательной организации</th>
                    <th>Адрес официального сайта в сети "Интернет" (при наличии)</th>
                </tr>
            </thead>
            <tbody>
                @if (t4filInfo.Count() > 0)
                {
                    foreach (var item in t4filInfo)
                    {
                        <tr itemprop="filInfo">
                            <td itemprop="nameFil">@item.NameFil</td>
                            <td itemprop="addressFil">@item.AddressFil</td>
                            <td itemprop="websiteFil">@item.WebsiteFil</td>
                        </tr>
                    }
                }
                else
                {
                    <tr itemprop="filInfo">
                        <td itemprop="nameFil" colspan="3" align="center">Филиалов нет</td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@