<h1>Основные сведения</h1>

<p>
    На данной странице представлена информация о полном и сокращенном (при наличии) наименовании образовательной организации,
    о дате создания образовательной организации,
    об учредителе, учредителях образовательной организации,
    о месте нахождения образовательной организации, ее представительств и филиалов (при наличии),
    режиме, графике работы, контактных телефонах и об адресах электронной почты образовательной организации, её представительств и филиалов,
    об адресах официальных сайтов представительств и филиалов образовательной организации (при наличии представительств и филиалов)
    или страницах в информационно-телекоммуникационной сети "Интернет",
    о местах осуществления образовательной деятельности образовательной организации,
    в том числе не указанных в приложении к лицензии (реестре лицензий) на осуществление образовательной деятельности.
</p>

@{
    var t3uchred = (IEnumerable<UchredLaw>)ViewData["t3uchred"];
    var t4filInfo = (IEnumerable<FilInfo>)ViewData["t4filInfo"];
}


<a href="#spoiler-1" data-toggle="collapse" class="btn btn-primary btn-block">
    Основные сведения
</a>
<div class="collapse" id="spoiler-1">
    <div class="well">
        <table class="table" itemprop="osnovSveden">
            <tr>
                <th>Полное наименование образовательной организации</th>
                <td itemprop="fullName">Азово-Черноморский инженерный институт-филиал 
                федерального государственного бюджетного образовательного учреждения высшего образования
                "Донской государственный аграрный университет" в г. Зернограде</td>
            </tr>
            <tr>
                <th>Сокращенное наименование образовательной организации (при наличии)</th>
                <td itemprop="shortName">Азово-Черноморский инженерный институт ФГБОУ ВО Донской ГАУ</td>
            </tr>
            <tr>
                <th>Дата создания образовательной организации</th>
                <td itemprop="regDate">@ViewData["DateOfCreation"]</td>
            </tr>
            <tr>
                <th>Адрес местонахождения образовательной организации</th>
                <td itemprop="address">@ViewData["Address"]</td>
            </tr>
            <tr>
                <th>Филиалы образовательной организации</th>
                <td>
                    @((bool)ViewData["ExistenceOfFilials"] ? "Имеются" : "Отсутствуют")
                </td>
            </tr>
            <tr>
                <th>Представительства образовательной организации</th>
                <td>
                    Отсутствуют
                </td>
            </tr>
            <tr>
                <th>Режим, график работы</th>
                <td itemprop="workTime">
                    <p>@ViewData["WorkingRegime"]</p>
                    <p>@ViewData["WorkingSchedule"]</p>
                </td>
            </tr>
            <tr>
                <th>Контактные телефоны</th>
                <td itemprop="telephone">
                    @foreach (Telephone tel in (List<Telephone>)ViewData["Telephones"])
                    {
                        <p><b>@tel.TelephoneNumber</b> - @tel.TelephoneComment</p>
                    }
                </td>
            </tr>
            <tr>
                <th>Факсы</th>
                <td itemprop="fax">
                    @foreach (Fax fax in (List<Fax>)ViewData["Faxes"])
                    {
                        <p><b>@fax.FaxValue</b></p>
                    }
                </td>
            </tr>
            <tr>
                <th>Адреса электронной почты</th>
                <td itemprop="email">
                    @foreach (Email email in (List<Email>)ViewData["Emailes"])
                    {
                        <p><b>@email.EmailValue</b></p>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>



<a href="#spoiler-3" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о филиалах</a>
<div class="collapse" id="spoiler-3">
    <div class="well">
        <table itemprop="filInfo" class="table table-bordered table-hover table-striped">
            <thead>
                <tr itemprop="filInfo">
                    <th>№ п/п</th>
                    <th>Наименование филиала</th>
                    <th>Адрес места нахождения</th>
                    <th>Режим и график работы</th>
                    <th>Контактные телефоны</th>
                    <th>Электронная почта</th>
                    <th>Адрес официального сайта или страницы филиала в сети "Интернет" (при наличии)</th>
                </tr>
            </thead>
            <tbody>
                @if (t4filInfo.Count() > 0)
                {
                    foreach (var item in t4filInfo)
                    {
                        <tr itemprop="filInfo">
                            <td itemprop="nameFil">@item.NameFil</td>
                            <td itemprop="addressFil">@item.AddressFil</td>
                            <td itemprop="websiteFil">@item.WebsiteFil</td>
                        </tr>
                    }
                }
                else
                {
                    <tr itemprop="filInfo">
                        <td itemprop="nameFil" colspan="7" align="center">Филиалов нет</td>

                        <td itemprop="addressFil" class="hidden">Филиалов нет</td>
                        <td itemprop="workTimeFil" class="hidden">Филиалов нет</td>
                        <td itemprop="telephoneFil" class="hidden">Филиалов нет</td>
                        <td itemprop="emailFil" class="hidden">Филиалов нет</td>
                        <td itemprop="websiteFil" class="hidden">Филиалов нет</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<a href="#spoiler-4" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о представительствах</a>
<div class="collapse" id="spoiler-4">
    <div class="well">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Наименование представительства</th>
                    <th>Адрес места нахождения</th>
                    <th>Режим и график работы</th>
                    <th>Контактные телефоны</th>
                    <th>Электронная почта</th>
                    <th>Адрес официального сайта или страницы представительства в сети "Интернет" (при наличии)</th>
                </tr>
            </thead>
            <tbody>
                <tr itemprop="repInfo">
                    <td itemprop="nameRep" colspan="7" align="center">Представительств нет</td>

                    <td itemprop="addressRep" class="hidden">Представительств нет</td>
                    <td itemprop="workTimeRep" class="hidden">Представительств нет</td>
                    <td itemprop="telephoneRep" class="hidden">Представительств нет</td>
                    <td itemprop="emailRep" class="hidden">Представительств нет</td>
                    <td itemprop="websiteRep" class="hidden">Представительств нет</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<a href="#spoiler-5" data-toggle="collapse" class="btn btn-primary btn-block">Сведения об учредителях</a>
<div class="collapse" id="spoiler-5">
    <div class="well" itemprop="osnovSveden">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Наименование учредителя</th>
                    <th>Адрес местонахождения учредителя(ей)</th>
                    <th>Контактные телефоны</th>
                    <th>Адрес электронной почты</th>
                    <th>Адрес сайта учредителя(ей) в сети "Интернет"</th>
                </tr>
            </thead>
            @foreach (var item in t3uchred)
            {
                <tr itemprop="uchredLaw">
                    <td itemprop="nameUchred">@item.NameUchred</td>
                    @*<td itemprop="fullnameUchred">@item.FullnameUchred</td>*@
                    <td itemprop="addressUchred">@item.AddressUchred</td>
                    <td itemprop="telUchred">@item.TelUchred</td>
                    <td itemprop="mailUchred">@item.mailUchred</td>
                    <td itemprop="websiteUchred"><a href="@item.WebsiteUchred">@item.WebsiteUchred</a></td>
                </tr>
            }
        </table>
    </div>
</div>



<a href="#spoiler-6" data-toggle="collapse" class="btn btn-primary btn-block">
    Места осуществления образовательной деятельности,<br>
    в том числе не указываемые в приложении к лицензии (реестре лицензий) на осужествление образовательной деятельности
</a>
<div class="collapse" id="spoiler-6">    
    <div class="well">
        <div>
            <p>
                Информация о местах осуществления образовательной деятельности,
                в том числе не указываемых в соответствии с частью 4 статьи 91 Федерального закона от 29.12.2021 № 273-ФЗ "Об образовании в Российской Федерации"
                (Собрание законодательства Российской Федерации, 2012, № 53, ст. 7598; 2019, № 52, ст. 7796)
                в приложении к лицензии (реестре лицензий) на осуществление образовательной деятельности.
            </p>            

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>№ п/п</th>
                        @*<th>Наименование объекта</th>*@
                        <th>Адрес места осуществления образовательной деятельности</th>
                        @*<th>Направления осуществления образовательной деятельности</th>
                        <th>Назначение объекта</th>
                        <th>Площадь (кв.м.)</th>
                        <th>Документы</th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        @*<td>Корпус №1</td>*@
                        <td itemprop="addressPlace">347740, Ростовская область, г. Зерноград, ул. Ленина, 19</td>
                        @*<td>
                            <ul>
                                <li>Места проведения государственной итоговой аттестации</li>
                                <li>Места осуществления образовательной деятельности по дополнительным профессиональным программам</li>
                            </ul>
                        </td>
                        <td>Учебный корпус</td>
                        <td>8549,1</td>
                        <td></td>*@
                    </tr>
                    <tr>
                        <td>2</td>
                        @*<td>Спортзал</td>*@
                        <td itemprop="addressPlace">347740, Ростовская область, г. Зерноград, ул. Ленина, 19а</td>
                        @*<td>
                            <ul>
                                <li>Места проведения государственной итоговой аттестации</li>
                                <li>Места осуществления образовательной деятельности по дополнительным профессиональным программам</li>
                            </ul>
                        </td>
                        <td>Учебный корпус</td>
                        <td>8549,1</td>
                        <td></td>*@
                    </tr>

                    <tr>
                        <td>4</td>
                        @*<td>Корпус №5</td>*@
                        <td itemprop="addressPlace">
                            347740, Ростовская область, г. Зерноград,
                            ул. Советская 15/4
                        </td>
                        @*<td>
                            <ul>
                                <li>Места осуществления образовательной деятельности по дополнительным профессиональным программам</li>
                            </ul>
                        </td>
                        <td>Учебный корпус</td>
                        <td>2851,7</td>
                        <td>
                            <a href="/manual/egrn_korp3.pdf" target="_blank">Выписка из ЕГРН</a>
                        </td>*@
                    </tr>
                    
                    <tr>
                        <td>6</td>
                        @*<td>Корпус №7</td>*@
                        <td itemprop="addressPlace">
                            347740, Ростовская область, г. Зерноград,
                            ул. Советская, 17
                        </td>
                        @*<td>
                            <ul>
                                <li>Места осуществления образовательной деятельности по дополнительным профессиональным программам</li>
                            </ul>
                        </td>
                        <td>Учебный корпус</td>
                        <td>1433,8</td>
                        <td>
                            <a href="/manual/egrn_korp7.pdf" target="_blank">Выписка из ЕГРН</a>
                        </td>*@
                    </tr>
                    
                    <tr>
                        <td>3</td>
                        @*<td>Корпус №3</td>*@
                        <td itemprop="addressPlace">
                            347740, Ростовская область, г. Зерноград,
                            ул. Советская 17/21
                        </td>
                        @*<td>
                            <ul>
                                <li>Места осуществления образовательной деятельности по дополнительным профессиональным программам</li>
                            </ul>
                        </td>
                        <td>Учебный корпус</td>
                        <td>2851,7</td>
                        <td>
                            <a href="/manual/egrn_korp3.pdf" target="_blank">Выписка из ЕГРН</a>
                        </td>*@
                    </tr>
                    
                    @*<tr>
                        <td>5</td>
                        <td>Корпус №6</td>
                        <td itemprop="addressPlace">
                            347740, Ростовская область, г. Зерноград,
                            ул. Советская 17/21
                        </td>
                        <td>
                            <ul>
                                <li>Места осуществления образовательной деятельности по дополнительным профессиональным программам</li>
                            </ul>
                        </td>
                        <td>Учебный корпус</td>
                        <td>2851,7</td>
                        <td>
                            <a href="/manual/egrn_korp3.pdf" target="_blank">Выписка из ЕГРН</a>
                        </td>
                    </tr>*@
                       
                    <tr>
                        <td>7</td>
                        @*<td>
                            Лаборатория сварки,
                            Учебно-производственные мастерские и гаражи
                        </td>*@
                        <td itemprop="addressPlace">
                            347740, Ростовская область, г. Зерноград,
                            ул. Советская, 21а
                        </td>
                        @*<td>
                            <ul>
                                <li>Места проведения практической подготовки обучающихся</li>
                            </ul>
                        </td>
                        <td>Мастерские, лаборатория</td>
                        <td>1506,1</td>
                        <td>
                            <a href="/manual/egrn_upm.pdf" target="_blank">Выписка из ЕГРН</a>
                        </td>*@
                    </tr>
                    
                    <tr>
                        <td>2</td>
                        @*<td>Корпус №2</td>*@
                        <td itemprop="addressPlace">
                            347740, Ростовская область, г. Зерноград,
                            ул. Советская 28/30
                        </td>
                        @*<td>
                            <ul>
                                <li>Места проведения государственной итоговой аттестации</li>
                                <li>Места осуществления образовательной деятельности по дополнительным профессиональным программам</li>
                            </ul>
                        </td>
                        <td>Учебный корпус</td>
                        <td>7673,1</td>
                        <td>
                            <a href="/manual/egrn_korp2.pdf" target="_blank">Выписка из ЕГРН</a>
                        </td>*@
                    </tr>
                                        
                    <tr>
                        <td>8</td>
                        @*<td>Здание учебных боксов</td>*@
                        <td itemprop="addressPlace">347740, Ростовская область, Зерноградский район, п. Кленовый, ул. Сидоренко, дом №1, №3</td>
                        @*<td>
                            <ul>
                                <li>Места проведения практической подготовки обучающихся</li>
                            </ul>
                        </td>
                        <td>Закрытая площадка для учебного вождения</td>
                        <td>237305,56</td>
                        <td>
                            <a href="/manual/egrn_box.pdf" target="_blank">Выписка из ЕГРН</a>
                        </td>*@
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
