@model FileDataTypeGroup

@{
    var polojeniya = (FileDataTypeGroup)ViewData["polojeniya"];
}

<h1>Документы</h1>
<div itemprop="copyDoc">
    @foreach (var fileDataType in Model.FileDataTypes)
    {
        <a href="#spoiler-@fileDataType.FileDataTypeId" data-toggle="collapse" class="btn btn-primary btn-block">@fileDataType.FileDataTypeName</a>
        <div class="collapse" id="spoiler-@fileDataType.FileDataTypeId" itemprop="docLink">
            <div class="well">
                @foreach (var ftft in fileDataType.FileToFileTypes)
                {
                    <p itemprop="@ftft.FileDataType.Itemprop">
                        <a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a>

                        @if (ftft.FileModel != null && ftft.FileModel?.SignList != null && ftft.FileModel?.SignList.Count != 0)
                        {
                            <img src="~/images/sign.png" height="40" data-toggle="modal" data-target="#modal-@fileDataType.FileDataTypeId" />
                        }
                        
                    </p>

                    <!-- Modal -->
                    <div class="modal fade" id="modal-@fileDataType.FileDataTypeId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Электронная цифровая подпись <img src="~/images/sign.png" height="100" /></h3>
                                    
                                </div>
                                <div class="modal-body">
                                    @if (ftft.FileModel == null || ftft.FileModel?.SignList == null || ftft.FileModel?.SignList.Count == 0)
                                    {
                                        <h4>Ошибка обнаружения ЭЦП. Обратитесь к администратору</h4>
                                    }
                                    else
                                    {
                                        <h4>Дата и время подписания: @ftft.FileModel?.SignList?.FirstOrDefault().SignDateTime.ToString()</h4>
                                        <h4>
                                            Фамилия, имя, отчество лица, подписавшего документ:
                                            @(ftft.FileModel?.SignList?.FirstOrDefault().LastName??"-")
                                            @(ftft.FileModel?.SignList?.FirstOrDefault().FirstName??"-")
                                            @(ftft.FileModel?.SignList?.FirstOrDefault().Patronymic??"-")
                                        </h4>
                                        <h4>
                                            Должность лица, подписавшего документ:
                                            @(ftft.FileModel?.SignList?.FirstOrDefault().Post??"-")
                                        </h4>
                                        <h4>Ключ: @(ftft.FileModel?.SignList?.FirstOrDefault().Key??"-")</h4>
                                    }

                                </div>
                                <div class="modal-footer">                                    
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <a href="#spoiler-11111" data-toggle="collapse" class="btn btn-primary btn-block">Документ об установлении размера платы,
        взимаемой с родителей (законных представителей) за присмотр и уход за детьми...</a>
    <div class="collapse" id="spoiler-11111" itemprop="docLink">
        <div class="well">
            <h4>
                Документ об установлении размера платы,
                взимаемой с родителей (законных представителей) за присмотр и уход за детьми,
                осваивающими образовательные программы дошкольного образования в организациях,
                осуществляющих образовательную деятельность,
                за содержание детей в образовательной организации,
                реализующей образовательные программы начального общего,
                основного общего или среднего общего образования,
                если в такой образовательной организации созданы условия для проживания обучающихся в интернате,
                либо за осуществление присмотра и ухода за детьми в группах продленного дня в образовательной организации,
                реализующей образовательные программы начального общего, основного общего или среднего общего образования
            </h4>
            <p itemprop="paidParents">
                В образовательной организации не реализуются образовательные программы дошкольного, начального общего, основного общего и среднего общего образования
            </p>
        </div>
    </div>
</div>

<h3>Положения</h3>
@foreach (var fileDataType in polojeniya.FileDataTypes)
{
    <a href="#spoiler-@fileDataType.FileDataTypeId" data-toggle="collapse" class="btn btn-primary btn-block">@fileDataType.FileDataTypeName</a>
    <div class="collapse" id="spoiler-@fileDataType.FileDataTypeId">
        <div class="well">
            @foreach (var ftft in fileDataType.FileToFileTypes)
            {
                <p itemprop="@ftft.FileDataType.Itemprop">
                    <a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a>

                    @if (ftft.FileModel != null && ftft.FileModel?.SignList != null && ftft.FileModel?.SignList.Count != 0)
                    {
                        <img src="~/images/sign.png" height="40" data-toggle="modal" data-target="#modal-@fileDataType.FileDataTypeId" />
                    }
                </p>

                <!-- Modal -->
                <div class="modal fade" id="modal-@fileDataType.FileDataTypeId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">Электронная цифровая подпись <img src="~/images/sign.png" height="100" /></h3>

                            </div>
                            <div class="modal-body">
                                @if (ftft.FileModel == null || ftft.FileModel?.SignList == null || ftft.FileModel?.SignList.Count == 0)
                                {
                                    <h4>Ошибка обнаружения ЭЦП. Обратитесь к администратору</h4>
                                }
                                else
                                {
                                    <h4>Дата и время подписания: @ftft.FileModel?.SignList?.FirstOrDefault().SignDateTime.ToString()</h4>
                                    <h4>
                                        Фамилия, имя, отчество лица, подписавшего документ:
                                        @(ftft.FileModel?.SignList?.FirstOrDefault().LastName??"-")
                                        @(ftft.FileModel?.SignList?.FirstOrDefault().FirstName??"-")
                                        @(ftft.FileModel?.SignList?.FirstOrDefault().Patronymic??"-")
                                    </h4>
                                    <h4>
                                        Должность лица, подписавшего документ:
                                        @(ftft.FileModel?.SignList?.FirstOrDefault().Post??"-")
                                    </h4>
                                    <h4>Ключ: @(ftft.FileModel?.SignList?.FirstOrDefault().Key??"-")</h4>
                                }

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}



