@{
    ViewData["Title"] = "Образования";
}

<h1>Образование</h1>

@{
    var t6eduAccred = (IEnumerable<EduNapravl>)ViewData["t6eduAccred"];
    var t7eduChislen = (IEnumerable<EduChislen>)ViewData["t7eduChislen"];
}

<a href="#spoiler-1" data-toggle="collapse" class="btn btn-primary btn-block">Информация о сроке действия государственной аккредитации образовательной программы, о языках, на которых осуществляется образование (обучение)</a>
<div class="collapse" id="spoiler-1">
    <div class="well">

        <table itemprop="eduAccred" class="table table-hover">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Наименование специальности, направления подготовки</th>
                    <th>Уровень образования</th>
                    <th>Срок действия государственной аккредитации (дата окончания действия свидетельства о государственной аккредитации)</th>
                    <th>Языки, на которых осуществляется образование (обучение)</th>
                </tr>
                <tr>
                    <th align=center>1</th>
                    <th align=center>2</th>
                    <th align=center>3</th>
                    <th align=center>4</th>
                    <th align=center>5</th>
                </tr>
            </thead>
            @foreach (var item in t6eduAccred)
    {
        <tr itemprop="eduAccred">
            <td itemprop="eduCode">@item.EduNapravlCode</td>
            <td itemprop="eduName">@item.EduNapravlName</td>
            <td itemprop="eduLevel">@item.EduUgs.EduLevel.EduLevelName</td>
            <td itemprop="dateEnd">@item.EduUgs.EduAccred?.EduAccredDateExpiration.ToString("dd.MM.yyyy")</td>
            <td itemprop="language">Русский</td>
        </tr>
}
        </table>
    </div>
</div>

<a href="#spoiler-2" data-toggle="collapse" class="btn btn-primary btn-block">Информация о численности обучающихся по реализуемым образовательным программам за счет бюджетных ассигнований федерального бюджета,</br> бюджетов субъектов Российской Федерации, местных бюджетов и по договорам об образовании за счет средств физических и (или) юридических лиц</a>
<div class="collapse" id="spoiler-2">
    <div class="well">

        <table itemprop="eduChislen" class="table table-hover">
            <thead>
                <tr>
                    <th rowspan=2>Код</th>
                    <th rowspan=2>Наименование специальности, направление подготовки</th>
                    <th rowspan=2>Уровень образования</th>
                    <th rowspan=2>Формы обучения</th>
                    <th colspan=4>Численность обучающихся за счет (количество человек):</th>
                </tr>
                <tr>
                    <th>бюджетных ассигнований федерального бюджета</th>
                    <th>бюджетов субъектов Российской Федерации</th>
                    <th>местных бюджетов</th>
                    <th>средств физических и (или) юридических лиц</th>
                </tr>
                <tr>
                    <td align=center><strong>1</strong></td>
                    <td align=center><strong>2</strong></td>
                    <td align=center><strong>3</strong></td>
                    <td align=center><strong>4</strong></td>
                    <td align=center><strong>5</strong></td>
                    <td align=center><strong>6</strong></td>
                    <td align=center><strong>7</strong></td>
                    <td align=center><strong>8</strong></td>
                </tr>
            </thead>
                @foreach (var item in t7eduChislen)
        {
            <tr itemprop="eduChislen">
                <td itemprop="eduCode">@item.EduProfile.EduNapravl.EduNapravlCode</td>
                <td itemprop="eduName">@item.EduProfile.EduNapravl.EduNapravlName</td>
                <td itemprop="eduLevel">@item.EduProfile.EduNapravl.EduUgs.EduLevel.EduLevelName</td>
                <td itemprop="eduForm">@item.EduForm.EduFormName</td>
                <td itemprop="NumberBFpriem" align=center>@item.NumberBFpriem</td>
                <td itemprop="NumberBRpriem" align=center>@item.NumberBRpriem</td>
                <td itemprop="NumberBMpriem" align=center>@item.NumberBMpriem</td>
                <td itemprop="NumberPpriem" align=center>@item.NumberPpriem</td>
            </tr>
}
        </table>
    </div>
</div>