@{
    ViewData["Title"] = "Образование";

    var license = (IEnumerable<FileDataType>)ViewData["license"];
    var t9eduAccred = (IEnumerable<EduNapravlEduFormEduSrok>)ViewData["t9eduAccred"];
    var t7eduChislen = (IEnumerable<EduChislen>)ViewData["t7eduChislen"];
    var t8eduPriem = (IEnumerable<EduPriem>)ViewData["t8eduPriem"];
    var t9eduPerevod = (IEnumerable<EduPerevod>)ViewData["t9eduPerevod"];
    var t10eduPrograms = (IEnumerable<EduProgram>)ViewData["t10eduPrograms"];
    var eduShedules = (IEnumerable<EduShedule>)ViewData["eduShedules"];
    var eduPlans = (IEnumerable<EduPlan>)ViewData["eduPlans"];
    var t11eduOPYears = (IEnumerable<EduOPYear>)ViewData["t11eduOPYears"];
    var t11eduObrProg = (IEnumerable<EduPr>)ViewData["t11eduObrProg"];
    var t13eduNir = (IEnumerable<EduNir>)ViewData["t13eduNir"];

    int spoilerCounter = 1;

    string openedSpoiler = (string)ViewBag.OpenedSpoiler;
    string eduAccredClass = "collapse";
    string eduPOAccredClass = "collapse";
    string eduChislenClass = "collapse";
    string eduPriemClass = "collapse";
    string eduPerevodClass = "collapse";
    string eduProgramsClass = "collapse";
    string eduAdOpClass = "collapse";
    string eduOAccredClass = "collapse";
    string eduNirClass = "collapse";
    string eduDPOClass = "collapse";

    switch (openedSpoiler)
    {
        case "eduAccred":
            eduAccredClass = "collapse.in";
            break;
        case "eduPOAccred":
            eduPOAccredClass = "collapse.in";
            break;
        case "eduChislen":
            eduChislenClass = "collapse.in";
            break;
        case "eduPriem":
            eduPriemClass = "collapse.in";
            break;
        case "eduPerevod":
            eduPerevodClass = "collapse.in";
            break;
        case "eduPrograms":
            eduProgramsClass = "collapse.in";
            break;
        case "eduAdOp":
            eduAdOpClass = "collapse.in";
            break;
        case "eduOAccred":
            eduOAccredClass = "collapse.in";
            break;
        case "eduNir":
            eduNirClass = "collapse.in";
            break;
        case "eduDPO":
            eduDPOClass = "collapse.in";
            break;
        default:
            break;
    }
}


<h1>Образование</h1>


<div itemprop="copyDoc">
    @foreach (var fileDataType in license)
    {
        <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">@fileDataType.FileDataTypeName</a>
        <div class="collapse" id="spoiler-@spoilerCounter" itemprop="docLink">
            @{spoilerCounter++;}
            <div class="well">
                @foreach (var ftft in fileDataType.FileToFileTypes)
                {
                    <p itemprop="@ftft.FileDataType.Itemprop">
                        <a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a>
                    </p>
                }
            </div>
        </div>
    }
</div>


@if (openedSpoiler != "eduAccred" && !string.IsNullOrWhiteSpace(openedSpoiler))
{
    <a asp-route-openedSpoiler="eduAccred" class="btn btn-primary btn-block">
        Информация о сроке действия государственной аккредитации образовательной программы,<br />
        о языках, на которых осуществляется образование (обучение)
    </a>
}
else
{
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
        Информация о сроке действия государственной аккредитации образовательной программы,<br />
        о языках, на которых осуществляется образование (обучение)
    </a>
    <div class="@eduAccredClass" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            @{spoilerCounter++;}
            <div class="well">
                <a itemprop="languageEl" href="">Электронный документ, подписанный электронной подписью, содержащий информацию о языках, на которых осуществляется образование (обучение)</a>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Код, шифр</th>
                            <th>Наименование профессии, специальности, направления подготовки, научной специальности</th>
                            <th>Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                            <th>Уровень образования</th>
                            <th>Формы обучения</th>
                            <th>Нормативный срок обучения</th>
                            <th>Срок действия государственной аккредитации<br /> (дата окончания действия свидетельства о государственной аккредитации)</th>
                            <th>Языки, на которых осуществляется образование (обучение)</th>
                            <th>Учебные предметы, курсы, дисциплины (модули), предусмотренные соответствующей образовательной программой</th>
                            <th>Практики, предусмотренные соответствующей образовательной программой</th>
                            <th>Информация об использовании при реализации образовательных программ электронного обучения и дистанционных образовательных техноогий</th>
                        </tr>
                        <tr>
                            <th align=center>1</th>
                            <th align=center>2</th>
                            <th align=center>3</th>
                            <th align=center>4</th>
                            <th align=center>5</th>
                            <th align=center>6</th>
                            <th align=center>7</th>
                            <th align=center>8</th>
                            <th align=center>9</th>
                            <th align=center>10</th>
                            <th align=center>11</th>
                        </tr>
                    </thead>
                    @foreach (var item in t9eduAccred
.OrderBy(item => item.EduNapravl.EduUgs.EduLevelId)
.ThenBy(item => item.EduNapravl.EduNapravlCode))
                    {
                        <tr itemprop="eduAccred">
                            <td itemprop="eduCode">@item.EduNapravl.EduNapravlCode</td>
                            <td itemprop="eduName">@item.EduNapravl.EduNapravlName</td>
                            <td itemprop="eduProf">
                                @if (item.EduNapravl.EduProfiles!=null)
                                {
                                    foreach (var eduProfile in item.EduNapravl.EduProfiles)
                                    {
                                        @eduProfile.EduProfileName
                                        <br />
                                    }
                                }
                                else
                                {
                                    <text>-</text>
                                }

                            </td>
                            <td itemprop="eduLevel">@item.EduNapravl.EduUgs.EduLevel.EduLevelName</td>
                            <td itemprop="eduForm">
                                @item.EduForm.EduFormName
                            </td>
                            <td itemprop="learningTerm">
                                @item.EduSrok.EduSrokName
                            </td>
                            <td itemprop="dateEnd">
                                Бессрочный
                                @*@item.EduNapravl.EduUgs.EduAccred?.EduAccredDateExpiration.ToString("dd.MM.yyyy")*@
                            </td>
                            <td itemprop="language">Русский</td>
                            <td itemprop="eduPred">
                                <a asp-controller="Eios" asp-action="UchPlansRabProgs"
                                    asp-route-eduNapravlId="@item.EduNapravlId"
                                    asp-route-eduFormId="@item.EduFormId"
                                    target="_blank" class="btn btn-primary">
                                    Открыть
                                </a>
                            </td>
                            <td itemprop="eduPrac">
                                <a asp-controller="Eios" asp-action="UchPlansRabProgs"
                                    asp-route-eduNapravlId="@item.EduNapravlId"
                                    asp-route-eduFormId="@item.EduFormId"
                                    target="_blank" class="btn btn-primary">
                                    Открыть
                                </a>
                            </td>
                            <td itemprop="eduEl"> Не используется </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}



@if (openedSpoiler != "eduPOAccred" && !string.IsNullOrWhiteSpace(openedSpoiler))
{
    <a asp-route-openedSpoiler="eduPOAccred" class="btn btn-primary btn-block">
        Информация о профессионально-общественной аккредитации образовательной программы
    </a>
}
else
{
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о профессионально-общественной аккредитации образовательной программы</a>
    <div class="@eduPOAccredClass" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <a href="http://xn--80aaak3h.xn--p1ai/wp-content/uploads/2022/11/poa_2022_35.03.04.pdf" target="_blank">
                Свидетельство о профессионально-общественной аккредитации образовательной программы 35.03.04 "Агрономия"
            </a>
            <br/>
            <a href="http://xn--80aaak3h.xn--p1ai/wp-content/uploads/2022/11/poa_2022_35.03.06.pdf" target="_blank">
                Свидетельство о профессионально-общественной аккредитации образовательной программы 35.03.06 "Агроинженерия"
            </a>
            <br/>
            <a href="http://xn--80aaak3h.xn--p1ai/wp-content/uploads/2022/11/poa_2022_35.04.04.pdf" target="_blank">
                Свидетельство о профессионально-общественной аккредитации образовательной программы 35.04.04 "Агрономия"
            </a>
            <br/>
            <a href="http://xn--80aaak3h.xn--p1ai/wp-content/uploads/2022/11/poa_2022_35.04.06.pdf" target="_blank">
                Свидетельство о профессионально-общественной аккредитации образовательной программы 35.04.06 "Агроинженерия"
            </a>
            <br/>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Код, шифр</th>
                        <th>Наименование профессии, специальности, направления подготовки, научной специальности</th>
                        <th>Наименование аккредитующей организации</th>
                        <th>Срок действия профессионально-общественной аккредитации (дата окончания действия свидетельства о профессионально-общественной аккредитации)</th>
                    </tr>
                    <tr>
                        <td align=center><strong>1</strong></td>
                        <td align=center><strong>2</strong></td>
                        <td align=center><strong>3</strong></td>
                        <td align=center><strong>4</strong></td>
                    </tr>
                </thead>
                <tr itemprop="eduPOAccred">
                    <td itemprop="eduCode" class="text-center">35.03.04</td>
                    <td itemprop="eduName" class="text-center">Агрономия</td>
                    <td itemprop="orgName" class="text-center">Союз "Торгово-промышленная палата г.Новочеркасска"</td>
                    <td itemprop="dateEnd" class="text-center">24.06.2027</td>
                </tr>
                <tr itemprop="eduPOAccred">
                    <td itemprop="eduCode" class="text-center">35.03.06</td>
                    <td itemprop="eduName" class="text-center">Агроинженерия</td>
                    <td itemprop="orgName" class="text-center">Союз "Торгово-промышленная палата г.Новочеркасска"</td>
                    <td itemprop="dateEnd" class="text-center">24.06.2027</td>
                </tr>
                <tr itemprop="eduPOAccred">
                    <td itemprop="eduCode" class="text-center">35.04.04</td>
                    <td itemprop="eduName" class="text-center">Агрономия</td>
                    <td itemprop="orgName" class="text-center">Союз "Торгово-промышленная палата г.Новочеркасска"</td>
                    <td itemprop="dateEnd" class="text-center">24.06.2027</td>
                </tr>
                <tr itemprop="eduPOAccred">
                    <td itemprop="eduCode" class="text-center">35.04.06</td>
                    <td itemprop="eduName" class="text-center">Агроинженерия</td>
                    <td itemprop="orgName" class="text-center">Союз "Торгово-промышленная палата г.Новочеркасска"</td>
                    <td itemprop="dateEnd" class="text-center">24.06.2027</td>
                </tr>
            </table>
        </div>
    </div>
}



@if (openedSpoiler != "eduChislen" && !string.IsNullOrWhiteSpace(openedSpoiler))
{
    <a asp-route-openedSpoiler="eduChislen" class="btn btn-primary btn-block">
        Информация о численности обучающихся
    </a>
}
else
{
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о численности обучающихся</a>
    <div class="@eduChislenClass" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <a itemprop="eduChislenEl" href="http://ачгаа.рф/files/achii/2023/edu_chislen.pdf" target="_blank">Электронный документ, подписанный электронной подписью, содержащий информацию о численности обучающихся по реализуемым образовательным программам за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, местных бюджетов и по договорам об образовании за счет средств физических и (или) юридических лиц</a>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Код, шифр</th>
                        <th>Наименование профессии, специальности, направления подготовки, наименование группы научных специальностей</th>
                        <th>Уровень образования</th>
                        <th>Формы обучения</th>
                        <th>Сведения о численности обучающихся за счет бюджетных ассигнований федерального бюджета</th>                                            
                        <th>Из них численность обучающихся, являющихся иностранными гражданами</th>
                        <th>Сведения о численности обучающихся за счет бюджетов субъектов Российской Федерации</th>    
                        <th>Из них численность обучающихся, являющихся иностранными гражданами</th>
                        <th>Сведения о численности обучающихся за счет местных бюджетов</th>
                        <th>Из них численность обучающихся, являющихся иностранными гражданами</th>
                        <th>Сведения о численности обучающихся за счет средств физических и (или) юридических лиц</th>
                        <th>Из них численность обучающихся, являющихся иностранными гражданами</th>                        
                        <th>Общая численность обучающихся</th>
                    </tr>
                    <tr>
                        <td align=center><strong>1</strong></td>
                        <td align=center><strong>2</strong></td>
                        <td align=center><strong>3</strong></td>
                        <td align=center><strong>4</strong></td>
                        <td align=center><strong>5</strong></td>
                        <td align=center><strong>6</strong></td>
                        <td align=center><strong>7</strong></td>
                        <td align=center><strong>8</strong></td>
                        <td align=center><strong>9</strong></td>
                        <td align=center><strong>10</strong></td>
                        <td align=center><strong>11</strong></td>
                        <td align=center><strong>12</strong></td>
                        <td align=center><strong>13</strong></td>
                    </tr>
                </thead>
                @foreach (var item in t7eduChislen)
                {
                    <tr itemprop="eduChislen">
                        <td itemprop="eduCode">@item.EduProfile.EduNapravl.EduNapravlCode</td>
                        <td itemprop="eduName">@item.EduProfile.EduNapravl.EduNapravlName (@item.EduProfile.EduProfileName)</td>
                        <td itemprop="eduProf" style="display:none;"></td>
                        <td itemprop="eduLevel">@item.EduProfile.EduNapravl.EduUgs.EduLevel.EduLevelName</td>
                        <td itemprop="eduForm">@item.EduForm.EduFormName</td>
                        <td align=center>
                            <span itemprop="numberBF">@item.NumberBFpriem</span>
                        </td>
                        <td align=center>
                            <span itemprop="numberBFF">0</span>
                        </td>
                        <td align=center>
                            <span itemprop="numberBR">@item.NumberBRpriem</span>
                        </td>
                        <td align=center>
                            <span itemprop="numberBRF">0</span>
                        </td>
                        <td align=center>
                            <span itemprop="numberBM">@item.NumberBMpriem</span>
                        </td>
                        <td align=center>
                            <span itemprop="numberBMF">0</span>
                        </td>
                        <td align=center>
                            <span itemprop="numberP">@item.NumberPpriem</span>
                        </td>
                        <td align=center>
                            <span itemprop="numberPF">@(item.NumberInostr??0)</span>
                        </td>
                        <td itemprop="numberAll" align=center>@item.NumberAll</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}



@if (openedSpoiler != "eduPriem" && !string.IsNullOrWhiteSpace(openedSpoiler))
{
    <a asp-route-openedSpoiler="eduPriem" class="btn btn-primary btn-block">
        Информация о результатах приема
    </a>
}
else
{
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о результатах приема</a>
    <div class="@eduPriemClass" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <a itemprop="eduPriemEl" href="">Электронный документ, подписанный электронной подписью, содержащий информацию о результатах приема по каждой профессии, специальности среднего профессионального образования (при наличии вступительных испытаний), каждому направлению подготовки или специальности высшего образования, каждой научной специальности с различными условиями приема с указанием средней суммы набранных баллов по всем вступительным испытаниям</a>


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Код, шифр</th>
                        <th>Наименование профессии, специальности, направления подготовки, наименование группы научных специальностей</th>
                        <th>Уровень образования</th>
                        <th>Формы обучения</th>
                        <th>Результаты приема обучающихся за счет бюджетных ассигнований федерального бюджета</th>
                        <th>Результаты приема обучающихся за счет бюджетов субъектов Российской Федерации</th>
                        <th>Результаты приема обучающихся за счет местных бюджетов</th>
                        <th>Результаты приема обучающихся за счет средств физических и (или) юридических лиц</th>
                        <th>Средняя сумма набранных баллов по всем вступительным испытаниям</th>
                    </tr>                    
                    <tr>
                        <th align=center>1</th>
                        <th align=center>2</th>
                        <th align=center>3</th>
                        <th align=center>4</th>
                        <th align=center>5</th>
                        <th align=center>6</th>
                        <th align=center>7</th>
                        <th align=center>8</th>
                        <th align=center>9</th>
                    </tr>
                </thead>
                @foreach (var item in t8eduPriem.OrderBy(item => item.EduNapravl.EduNapravlCode))
                {
                    <tr itemprop="eduPriem">
                        <td itemprop="eduCode">@item.EduNapravl.EduNapravlCode</td>
                        <td itemprop="eduName">@item.EduNapravl.EduNapravlName</td>
                        <td itemprop="eduProf" style="display:none;"></td>
                        <td itemprop="eduLevel">@item.EduNapravl.EduUgs.EduLevel.EduLevelName</td>
                        <td itemprop="eduForm">@item.EduForm.EduFormName</td>
                        <td itemprop="numberBF">@item.FinBF</td>
                        <td itemprop="numberBR">@item.FinBR</td>
                        <td itemprop="numberBM">@item.FinBM</td>
                        <td itemprop="numberP">@item.FinPV</td>
                        <td itemprop="score">@item.SredSum</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}



@if (openedSpoiler != "eduPerevod" && !string.IsNullOrWhiteSpace(openedSpoiler))
{
    <a asp-route-openedSpoiler="eduPerevod" class="btn btn-primary btn-block">
        Информация о результатах перевода, восстановления и отчисления
    </a>
}
else
{
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о результатах перевода, восстановления и отчисления</a>
    <div class="@eduPerevodClass" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <a itemprop="eduPerevodEl" href="http://ачгаа.рф/files/achii/2023/edu_perevod.pdf" target="_blank">Электронный документ, подписанный электронной подписью, содержащий информацию о результатах перевода, восстановления и отчисления</a>

            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Наименование специальности, направления подготовки</th>
                        <th>Уровень образования</th>
                        <th>Формы обучения</th>
                        <th>Численность обучающихся, переведенных в другие образовательные организации</th>
                        <th>Численность обучающихся, переведенных из других образовательных организаций</th>
                        <th>Численность восстановленных обучающихся</th>
                        <th>Численность отчисленных обучающихся</th>
                    </tr>
                    <tr>
                        <td align=center><strong>1</strong></td>
                        <td align=center><strong>2</strong></td>
                        <td align=center><strong>3</strong></td>
                        <td align=center><strong>4</strong></td>
                        <td align=center><strong>5</strong></td>
                        <td align=center><strong>6</strong></td>
                        <td align=center><strong>7</strong></td>
                        <td align=center><strong>8</strong></td>
                    </tr>
                </thead>
                @foreach (var item in t9eduPerevod.OrderBy(item => item.EduNapravl.EduNapravlCode))
                {
                    <tr itemprop="eduPerevod">
                        <td itemprop="eduCode">@item.EduNapravl.EduNapravlCode</td>
                        <td itemprop="eduName">@item.EduNapravl.EduNapravlName</td>
                        <td itemprop="eduProf" style="display:none;"></td>
                        <td itemprop="eduLevel">@item.EduNapravl.EduUgs.EduLevel.EduLevelName</td>
                        <td itemprop="eduForm">@item.EduForm.EduFormName</td>
                        <td itemprop="numberOut" align=center>@item.NumberOutPerevod</td>
                        <td itemprop="numberTo" align=center>@item.NumberToPerevod</td>
                        <td itemprop="numberRes" align=center>@item.NumberResPerevod</td>
                        <td itemprop="numberExp" align=center>@item.NumberExpPerevod</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}




@if (openedSpoiler != "eduPrograms" && !string.IsNullOrWhiteSpace(openedSpoiler))
{
    <a asp-route-openedSpoiler="eduPrograms" class="btn btn-primary btn-block">
        Образование (информация по образовательным программам)
    </a>
}
else
{
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Образование (информация по образовательным программам)</a>
    <div class="@eduProgramsClass" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Код, шифр</th>
                        <th>Наименование профессии, специальности, направления подготовки, наименование группы научных специальностей</th>
                        <th>Уровень образования</th>
                        <th>Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                        <th>Реализуемые формы обучения</th>
                        <th>Ссылка на описание образовательной программы с приложением ее копии</th>
                        <th>Ссылка на учебный план</th>
                        <th>Ссылка на аннотации к рабочим программам дисциплин (по каждой дисциплине в составе образовательной программы)</th>
                        <th>Ссылки на рабочие программы (по каждой дисциплине в составе образовательной программы)</th>
                        <th>Ссылка на календарный учебный график</th>                        
                        <th>Ссылка на рабочие программы практик, предусмотренных соответствующей образовательной программой</th>
                        <th>Ссылка на методические и иные документы, разработанные образовательной организацией для обеспечения образовательного процесса, а также рабочие программы воспитания и календарные планы воспитательной работы, включаемые в ООП</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var eduProgram in t10eduPrograms.OrderBy(item => item.EduProfile.EduNapravl.EduNapravlCode).Where(op => !op.IsAdopt))
                    {
                        var eduProgramEduPlanList = new List<EduPlan>();
                        foreach (var eduPlan in eduProgram.EduProfile.EduPlans.Where(p => p.EduProgramPodgId == eduProgram.EduProgramPodgId))
                        {
                            foreach (var eduPlanEduYearBeginningTraining in eduPlan.EduPlanEduYearBeginningTrainings)
                            {
                                foreach (var eduProgramEduYearBeginningTraining in eduProgram.EduProgramEduYearBeginningTrainings)
                                {
                                    if (eduProgramEduYearBeginningTraining.EduYearBeginningTrainingId == eduPlanEduYearBeginningTraining.EduYearBeginningTrainingId)
                                    {
                                        foreach (var eduProgramEduForm in eduProgram.EduProgramEduForms)
                                        {
                                            if (eduProgramEduForm.EduFormId == eduPlan.EduFormId)
                                            {
                                                eduProgramEduPlanList.Add(eduPlan);
                                                break;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        string eduYearsBegTrainingsOfCurrentEduProgram = "";
                        if (eduProgram.EduProgramEduYearBeginningTrainings != null)
                        {
                            foreach (var item in eduProgram.EduProgramEduYearBeginningTrainings)
                            {
                                eduYearsBegTrainingsOfCurrentEduProgram += " " + item.EduYearBeginningTraining.EduYearBeginningTrainingName;
                            }
                        }

                        string opMain = "opMain";
                        string educationPlan = "educationPlan";
                        string educationAnnotation = "educationAnnotation";
                        string educationShedule = "educationShedule";
                        string methodology = "methodology";
                        string eduEl = "eduEl";

                        <tr itemprop="eduOP">
                            <td itemprop="eduCode">@eduProgram.EduProfile.EduNapravl.EduNapravlCode</td>

                            <td itemprop="eduName">@eduProgram.EduProfile.EduNapravl.EduNapravlName</td>                            

                            <td itemprop="eduLevel">@eduProgram.EduProfile.EduNapravl.EduUgs.EduLevel.EduLevelName<br />(@eduProgram.EduProgramPodg.EduProgramPodgName.ToLower())</td>

                            <td itemprop="eduProf">@eduProgram.EduProfile.EduProfileName, @eduYearsBegTrainingsOfCurrentEduProgram</td>

                            <td itemprop="eduForm">
                                @foreach (var eduProgramEduForm in eduProgram.EduProgramEduForms)
                                {
                                    @eduProgramEduForm.EduForm.EduFormName<br />
                                }
                            </td>

                            <td itemprop="@opMain">
                                <a href="/@eduProgram.FileModel.Path" target="_blank">Описание ОП</a>
                            </td>

                            <td itemprop="@educationPlan">
                                @foreach (var eduPlan in eduProgramEduPlanList)
                                {
                                    string eduYearsBegTrainings = "";
                                    if (eduPlan.EduPlanEduYearBeginningTrainings != null)
                                    {
                                        foreach (var item in eduPlan.EduPlanEduYearBeginningTrainings)
                                        {
                                            eduYearsBegTrainings += " " + item.EduYearBeginningTraining.EduYearBeginningTrainingName;
                                        }
                                    }
                                    <a href="/@eduPlan.EduPlanPdf?.Path" target="_blank">Учебный план (@eduPlan.EduForm.EduFormName.ToLower(), @eduYearsBegTrainings)</a><br />
                                }
                            </td>

                            <td itemprop="@educationAnnotation">

                                @foreach (var eduPlan in eduProgramEduPlanList)
                                {
                                    string eduYearsBegTrainings = "";
                                    if (eduPlan.EduPlanEduYearBeginningTrainings != null)
                                    {
                                        foreach (var item in eduPlan.EduPlanEduYearBeginningTrainings)
                                        {
                                            eduYearsBegTrainings += " " + item.EduYearBeginningTraining.EduYearBeginningTrainingName;
                                        }
                                    }

                                    <a href="#spoiler-@spoilerCounter" data-toggle="collapse">Аннотации к рабочим программам дисциплин (@eduPlan.EduForm.EduFormName.ToLower(), @eduYearsBegTrainings)</a>
                                    <div class="collapse" id="spoiler-@spoilerCounter">
                                        @{spoilerCounter++;}
                                        <div class="well">

                                            <a href="#spoiler-@spoilerCounter" data-toggle="collapse">Аннотации</a>
                                            <div class="collapse" id="spoiler-@spoilerCounter">
                                                @{spoilerCounter++;}
                                                <div class="well">
                                                    <ul>
                                                        @foreach (var blokDiscipl in eduPlan.BlokDiscipl)
                                                        {
                                                            foreach (var blokDisciplChast in blokDiscipl.BlokDisciplChast)
                                                            {
                                                                foreach (var discipline in blokDisciplChast.Disciplines)
                                                                {
                                                                    foreach (var eduAnnotation in discipline.EduAnnotations)
                                                                    {
                                                                        <li><a href="/@eduAnnotation.FileModel.Path" target="_blank">@discipline.DisciplineCode @discipline.DisciplineName.DisciplineNameName</a></li>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>

                                            <p><a asp-controller="EduPlans" asp-action="Preview" asp-route-id="@eduPlan.EduPlanId" target="_blank">Рабочие программы</a></p>
                                        </div>
                                    </div>
                                    <br />

                                }

                            </td>


                            <td itemprop="educationRpd">
                                @foreach (var eduPlan in eduProgramEduPlanList)
                                {
                                    string eduYearsBegTrainings = "";
                                    if (eduPlan.EduPlanEduYearBeginningTrainings != null)
                                    {
                                        foreach (var item in eduPlan.EduPlanEduYearBeginningTrainings)
                                        {
                                            eduYearsBegTrainings += " " + item.EduYearBeginningTraining.EduYearBeginningTrainingName;
                                        }
                                    }

                                    <a itemprop="educationRpd" asp-controller="EduPlans" asp-action="Preview" asp-route-id="@eduPlan.EduPlanId" target="_blank">Рабочие программы (@eduPlan.EduForm.EduFormName.ToLower(), @eduYearsBegTrainings)</a>
                                }
                            </td>


                            <td itemprop="@educationShedule">
                                @foreach (var eduShedule in eduShedules.Where(s => s.EduProfileId == eduProgram.EduProfileId))
                                {                                    
                                    foreach (var eduProgramEduForm in eduProgram.EduProgramEduForms)
                                    {
                                        if (eduShedule.EduFormId == eduProgramEduForm.EduFormId)
                                        {
                                            <a href="/@eduShedule.FileModel?.Path" target="_blank">Календарный учебный график - @eduShedule.EduForm?.EduFormName (@eduShedule.EduYear?.EduYearName уч.год.)</a>
                                            <br />
                                        }
                                    }
                                }
                            </td>

                            <td itemprop="eduPr">
                                @foreach (var eduPlan in eduProgramEduPlanList)
                                {
                                    string eduYearsBegTrainings = "";
                                    if (eduPlan.EduPlanEduYearBeginningTrainings != null)
                                    {
                                        foreach (var item in eduPlan.EduPlanEduYearBeginningTrainings)
                                        {
                                            eduYearsBegTrainings += " " + item.EduYearBeginningTraining.EduYearBeginningTrainingName;
                                        }
                                    }

                                    <a asp-controller="EduPlans" asp-action="Preview" asp-route-id="@eduPlan.EduPlanId" target="_blank">Рабочие программы (@eduPlan.EduForm.EduFormName.ToLower(), @eduYearsBegTrainings)</a>
                                }
                            </td>

                            <td itemprop="@methodology">
                                <ul>
                                    <li>
                                        <a href="#spoiler-@spoilerCounter" data-toggle="collapse">Фонды оценочных средств</a>
                                        <div class="collapse" id="spoiler-@spoilerCounter">
                                            @{spoilerCounter++;}
                                            <div class="well">
                                                @foreach (var eduPlan in eduProgramEduPlanList)
                                                {
                                                    string eduYearsBegTrainings = "";
                                                    if (eduPlan.EduPlanEduYearBeginningTrainings != null)
                                                    {
                                                        foreach (var item in eduPlan.EduPlanEduYearBeginningTrainings)
                                                        {
                                                            eduYearsBegTrainings += " " + item.EduYearBeginningTraining.EduYearBeginningTrainingName;
                                                        }
                                                    }
                                                    <p><a asp-controller="EduPlans" asp-action="Preview" asp-route-id="@eduPlan.EduPlanId" target="_blank">Открыть (@eduPlan.EduForm.EduFormName.ToLower(), @eduYearsBegTrainings)</a></p>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a asp-controller="UchPosobies" asp-action="Preview" asp-route-id="@eduProgram.EduProfile.EduNapravlId" target="_blank">Учебные пособия</a>
                                    </li>
                                    <li>
                                        <a href="#spoiler-@spoilerCounter" data-toggle="collapse">Рабочие программы воспитания</a>
                                        <div class="collapse" id="spoiler-@spoilerCounter">
                                            @{spoilerCounter++;}
                                            <div class="well">
                                                @foreach (var eduPlan in eduProgramEduPlanList)
                                                {
                                                    string eduYearsBegTrainings = "";
                                                    if (eduPlan.EduPlanEduYearBeginningTrainings != null)
                                                    {
                                                        foreach (var item in eduPlan.EduPlanEduYearBeginningTrainings)
                                                        {
                                                            eduYearsBegTrainings += " " + item.EduYearBeginningTraining.EduYearBeginningTrainingName;
                                                        }
                                                    }
                                                    <p><a asp-controller="EduPlans" asp-action="Preview" asp-route-id="@eduPlan.EduPlanId" target="_blank">Открыть (@eduPlan.EduForm.EduFormName.ToLower(), @eduYearsBegTrainings)</a></p>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#spoiler-@spoilerCounter" data-toggle="collapse">Календарные планы воспитательной работы</a>
                                        <div class="collapse" id="spoiler-@spoilerCounter">
                                            @{
                                                spoilerCounter++;
                                            }
                                            <div class="well">
                                                @foreach (var eduPlan in eduProgramEduPlanList)
                                                {
                                                    string eduYearsBegTrainings = "";
                                                    if (eduPlan.EduPlanEduYearBeginningTrainings != null)
                                                    {
                                                        foreach (var item in eduPlan.EduPlanEduYearBeginningTrainings)
                                                        {
                                                            eduYearsBegTrainings += " " + item.EduYearBeginningTraining.EduYearBeginningTrainingName;
                                                        }
                                                    }
                                                    <p><a asp-controller="EduPlans" asp-action="Preview" asp-route-id="@eduPlan.EduPlanId" target="_blank">Открыть (@eduPlan.EduForm.EduFormName.ToLower(), @eduYearsBegTrainings)</a></p>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>                            

                            @*<td itemprop="@eduEl">
                                @eduProgram.UsingElAndDistEduTech
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


@if (openedSpoiler != "eduAdOp" && !string.IsNullOrWhiteSpace(openedSpoiler))
{
    <a asp-route-openedSpoiler="eduAdOp" class="btn btn-primary btn-block">
        Образование (информация по адаптированным образовательным программам)
    </a>
}
else
{
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Образование (информация по адаптированным образовательным программам)</a>
    <div class="@eduAdOpClass" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Код, шифр</th>
                        <th>Наименование профессии, специальности, направления подготовки, наименование группы научных специальностей</th>
                        <th>Уровень образования</th>
                        <th>Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                        <th>Реализуемые формы обучения</th>
                        <th>Ссылка на описание образовательной программы с приложением ее копии</th>
                        <th>Ссылка на учебный план</th>
                        <th>Ссылка на аннотации к рабочим программам дисциплин (по каждой дисциплине в составе образовательной программы)</th>
                        <th>Ссылки на рабочие программы (по каждой дисциплине в составе образовательной программы)</th>
                        <th>Ссылка на календарный учебный график</th>                        
                        <th>Ссылка на рабочие программы практик, предусмотренных соответствующей образовательной программой</th>
                        <th>Ссылка на методические и иные документы, разработанные образовательной организацией для обеспечения образовательного процесса, а также рабочие программы воспитания и календарные планы воспитательной работы, включаемые в ООП</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                    </tr>
                </thead>
                <tbody>
                    <tr itemprop="eduAdOp">
                        <td itemprop="eduCode" colspan="11" class="text-center">Не реализуются</td>
                        <td itemprop="eduName" class="hidden">Не реализуются</td>
                        <td itemprop="eduLevel" class="hidden">Не реализуются</td>
                        <td itemprop="eduProf" style="display:none;"></td>
                        <td itemprop="eduForm" class="hidden">Не реализуются</td>
                        <td itemprop="opMain" class="hidden">Не реализуются</td>
                        <td itemprop="educationPlan" class="hidden">Не реализуются</td>
                        <td itemprop="educationAnnotation" class="hidden">Не реализуются</td>
                        <td itemprop="educationRpd" class="hidden"><a itemprop="educationRpd">Не реализуются</a></td>
                        <td itemprop="educationShedule" class="hidden">Не реализуются</td>
                        <td itemprop="methodology" class="hidden">Не реализуются</td>
                        <td itemprop="eduPr" class="hidden">Не реализуются</td>
                        <td itemprop="eduEl" class="hidden">Не реализуются</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}





@*<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
        Информация о реализуемых образовательных программах,
        в том числе о реализуемых адаптированных образовательных программах,<br />
        с указанием учебных предметов, курсов, дисциплин (модулей), практики,
        предусмотренных соответствующей образовательной программой,<br />
        а также об использовании при реализации указанных образовательных программ электронного обучения
        и дистанционных образовательных технологиий
    </a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well" itemprop="eduOp">

            <h3>Информация о реализуемых образовательных программах</h3>
            <table itemprop="eduObrProg" class="table table-hover">
                <thead>
                    <tr>
                        <th rowspan="2">Код</th>
                        <th rowspan="2">Наименование специальности, направления подготовки</th>
                        <th rowspan="2">Год начала подготовки</th>
                        <th rowspan="2">Направленность (профиль) программы</th>
                        <th rowspan="2">Реализуемы формы обучения</th>
                        <th rowspan="2">Учебные предметы, курсы, дисциплины (модули)</th>
                        <th rowspan="2">
                            Использование при реализации<br />
                            образовательных программ<br />
                            электронного обучения<br />
                            и дистанционных образовательных<br />
                            технологий
                        </th>
                        <th colspan="3">Наличие практики (з.е.)</th>
                    </tr>
                    <tr>
                        <th>учебная</th>
                        <th>производственная</th>
                        <th>преддипломная практика для выполнения<br /> выпускной квалификационной работы</th>
                    </tr>
                    <tr>
                        <td align=center><strong>1</strong></td>
                        <td align=center><strong>2</strong></td>
                        <td align=center><strong>3</strong></td>
                        <td align=center><strong>4</strong></td>
                        <td align=center><strong>5</strong></td>
                        <td align=center><strong>6</strong></td>
                        <td align=center><strong>7</strong></td>
                        <td align=center><strong>8</strong></td>
                        <td align=center><strong>9</strong></td>
                        <td align=center><strong>10</strong></td>
                    </tr>
                </thead>
                @foreach (var item in t11eduObrProg
              .OrderBy(pr => pr.EduProfile.EduNapravl.EduNapravlCode)
              .ThenBy(pr => pr.EduYearBeginningTraining.EduYearBeginningTrainingName)
              .Where(pr => !pr.IsOVZ))
                {
                    <tr itemprop="eduPr">
                        <td itemprop="eduCode">@item.EduProfile.EduNapravl.EduNapravlCode</td>
                        <td itemprop="eduName">@item.EduProfile.EduNapravl.EduNapravlName</td>
                        <td itemprop="">@item.EduYearBeginningTraining.EduYearBeginningTrainingName</td>
                        <td itemprop="eduOP">
                            @item.EduProfile.EduProfileName
                        </td>
                        <td itemprop="" align=center>@item.EduForm.EduFormName</td>
                        <td itemprop="eduSubject">
                            @foreach (var eduPlanEduYearBeginningTraining in item.EduYearBeginningTraining.EduPlanEduYearBeginningTrainings.Where(e => e.EduPlan.EduProfileId == item.EduProfileId && e.EduPlan.EduFormId == item.EduFormId))
                            {
                                string eduYearsOfCurrentRow = "(";

                                var stringList = eduPlanEduYearBeginningTraining.EduPlan.EduPlanEduYears.Select(el => el.EduYear.EduYearName).ToList();
                                eduYearsOfCurrentRow += string.Join(", ", stringList);
                                eduYearsOfCurrentRow += ")";

                                <p>
                                    <a asp-controller="EduPlans" asp-action="Preview" asp-route-id="@eduPlanEduYearBeginningTraining.EduPlanId">Открыть @eduYearsOfCurrentRow</a>
                                </p>
                            }
                        </td>
                        <td itemprop="eduEl">Нет</td>
                        <td itemprop="eduPr" align=center>@item.EduPrUchebn</td>
                        <td itemprop="eduPr" align=center>@item.EduPrProizv</td>
                        <td itemprop="eduPr" align=center>@item.EduPrPreddiplomn</td>
                    </tr>
                }
            </table>

            <br />
            <hr />
            <br />

            <h3>Информация по адаптированным образовательным программам</h3>
            <table itemprop="eduObrProg" class="table table-hover">
                <thead>
                    <tr>
                        <th rowspan="2">Код</th>
                        <th rowspan="2">Наименование специальности, направления подготовки</th>
                        <th rowspan="2">Год начала подготовки</th>
                        <th rowspan="2">Направленность (профиль) программы</th>
                        <th rowspan="2">Реализуемы формы обучения</th>
                        <th rowspan="2">Учебные предметы, курсы, дисциплины (модули)</th>
                        <th rowspan="2">
                            Использование при реализации<br />
                            образовательных программ<br />
                            электронного обучения<br />
                            и дистанционных образовательных<br />
                            технологий
                        </th>
                        <th colspan="3">Наличие практики (з.е.)</th>
                    </tr>
                    <tr>
                        <th>учебная</th>
                        <th>производственная</th>
                        <th>преддипломная практика для выполнения<br /> выпускной квалификационной работы</th>
                    </tr>
                    <tr>
                        <td align=center><strong>1</strong></td>
                        <td align=center><strong>2</strong></td>
                        <td align=center><strong>3</strong></td>
                        <td align=center><strong>4</strong></td>
                        <td align=center><strong>5</strong></td>
                        <td align=center><strong>6</strong></td>
                        <td align=center><strong>7</strong></td>
                        <td align=center><strong>8</strong></td>
                        <td align=center><strong>9</strong></td>
                        <td align=center><strong>10</strong></td>
                    </tr>
                </thead>
                @if (t11eduObrProg.Where(pr => pr.IsOVZ).Count() == 0)
                {
                    <tr itemprop="adeduPr">
                        <td itemprop="adeduOP" colspan="10" class="text-center">
                            <span itemprop="eduCode">
                                <span itemprop="eduName">
                                    <span itemprop="eduLevel">
                                        <span itemprop="eduForm">
                                            <span itemprop="adOpMain">
                                                <span itemprop="adEducationPlan">
                                                    <span itemprop="adEducationAnnotation">
                                                        <span itemprop="adEducationShedule">
                                                            <span itemprop="adMethodology">
                                                                <span itemprop="adEduPr">
                                                                    <span itemprop="adEduEl">
                                                                        <strong>Адаптированных образовательных программ не предусмотрено</strong>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                    </tr>
                }
                @foreach (var item in t11eduObrProg.Where(pr => pr.IsOVZ))
                {
                    <tr itemprop="eduPr">
                        <td itemprop="eduCode">@item.EduProfile.EduNapravl.EduNapravlCode</td>
                        <td itemprop="eduName">@item.EduProfile.EduNapravl.EduNapravlName</td>
                        <td itemprop="">@item.EduYearBeginningTraining.EduYearBeginningTrainingName</td>
                        <td itemprop="eduOP">
                            @item.EduProfile.EduProfileName
                        </td>
                        <td itemprop="" align=center>@item.EduForm.EduFormName</td>
                        <td itemprop="eduSubject">
                            @foreach (var eduPlanEduYearBeginningTraining in item.EduYearBeginningTraining.EduPlanEduYearBeginningTrainings.Where(e => e.EduPlan.EduProfileId == item.EduProfileId && e.EduPlan.EduFormId == item.EduFormId))
                            {
                                string eduYearsOfCurrentRow = "(";

                                var stringList = eduPlanEduYearBeginningTraining.EduPlan.EduPlanEduYears.Select(el => el.EduYear.EduYearName).ToList();
                                eduYearsOfCurrentRow += string.Join(", ", stringList);
                                eduYearsOfCurrentRow += ")";

                                <p>
                                    <a asp-controller="EduPlans" asp-action="Preview" asp-route-id="@eduPlanEduYearBeginningTraining.EduPlanId">Открыть @eduYearsOfCurrentRow</a>
                                </p>
                            }
                        </td>
                        <td itemprop="eduEl">Нет</td>
                        <td itemprop="eduPr" align=center>@item.EduPrUchebn</td>
                        <td itemprop="eduPr" align=center>@item.EduPrProizv</td>
                        <td itemprop="eduPr" align=center>@item.EduPrPreddiplomn</td>
                    </tr>
                }
            </table>

        </div>
    </div>*@

@if (openedSpoiler != "eduOAccred" && !string.IsNullOrWhiteSpace(openedSpoiler))
{
    <a asp-route-openedSpoiler="eduOAccred" class="btn btn-primary btn-block">
        Информация об общественной аккредитации образовательной организации
    </a>
}
else
{
<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация об общественной аккредитации образовательной организации</a>
    <div class="@eduOAccredClass" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Наименование аккредитующей организации</th>
                        <th class="text-center">Срок действия общественной аккредитации</th>                        
                    </tr>
                    <tr>
                        <td align=center><strong>1</strong></td>
                        <td align=center><strong>2</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr itemprop="eduOAccred">
                        <td itemprop="orgName" colspan="2" class="text-center">Отсутствует</td>
                        <td itemprop="dateEnd" class="hidden">Отсутствует</td>
                    </tr>                    
                </tbody>
            </table>

        </div>
    </div>
}


@if (openedSpoiler != "eduNir" && !string.IsNullOrWhiteSpace(openedSpoiler))
{
    <a asp-route-openedSpoiler="eduNir" class="btn btn-primary btn-block">
        Информация о направлениях и результатах научной (научно-исследовательской) деятельности
    </a>
}
else
{
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о направлениях и результатах научной (научно-исследовательской) деятельности</a>
    <div class="@eduNirClass" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div itemprop="eduNir" class="well">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Наименование специальности, направления подготовки</th>
                        <th>Уровень образования</th>
                        <th>Перечень научных направлений, в рамках которых ведётся научная (научно-исследовательская) деятельность</th>
                        <th>Результаты научной (научно-исследовательской) деятельность</th>
                        <th>Сведения о научно-исследовательской базе для осуществления научной (научно-исследовательской) деятельность</th>
                    </tr>
                    <tr>
                        <td align=center><strong>1</strong></td>
                        <td align=center><strong>2</strong></td>
                        <td align=center><strong>3</strong></td>
                        <td align=center><strong>4</strong></td>
                        <td align=center><strong>5</strong></td>
                        <td align=center><strong>6</strong></td>
                    </tr>
                </thead>
                @foreach (var item in t13eduNir.OrderBy(item => item.EduNapravl.EduNapravlCode))
                {
                    <tr itemprop="eduNir">
                        <td itemprop="eduCode">@item.EduNapravl.EduNapravlCode</td>
                        <td itemprop="eduName">@item.EduNapravl.EduNapravlName</td>
                        <td itemprop="eduProf" style="display:none;"></td>
                        <td itemprop="eduLevel">@item.EduNapravl.EduUgs.EduLevel.EduLevelName</td>
                        <td itemprop="perechenNir">@item.NirNapravls</td>
                        <td itemprop="napravNir" style="display:none;"></td>
                        <td itemprop="resultNir">
                            @if (!string.IsNullOrWhiteSpace(item.NumNpr))
                            {
                                <p>Количество НПР, принимающих участие в научной (научно-исследовательской) деятельности: @item.NumNpr</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.NumStud))
                            {
                                <p>Количество студентов, принимающих участие в научной (научно-исследовательской) деятельности: @item.NumStud</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.NumMonograf))
                            {
                                <p>Количество изданных монографий научно-педагогических работников образовательной организации по всем научным направлениям за последний год: @item.NumMonograf</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.NumArticles))
                            {
                                <p>Количество изданных и принятых к публикации статей в изданиях, рекомендованных ВАК для публикации научных работ за последний год: @item.NumArticles</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.NumArticlesZ))
                            {
                                <p>Количество изданных и принятых к публикации статей в зарубежных изданиях за последний год: @item.NumArticlesZ</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.NumPatents))
                            {
                                <p>Количество российских патентов, полученных на разработки за последний год: @item.NumPatents</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.NumPatentsZ))
                            {
                                <p>Количество зарубежных патентов, полученных на разработки за последний год: @item.NumPatentsZ</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.NumSvidetelstv))
                            {
                                <p>Количество российских свидетельств о регистрации объекта интеллектуальной собственности, выданных на разработки за последний год: @item.NumSvidetelstv</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.NumSvidetelstvZ))
                            {
                                <p>Количество зарубежных свидетельств о регистрации объекта интеллектуальной собственности, выданных на разработки за последний год: @item.NumSvidetelstvZ </p>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.NumNpr))
                            {
                                <p>Среднегодовой объём финансирования научных исследований на одного научно-педагогического работника организации (в приведённых к целочисленным значениям ставок): @item.NumFinance</p>
                            }
                        </td>
                        <td itemprop="baseNir">
                            @item.BaseNir
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
}






@*<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Образовательная программа (объём программы по годам)</a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <h3>Информация по неадаптированным образовательным программам</h3>
            <table itemprop="eduOP" class="table table-hover">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Наименование специальности, направления подготовки</th>
                        <th>Год начала подготовки</th>
                        <th>Профиль программы</th>
                        <th>Объём программы</th>
                        <th>Очная форма обучения (зачетные единицы - з.е.)</th>
                        <th>Очно-заочная форма обучения (з.е.)</th>
                        <th>Зачная форма обучения (з.е.)</th>
                    </tr>
                    <tr>
                        <td align=center><strong>1</strong></td>
                        <td align=center><strong>2</strong></td>
                        <td align=center><strong>3</strong></td>
                        <td align=center><strong>4</strong></td>
                        <td align=center><strong>5</strong></td>
                        <td align=center><strong>6</strong></td>
                        <td align=center><strong>7</strong></td>
                        <td align=center><strong>8</strong></td>
                    </tr>
                </thead>
                @foreach (var item in t11eduOPYears.OrderBy(item => item.EduProfile.EduNapravl.EduNapravlCode).Where(op => !op.IsOVZ))
                {
                    <tr itemprop="eduOP">
                        <td itemprop="eduCode">@item.EduProfile.EduNapravl.EduNapravlCode</td>
                        <td itemprop="eduName">@item.EduProfile.EduNapravl.EduNapravlName</td>
                        <td itemprop="">@item.EduYearBeginningTraining.EduYearBeginningTrainingName</td>
                        <td itemprop="">
                            @item.EduProfile.EduProfileName
                        </td>
                        <td itemprop="" align=center>@item.EduOPEduYearName.EduOPEduYearNameName</td>
                        <td itemprop="" align=center>@item.VOchn</td>
                        <td itemprop="" align=center>@item.VOchnZaochn</td>
                        <td itemprop="" align=center>@item.VZaochn</td>
                    </tr>
                }
            </table>

            <br />
            <hr />
            <br />

            <h3>Информация по адаптированным образовательным программам</h3>
            <table itemprop="adeduOP" class="table table-hover">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Наименование специальности, направления подготовки</th>
                        <th>Год начала подготовки</th>
                        <th>Профиль программы</th>
                        <th>Объём программы</th>
                        <th>Очная форма обучения (зачетные единицы - з.е.)</th>
                        <th>Очно-заочная форма обучения (з.е.)</th>
                        <th>Зачная форма обучения (з.е.)</th>
                    </tr>
                    <tr>
                        <td align=center><strong>1</strong></td>
                        <td align=center><strong>2</strong></td>
                        <td align=center><strong>3</strong></td>
                        <td align=center><strong>4</strong></td>
                        <td align=center><strong>5</strong></td>
                        <td align=center><strong>6</strong></td>
                        <td align=center><strong>7</strong></td>
                        <td align=center><strong>8</strong></td>
                    </tr>
                </thead>

                @if (t11eduOPYears.Where(op => op.IsOVZ).Count() == 0)
                {
                    <tr itemprop="adeduOP">
                        <td itemprop="adeduOP" colspan="8" class="text-center">
                            <strong>Адаптированных образовательных программ не предусмотрено</strong>
                        </td>
                    </tr>
                }

                @foreach (var item in t11eduOPYears.Where(op => op.IsOVZ))
                {
                    <tr itemprop="adeduOP">
                        <td itemprop="eduCode">@item.EduProfile.EduNapravl.EduNapravlCode</td>
                        <td itemprop="eduName">@item.EduProfile.EduNapravl.EduNapravlName</td>
                        <td itemprop="">@item.EduYearBeginningTraining.EduYearBeginningTrainingName</td>
                        <td itemprop="">
                            @item.EduProfile.EduProfileName
                            <br />
                            <i>(Адаптированная ОП)</i>
                        </td>
                        <td itemprop="" align=center>@item.EduOPEduYearName.EduOPEduYearNameName</td>
                        <td itemprop="" align=center>@item.VOchn</td>
                        <td itemprop="" align=center>@item.VOchnZaochn</td>
                        <td itemprop="" align=center>@item.VZaochn</td>
                    </tr>
                }
            </table>

        </div>
    </div>*@


@if (openedSpoiler != "eduDPO" && !string.IsNullOrWhiteSpace(openedSpoiler))
{
    <a asp-route-openedSpoiler="eduDPO" class="btn btn-primary btn-block">
        Информация о реализуемых программах дополнительного профессионального образования
    </a>
}
else
{
    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о реализуемых программах дополнительного профессионального образования</a>
    <div class="@eduDPOClass" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <a href="http://ачгаа.рф/nash-vuz/podrazdeleniya-akademii/odo">Информация о реализуемых программах дополнительного профессионального образования</a>

        </div>
    </div>
}

