@model IEnumerable<EduLevel>

<h1>Образовательные стандарты и требования</h1>

<a href="#spoiler-eduFedDoc" data-toggle="collapse" class="btn btn-primary btn-block">
    Информация о федеральных государственных образовательных стандартах<br />
    с размещением их копий и (или) гиперссылки на соответствующие документы
</a>
<div class="collapse" id="spoiler-eduFedDoc">
    <div class="well">
        @foreach (var level in Model)
        {
            <a href="#spoiler-@level.EduLevelId" data-toggle="collapse" class="btn btn-primary btn-block">@level.EduLevelName</a>
            <div class="collapse" id="spoiler-@level.EduLevelId">
                <div class="well">
                    <table class="table" itemprop="eduDoc">
                        <thead>
                            <tr>
                                <th>Код направления подготовки</th>
                                <th>Наименование направления подготовки</th>
                                <th>Образовательный стандарт (ФГОС 3+)</th>
                                <th>Образовательный стандарт  (ФГОС 3++)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ugs in level.EduUgses)
                            {
                                @foreach (var napravl in ugs.EduNapravls)
                                {
                                    <tr itemprop="eduDoc">
                                        <td>@napravl.EduNapravlCode</td>
                                        <td>@napravl.EduNapravlName</td>
                                        <td itemprop="eduFedDoc">
                                            @if (!string.IsNullOrWhiteSpace(napravl.EduNapravlStandartDocLink))
                                            {
                                                <a href="@napravl.EduNapravlStandartDocLink">Образовательный стандарт</a>
                                            }
                                            else
                                            {
                                                <p>-</p>
                                            }
                                        </td>
                                        <td itemprop="eduFedDoc">
                                            @if (!string.IsNullOrWhiteSpace(napravl.EduNapravlStandartDocLinkFgos3pp))
                                            {
                                                <a href="@napravl.EduNapravlStandartDocLinkFgos3pp">Образовательный стандарт</a>
                                            }
                                            else
                                            {
                                                <p>-</p>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>


<a href="#spoiler-eduStandartDoc" data-toggle="collapse" class="btn btn-primary btn-block">
    Информация об образовательных стандартах с размещением их копий<br />
    и (или) гиперссылки на соответствующие документы
</a>
<div class="collapse" id="spoiler-eduStandartDoc">
    <div class="well">
        <table itemprop="eduDoc">
            <tr itemprop="eduDoc">
                <td itemprop="eduStandartDoc">Образовательная организация для реализации лицензированных образовательных программ использует федеральные государственные образовательные стандарты (ФГОС)</td>
            </tr>
        </table>
    </div>
</div>


<a href="#spoiler-eduFedTreb" data-toggle="collapse" class="btn btn-primary btn-block">
    Информация о применяемых федеральных государственных требованиях с размещением их копий<br />
    и (или) гиперссылки на соответствующие документы
</a>
<div class="collapse" id="spoiler-eduFedTreb">
    <div class="well">
        <table itemprop="eduDoc">
            <tr itemprop="eduDoc">
                <td itemprop="eduFedTreb">Не применяются</td>
            </tr>
        </table>
    </div>
</div>


<a href="#spoiler-eduStandartTreb" data-toggle="collapse" class="btn btn-primary btn-block">
    Информация о самостоятельно устанавливаемых требованиях, с размещением их в форме электронного документа,<br />
    подписанного электронной подписью, и (или) гиперссылки на соответствующий электронный документ, подписанный электронной подписью
</a>
<div class="collapse" id="spoiler-eduStandartTreb">
    <div class="well">
        <table itemprop="eduDoc">
            <tr itemprop="eduDoc">
                <td itemprop="eduStandartTreb">Не применяются</td>
            </tr>
        </table>
    </div>
</div>
