@{
    ViewData["Title"] = "Руководство. Педагогический (научно-педагогический) состав";
}

<h1>Педагогический состав</h1>

@{
    var t14rucovodstvo = (IEnumerable<Rucovodstvo>)ViewData["t14rucovodstvo"];
    var t15rucovodstvoFil = (IEnumerable<RucovodstvoFil>)ViewData["t15rucovodstvoFil"];    
    var teacher1 = (IEnumerable<Teacher>)ViewData["teacher1"];
    int counter = 10;
    
}



<table itemprop="teachingStaff" class="table table-hover">
    <thead>
        <tr>
            <th>Ф.И.О.</th>
            <th>Должность преподавателя</th>
            <th>Перечень преподаваемых дисциплин</th>
            <th>Уровень (уровни) профессионального образования, квалификация</th>
            <th>Наименование направления подготовки и (или) специальности, в том числе научной</th>
            <th>Учёная степень (при наличии)</th>
            <th>Учёное звание (при наличии)</th>
            <th>Сведения о повышении квалификации (за последние 3 года) и сведения о профессиональной переподготовке (при наличии)</th>
            <th>Общий стаж работы</th>
            <th>Сведения о продолжительности опыта (лет) работы в профессиональной сфере</th>
            <th>Наименование образовательных программ, в реализации которых участвует педагогический работник</th>
        </tr>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacherKey in teacher1.OrderBy(a => a.TeacherFio).GroupBy(t => t.TeacherId))
        {
            var teacher = teacherKey.FirstOrDefault();
            <tr itemprop="teachingStaff">
                <td itemprop="fio">
                    @if (!string.IsNullOrEmpty(teacher.AppUserId))
                    {
                        <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@teacher.AppUserId">@teacher.TeacherFio</a>
                    }
                    else
                    {
                        <text>@teacher.TeacherFio</text>
                    }
                </td>

                <td itemprop="post">
                    @foreach (var post in teacher.TeacherStructKafPostStavka)
                    {
                        <p>@post.Post.PostName (@post.StructKaf.StructSubvision.StructSubvisionName - @post.EmploymentForm.EmploymentFormName)</p>
                    }
                </td>

                <td itemprop="teachingDiscipline">
                    @if (!string.IsNullOrEmpty(teacher.AppUserId))
                    {
                        @if (teacher.TeacherEduProfileDisciplineNames.Count > 0)
                        {
                            counter++;
                            <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Открыть</a>
                            <div class="collapse" id="spoiler-@counter">
                                <div class="well">
                                    <ol>
                                        @*@foreach (var discipline in teacher.TeacherEduProfileDisciplineNames.OrderBy(td => td.DisciplineName.DisciplineNameName))
                            {
                            <li>@discipline.DisciplineName.DisciplineNameName</li>
                            }*@

                                        @foreach (var eduDisciplineGroup in teacher.TeacherEduProfileDisciplineNames
                                       .OrderBy(td => td.DisciplineName.DisciplineNameName)
                                       .GroupBy(td => td.DisciplineName.DisciplineNameName)
                                       )
                                        {
                                            <li>
                                                @eduDisciplineGroup.Key
                                                <ul>
                                                    @foreach (var discipline in eduDisciplineGroup)
                                                    {
                                                        <li>@discipline.EduProfile?.GetEduProfileFullName</li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ol>
                                </div>
                            </div>
                        }
                    }

                </td>

                <td itemprop="teachingLevel">
                    <p>@teacher.AppUser?.EduLevelGroup?.EduLevelGroupName</p>
                    <p itemprop="teachingQual">
                        @if (!string.IsNullOrEmpty(teacher.AppUserId))
                        {
                            foreach (var qualification in @teacher.AppUser?.Qualifications)
                            {
                                if (qualification.RowStatusId == 2)
                                {
                                <p>@qualification.QualificationName</p>
                                }
                            }
                        }
                    </p>
                </td>

                <td itemprop="employeeQualification">
                    @if (!string.IsNullOrEmpty(teacher.AppUserId))
                    {
                        foreach (var qualification in @teacher.AppUser?.Qualifications)
                        {
                            if (qualification.RowStatusId == 2)
                            {
                                <p>@qualification.NapravlName</p>
                            }
                        }
                    }
                </td>

                <td itemprop="degree">
                    @if (!string.IsNullOrEmpty(teacher.AppUserId))
                    {
                        if (string.IsNullOrEmpty(teacher.AppUser.AcademicDegree?.AcademicDegreeName))
                        {
                            <p>Нет</p>
                        }
                        else
                        {
                            @teacher.AppUser.AcademicDegree.AcademicDegreeName
                        }
                    }
                </td>

                <td itemprop="academStat">
                    @if (!string.IsNullOrEmpty(teacher.AppUserId))
                    {
                        if (string.IsNullOrEmpty(teacher.AppUser.AcademicStat?.AcademicStatName))
                        {

                        }
                        else
                        {
                            <p>@teacher.AppUser.AcademicStat.AcademicStatName</p>
                        }
                    }
                </td>

                <td itemprop="profDevelopment">
                    @if (!string.IsNullOrEmpty(teacher.AppUserId))
                    {
                        if (!string.IsNullOrEmpty(teacher.AppUserId))
                        {
                            @if (teacher.AppUser.ProfessionalRetrainings.Count > 0)
                            {
                                counter++;
                                <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Профессиональная переподготовка</a>
                                <div class="collapse" id="spoiler-@counter">
                                    <div class="well">
                                        <ol>
                                            @foreach (var pp in teacher.AppUser.ProfessionalRetrainings)
                                            {
                                                <li><a asp-controller="ProfessionalRetrainings" asp-action="Details" asp-route-id="@pp.ProfessionalRetrainingId">@pp.GetProfessionalRetrainingString</a></li>
                                            }
                                        </ol>
                                    </div>
                                </div>
                            }

                            @if (teacher.AppUser.RefresherCourses.Count > 0)
                            {
                                counter++;
                                <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Повышение квалификации</a>
                                <div class="collapse" id="spoiler-@counter">
                                    <div class="well">
                                        <ol>
                                            @foreach (var pk in teacher.AppUser.RefresherCourses.Where(r => r.RefresherCourseDateIssue.Year > 2020))
                                            {
                                                <li><a asp-controller="RefresherCourses" asp-action="Details" asp-route-id="@pk.RefresherCourseId">@pk.GetRefresherCourseString</a></li>
                                            }
                                        </ol>
                                    </div>
                                </div>
                            }
                        }
                    }
                </td>

                <td itemprop="genExperience">
                    <p>@teacher.WorkExperienceGeneral</p>
                </td>

                <td itemprop="specExperience">
                    <p>@teacher.WorkExperienceSpecialty</p>
                </td>

                <td itemprop="teachingOp">
                    @if (!string.IsNullOrEmpty(teacher.AppUserId))
                    {
                        @if (teacher.TeacherEduProfileDisciplineNames.Count > 0)
                        {
                            counter++;
                            <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Открыть</a>
                            <div class="collapse" id="spoiler-@counter">
                                <div class="well">
                                    <ol>
                                        @foreach (var eduProfileGroup in teacher.TeacherEduProfileDisciplineNames
                                       .OrderBy(td => td.EduProfile?.GetEduProfileFullName)
                                       .GroupBy(td => td.EduProfile?.GetEduProfileFullName)
                                       )
                                        {
                                            <li>
                                                @eduProfileGroup.Key
                                                <ul>
                                                    @foreach (var eduProfile in eduProfileGroup)
                                                    {
                                                        <li>@eduProfile.DisciplineName.DisciplineNameName</li>
                                                    }
                                                </ul>
                                            </li>

                                        }
                                    </ol>
                                </div>
                            </div>
                        }
                    }
                </td>
            </tr>
        }

    </tbody>


</table>



