
@{
    ViewData["Title"] = "EmployeesOfEduProfile";
    int counter = 1;
    var eduLevels = (IEnumerable<EduLevel>)ViewData["eduLevels"];

    int eduProfileId = (int)ViewBag.EduProfileId;
    int eduYearBeginningTrainingId = (int)ViewBag.EduYearBeginningTrainingId;
    int eduYearId = (int)ViewBag.EduYearId;
}

<h2>Информация о персональном составе педагогических работников образовательной программы</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Код</th>
            <th>Наименование профессии, специальности, направления подготовки</th>
            <th>
                Ссылка на страницу о персональном составе педагогических работников образовательной программы
            </th>
        </tr>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
        </tr>
    </thead>
    <tbody>
        <tr itemprop="teachingOp">
            <td itemprop="eduCode"></td>
            <td itemprop="eduName"></td>
            <td itemprop="optRef"></td>
        </tr>
    </tbody>
</table>

<form asp-action="EmployeesOfEduProfile">
    <div class="form-group">
        <label name="EduProfileId" class="control-label">Профиль / направленность подготовки</label>
        <select name="EduProfileId" class="form-control" asp-items="@ViewBag.EduProfiles">
            <option value="">Не выбрано</option>
        </select>
    </div>
    <div class="form-group">
        <label name="EduProfileId" class="control-label">Год начала подготовки</label>
        <select name="EduYearBeginningTrainingId" class="form-control" asp-items="@ViewBag.EduYearBeginningTrainings"></select>
    </div>
    <div class="form-group">
        <label name="EduProfileId" class="control-label">Учебный год</label>
        <select name="EduYearId" class="form-control" asp-items="@ViewBag.EduYears"></select>
    </div>

    <input type="hidden" name="needFetchDataFromDb" value="true" />

    <input type="submit" value="Просмотр" />
</form>


@if (eduLevels != null)
{
    foreach (var eduLevel in eduLevels)
    {
        foreach (var eduUgs in eduLevel.EduUgses)
        {
            foreach (var eduNapravl in eduUgs.EduNapravls)
            {
                foreach (var eduProfile in eduNapravl.EduProfiles)
                {
                    if (eduProfile.EduProfileId != eduProfileId) { continue; }

                    foreach (var eduPlan in eduProfile.EduPlans)
                    {
                        foreach (var eduPlanEduYear in eduPlan.EduPlanEduYears)
                        {
                            bool isEduYearBeginningTrainingId = false;
                            foreach (var eduPlanEduYearBeginningTraining in eduPlanEduYear.EduPlan.EduPlanEduYearBeginningTrainings)
                            {
                                if (eduPlanEduYearBeginningTraining.EduYearBeginningTrainingId == eduYearBeginningTrainingId)
                                {
                                    isEduYearBeginningTrainingId = true;
                                }
                            }
                            if (!isEduYearBeginningTrainingId)
                            {
                                continue;
                            }

                            if (eduPlanEduYear.EduYear.EduYearId != eduYearId) { continue; }
                            if (eduPlanEduYear.TeacherDisciplines.Count == 0) { continue; }

                            <h4>@eduPlanEduYear.EduYear.EduYearName</h4>
                            <h4>Форма обучения: @eduPlanEduYear.EduPlan.EduForm.EduFormName</h4>

                            <table itemprop="teachingStaff" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Ф.И.О. преподавателя, реализующего программу</th>
                                        <th>Должность преподавателя</th>
                                        <th>Перечень преподаваемых дисциплин</th>
                                        <th>Уровень образования</th>
                                        <th>Квалификация</th>
                                        <th>Учёная степень педагогического работника (при наличии)</th>
                                        <th>Учёное звание педагогического работника (при наличии)</th>
                                        <th>Наименование направления подготовки и (или) специальности педагогического работника</th>
                                        <th>Сведения о повышении квалификации и (или) профессиональной переподготовке педагогического работника (при наличии)</th>
                                        <th>Общий стаж работы</th>
                                        <th>Стаж работы педагогического работника по специальности</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6</th>
                                        <th>7</th>
                                        <th>8</th>
                                        <th>9</th>
                                        <th>10</th>
                                        <th>11</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var teacherDisciplineGroup in eduPlanEduYear.TeacherDisciplines.OrderBy(t => t.Teacher.TeacherFio).GroupBy(t => t.TeacherId))
                                    {
                                        var teacher = teacherDisciplineGroup.FirstOrDefault().Teacher;
                                        <tr itemprop="teachingStaff">
                                            <td itemprop="fio">
                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                {
                                                    <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@teacher.AppUserId">@teacher.TeacherFio</a>
                                                }
                                                else
                                                {
                                                    <text>@teacher.TeacherFio</text>
                                                }
                                            </td>

                                            <td itemprop="post">
                                                @foreach (var post in teacher.TeacherStructKafPostStavka)
                                                {
                                                    <p>@post.Post.PostName</p>
                                                }
                                            </td>

                                            <td itemprop="teachingDiscipline">
                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                {
                                                    @if (teacher.TeacherEduProfileDisciplineNames.Count > 0)
                                                    {
                                                        counter++;
                                                        <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Открыть</a>
                                                        <div class="collapse" id="spoiler-@counter">
                                                            <div class="well">
                                                                <ol>
                                                                    @foreach (var teacherDiscipline in teacherDisciplineGroup)
                                                                    {
                                                                        <li>@teacherDiscipline.Discipline?.DisciplineName?.DisciplineNameName</li>
                                                                    }
                                                                </ol>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                            </td>
                                            <td itemprop="teachingLevel">@teacher.AppUser?.EduLevelGroup?.EduLevelGroupName</td>

                                            <td itemprop="teachingQual">
                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                {
                                                    foreach (var qualification in @teacher.AppUser?.Qualifications)
                                                    {
                                                        if (qualification.RowStatusId == 2)
                                                        {
                                                            <p>@qualification.QualificationName</p>
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td itemprop="degree">
                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                {
                                                    if (string.IsNullOrEmpty(teacher.AppUser.AcademicDegree?.AcademicDegreeName))
                                                    {
                                                        <p>Нет</p>
                                                    }
                                                    else
                                                    {
                                                        @teacher.AppUser.AcademicDegree.AcademicDegreeName
                                                    }
                                                }
                                            </td>
                                            <td itemprop="academStat">
                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                {
                                                    if (string.IsNullOrEmpty(teacher.AppUser.AcademicStat?.AcademicStatName))
                                                    {
                                                        <p>Нет</p>
                                                    }
                                                    else
                                                    {
                                                        @teacher.AppUser.AcademicStat.AcademicStatName
                                                    }
                                                }
                                            </td>
                                            <td itemprop="employeeQualification">
                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                {
                                                    foreach (var qualification in @teacher.AppUser.Qualifications)
                                                    {
                                                        if (qualification.RowStatusId == 2)
                                                        {
                                                            <p>@qualification.NapravlName</p>
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td itemprop="profDevelopment">
                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                {
                                                    @if (teacher.AppUser.ProfessionalRetrainings.Count > 0)
                                                    {
                                                        counter++;
                                                        <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Профессиональная переподготовка</a>
                                                        <div class="collapse" id="spoiler-@counter">
                                                            <div class="well">
                                                                <ol>
                                                                    @foreach (var pp in teacher.AppUser.ProfessionalRetrainings)
                                                                    {
                                                                        <li><a asp-controller="ProfessionalRetrainings" asp-action="Details" asp-route-id="@pp.ProfessionalRetrainingId">@pp.GetProfessionalRetrainingString</a></li>
                                                                    }
                                                                </ol>
                                                            </div>
                                                        </div>
                                                    }

                                                    @if (teacher.AppUser.RefresherCourses.Count > 0)
                                                    {
                                                        counter++;
                                                        <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Повышение квалификации</a>
                                                        <div class="collapse" id="spoiler-@counter">
                                                            <div class="well">
                                                                <ol>
                                                                    @foreach (var pk in teacher.AppUser.RefresherCourses)
                                                                    {
                                                                        <li><a asp-controller="RefresherCourses" asp-action="Details" asp-route-id="@pk.RefresherCourseId">@pk.GetRefresherCourseString</a></li>
                                                                    }
                                                                </ol>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </td>
                                            <td itemprop="genExperience">
                                                <p>@teacher.WorkExperienceGeneral</p>
                                            </td>
                                            <td itemprop="specExperience">
                                                <p>@teacher.WorkExperienceSpecialty</p>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                    }
                }
            }
        }

    }
}


@*<a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Перечень педагогических (научно-педагогических) работников, задействованных в реализации образовательных программ</a>
    <div class="collapse" id="spoiler-@counter">
        <div class="well">

            @foreach (var eduLevel in eduLevels)
            {
                counter++;
                <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">@eduLevel.EduLevelName</a>
                <div class="collapse" id="spoiler-@counter">
                    <div class="well">
                        @foreach (var eduUgs in eduLevel.EduUgses)
                        {
                            foreach (var eduNapravl in eduUgs.EduNapravls)
                            {
                                counter++;
                                <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">@eduNapravl.EduNapravlCode - @eduNapravl.EduNapravlName</a>
                                <div class="collapse" id="spoiler-@counter">
                                    <div class="well">
                                        @foreach (var eduProfile in eduNapravl.EduProfiles)
                                        {
                                            counter++;
                                            <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">@eduProfile.EduProfileName</a>
                                            <div class="collapse" id="spoiler-@counter">
                                                <div class="well">
                                                    @foreach (var eduPlan in eduProfile.EduPlans)
                                                    {
                                                        counter++;

                                                        <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">@eduPlan.EduForm.EduFormName -  @eduPlan.EduProgramPodg.EduProgramPodgName @eduPlan.EduYearBeginningTrainingsDescription</a>
                                                        <div class="collapse" id="spoiler-@counter">
                                                            <div class="well">
                                                                @foreach (var eduPlanEduYear in eduPlan.EduPlanEduYears)
                                                                {
                                                                    if (eduPlanEduYear.TeacherDisciplines.Count == 0) { continue; }
                                                                    counter++;

                                                                    <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">@eduPlanEduYear.EduYear.EduYearName</a>
                                                                    <div class="collapse" id="spoiler-@counter">
                                                                        <div class="well">
                                                                            <table itemprop="teachingStaff" class="table table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Ф.И.О. преподавателя, реализующего программу</th>
                                                                                        <th>Должность преподавателя</th>
                                                                                        <th>Перечень преподаваемых дисциплин</th>
                                                                                        <th>Уровень образования</th>
                                                                                        <th>Квалификация</th>
                                                                                        <th>Учёная степень педагогического работника (при наличии)</th>
                                                                                        <th>Учёное звание педагогического работника (при наличии)</th>
                                                                                        <th>Наименование направления подготовки и (или) специальности педагогического работника</th>
                                                                                        <th>Сведения о повышении квалификации и (или) профессиональной переподготовке педагогического работника (при наличии)</th>
                                                                                        <th>Общий стаж работы</th>
                                                                                        <th>Стаж работы педагогического работника по специальности</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th>1</th>
                                                                                        <th>2</th>
                                                                                        <th>3</th>
                                                                                        <th>4</th>
                                                                                        <th>5</th>
                                                                                        <th>6</th>
                                                                                        <th>7</th>
                                                                                        <th>8</th>
                                                                                        <th>9</th>
                                                                                        <th>10</th>
                                                                                        <th>11</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var teacherDisciplineGroup in eduPlanEduYear.TeacherDisciplines.OrderBy(t => t.Teacher.TeacherFio).GroupBy(t => t.TeacherId))
                                                                                    {
                                                                                        var teacher = teacherDisciplineGroup.FirstOrDefault().Teacher;
                                                                                        <tr itemprop="teachingStaff">
                                                                                            <td itemprop="fio">
                                                                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                                                                {
                                                                                                    <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@teacher.AppUserId">@teacher.TeacherFio</a>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <text>@teacher.TeacherFio</text>
                                                                                                }
                                                                                            </td>

                                                                                            <td itemprop="post">
                                                                                                @foreach (var post in teacher.TeacherStructKafPostStavka)
                                                                                                {
                                                                                                    <p>@post.Post.PostName</p>
                                                                                                }
                                                                                            </td>

                                                                                            <td itemprop="teachingDiscipline">
                                                                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                                                                {
                                                                                                    @if (teacher.TeacherEduProfileDisciplineNames.Count > 0)
                                                                                                    {
                                                                                                        counter++;
                                                                                                        <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Открыть</a>
                                                                                                        <div class="collapse" id="spoiler-@counter">
                                                                                                            <div class="well">
                                                                                                                <ol>
                                                                                                                    @foreach (var teacherDiscipline in teacherDisciplineGroup)
                                                                                                                    {
                                                                                                                        <li>@teacherDiscipline.Discipline?.DisciplineName?.DisciplineNameName</li>
                                                                                                                    }
                                                                                                                </ol>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    }
                                                                                                }

                                                                                            </td>
                                                                                            <td itemprop="teachingLevel">@teacher.AppUser?.EduLevelGroup?.EduLevelGroupName</td>

                                                                                            <td itemprop="teachingQual">
                                                                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                                                                {
                                                                                                    foreach (var qualification in @teacher.AppUser?.Qualifications)
                                                                                                    {
                                                                                                        if (qualification.RowStatusId == 2)
                                                                                                        {
                                                                                                            <p>@qualification.QualificationName</p>
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            </td>
                                                                                            <td itemprop="degree">
                                                                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                                                                {
                                                                                                    if (string.IsNullOrEmpty(teacher.AppUser.AcademicDegree?.AcademicDegreeName))
                                                                                                    {
                                                                                                        <p>Нет</p>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        @teacher.AppUser.AcademicDegree.AcademicDegreeName
                                                                                                    }
                                                                                                }
                                                                                            </td>
                                                                                            <td itemprop="academStat">
                                                                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                                                                {
                                                                                                    if (string.IsNullOrEmpty(teacher.AppUser.AcademicStat?.AcademicStatName))
                                                                                                    {
                                                                                                        <p>Нет</p>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        @teacher.AppUser.AcademicStat.AcademicStatName
                                                                                                    }
                                                                                                }
                                                                                            </td>
                                                                                            <td itemprop="employeeQualification">
                                                                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                                                                {
                                                                                                    foreach (var qualification in @teacher.AppUser.Qualifications)
                                                                                                    {
                                                                                                        if (qualification.RowStatusId == 2)
                                                                                                        {
                                                                                                            <p>@qualification.NapravlName</p>
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            </td>
                                                                                            <td itemprop="profDevelopment">
                                                                                                @if (!string.IsNullOrEmpty(teacher.AppUserId))
                                                                                                {
                                                                                                    @if (teacher.AppUser.ProfessionalRetrainings.Count > 0)
                                                                                                    {
                                                                                                        counter++;
                                                                                                        <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Профессиональная переподготовка</a>
                                                                                                        <div class="collapse" id="spoiler-@counter">
                                                                                                            <div class="well">
                                                                                                                <ol>
                                                                                                                    @foreach (var pp in teacher.AppUser.ProfessionalRetrainings)
                                                                                                                    {
                                                                                                                        <li><a asp-controller="ProfessionalRetrainings" asp-action="Details" asp-route-id="@pp.ProfessionalRetrainingId">@pp.GetProfessionalRetrainingString</a></li>
                                                                                                                    }
                                                                                                                </ol>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    }

                                                                                                    @if (teacher.AppUser.RefresherCourses.Count > 0)
                                                                                                    {
                                                                                                        counter++;
                                                                                                        <a href="#spoiler-@counter" data-toggle="collapse" class="btn btn-primary btn-block">Повышение квалификации</a>
                                                                                                        <div class="collapse" id="spoiler-@counter">
                                                                                                            <div class="well">
                                                                                                                <ol>
                                                                                                                    @foreach (var pk in teacher.AppUser.RefresherCourses)
                                                                                                                    {
                                                                                                                        <li><a asp-controller="RefresherCourses" asp-action="Details" asp-route-id="@pk.RefresherCourseId">@pk.GetRefresherCourseString</a></li>
                                                                                                                    }
                                                                                                                </ol>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    }
                                                                                                }
                                                                                            </td>
                                                                                            <td itemprop="genExperience">
                                                                                                <p>@teacher.WorkExperienceGeneral</p>
                                                                                            </td>
                                                                                            <td itemprop="specExperience">
                                                                                                <p>@teacher.WorkExperienceSpecialty</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }

                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>

                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>*@