@{
    ViewData["Title"] = "Стипендии и иные виды материальной поддержк";
    var StipendiiFederalGrant = (FileDataType)ViewData["StipendiiFederalGrant"];
    var StipendiiLocalGrant = (FileDataType)ViewData["StipendiiLocalGrant"];
    var GraduateYear = (List<GraduateYear>)ViewData["GraduateYear"];
    var EduGraduate = (List<EduGraduate>)ViewData["EduGraduate"];
    var GraduateTrudoustroustvo = (List<GraduateTrudoustroustvo>)ViewData["GraduateTrudoustroustvo"];
    int spoilerCounter = 1;
}

<h1>Стипендии и иные виды материальной поддержки</h1>

<div itemprop="grant">

    @{
        var t20hostelInfo = (IEnumerable<HostelInfo>)ViewData["t20hostelInfo"];
    }

    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о наличии и условиях предоставления обучающимся стипендий</a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о видах стипендий</a>
            <div class="collapse" id="spoiler-@spoilerCounter">
                @{spoilerCounter++;}
                <div class="well" itemprop="typeGrant">
                    <ol>
                        <li>Государственная академическая стипендия</li>
                        <li>Повышенная государственная академическая стипендия</li>
                        <li>Государственная социальная стипендия</li>
                        <li>Повышенная государственная социальная стипендия</li>
                        <li>Стипендия Университета</li>
                        <li>Стипендия Президента Российской Федерации для студентов и аспирантов, обучающихся по направлениям подготовки (специальностям), соответствующим приоритетным направлениям модернизации и технологического развития российской экономики</li>
                        <li>Стипендия Правительства Российской Федерации для студентов и аспирантов (адъюнктов), обучающихся по образовательным программам высшего образования по очной форме по специальностям или направлениям подготовки, соответствующим приоритетным направлениям модернизации и технологического развития российской экономики</li>
                        <li>Стипендия Президента Российской Федерации для студентов и аспирантов образовательных учреждений высшего образования</li>
                        <li>Стипендия Правительства Российской Федерации для аспирантов и студентов, обучающихся за счет средств федерального бюджета по очной форме по основным образовательным программам высшего образования</li>
                        <li>Стипендия Правительства Российской Федерации для лиц, обучающихся по очной форме обучения по образовательным программам среднего профессионального образования, соответствующим приоритетным направлениям модернизации и технологического развития экономики Российской Федерации</li>
                        <li>Стипендия Правительства Российской Федерации для студентов, обучающихся за счет средств федерального бюджета по очной форме по образовательным программам среднего профессионального образования</li>
                        <li>Стипендия Губернатора Ростовской области для студентов и аспирантов образовательных организаций высшего образования</li>
                    </ol>
                </div>
            </div>

            <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Федеральные нормативные акты</a>
            <div class="collapse" id="spoiler-@spoilerCounter">
                @{spoilerCounter++;}
                <div class="well">
                    @foreach (var ftft in StipendiiFederalGrant.FileToFileTypes)
                    {
                        <p itemprop="@ftft.FileDataType.Itemprop"><a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
                    }
                </div>
            </div>

            <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Локальные нормативные акты</a>
            <div class="collapse" id="spoiler-@spoilerCounter">
                @{spoilerCounter++;}
                <div class="well">
                    @foreach (var ftft in StipendiiLocalGrant.FileToFileTypes)
                    {
                        <p itemprop="@ftft.FileDataType.Itemprop">
                            <a href="/@ftft.FileModel.Path" itemprop="localAct">@ftft.FileModel.Name</a>
                        </p>
                    }
                </div>
            </div>

        </div>
    </div>


    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о мерах социальной поддержки обучающихся</a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well" itemprop="support">
            <a href="http://ачгаа.рф/files/achii/2020/grant_support.pdf" itemprop="support" target="_blank">Информация о мерах социальной поддержки обучающихся</a>
        </div>
    </div>

    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о трудоустройстве выпускников</a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th rowspan="2">Код</th>
                        <th rowspan="2">Наименование профессии, специальности, направления подготовки</th>
                        <th colspan="2">@GraduateYear[GraduateYear.Count - 1].GraduateYearName</th>
                        <th colspan="2">@GraduateYear[GraduateYear.Count - 2].GraduateYearName</th>
                        <th colspan="2">@GraduateYear[GraduateYear.Count - 3].GraduateYearName</th>
                    </tr>
                    <tr>
                        <th>Кол-во выпускников</th>
                        <th>Кол-во трудоустроенных выпускников</th>
                        <th>Кол-во выпускников</th>
                        <th>Кол-во трудоустроенных выпускников</th>
                        <th>Кол-во выпускников</th>
                        <th>Кол-во трудоустроенных выпускников</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var graduateG in EduGraduate.OrderBy(g => g.EduProfileId).GroupBy(g => g.EduProfileId))
                    {
                        <tr itemprop="graduateJob">
                            <td itemprop="eduCode">@EduGraduate.FirstOrDefault(g => g.EduProfileId == graduateG.Key).EduProfile.EduNapravl.EduNapravlCode</td>
                            <td itemprop="eduName">@EduGraduate.FirstOrDefault(g => g.EduProfileId == graduateG.Key).EduProfile.EduNapravl.EduNapravlName (@EduGraduate.FirstOrDefault(g => g.EduProfileId == graduateG.Key).EduProfile.EduProfileName)</td>
                            @foreach (var graduateYear in GraduateYear.TakeLast(3).OrderByDescending(y => y.GraduateYearId))
                            {
                                int yearCounter = 1;
                                bool IsFounded = false;
                                foreach (var graduate in graduateG.Where(g => g.GraduateYearId == graduateYear.GraduateYearId))
                                {
                                    IsFounded = true;
                                    <td itemprop="@("v" + yearCounter)">@graduate.GraduateNumber</td>

                                    int? trud = GraduateTrudoustroustvo.Where(t => t.EduProfileId == graduateG.Key && t.GraduateYearId == graduateYear.GraduateYearId).FirstOrDefault()?.GraduateTrudoustroustvoNumber;
                                    if (trud > 0)
                                    {
                                        <td itemprop="@("t" + yearCounter)">@trud</td>
                                    }
                                    else
                                    {
                                        <td itemprop="@("t" + yearCounter)">-</td>
                                    }

                                    break;
                                }

                                if (!IsFounded)
                                {
                                    <td itemprop="@("v" + yearCounter)">-</td>
                                    <td itemprop="@("t" + yearCounter)">-</td>
                                }

                                yearCounter++;
                            }


                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>


    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о наличии общежития, интерната, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья, количестве жилых помещений в общежитии, интернате для иногородних обучающихся</a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">

            <table itemprop="hostelInfo" class="table table-hover">
                <thead>
                    <tr>
                        <th>Наименование показателя</th>
                        <th>Общежития</th>
                        <th>Интернаты</th>
                    </tr>
                </thead>
                @foreach (var item in t20hostelInfo)
                {
                    <tr itemprop="hostelInfo">
                        <td>@item.NameIndicator</td>
                        @if (item.Link != String.Empty)
                        {

                            @if (item.Itemprop != String.Empty)
                            {
                                <td itemprop="@item.Itemprop"><a href="@item.Link">@item.Value</a></td>
                            }
                            else
                            {
                                <td><a href="@item.Link">@item.Value</a></td>
                            }
                        }
                        else
                        {
                            @if (item.Itemprop != String.Empty)
                            {
                                <td itemprop="@item.Itemprop">@item.Value</td>
                            }
                            else
                            {
                                <td>@item.Value</td>
                            }
                        }
                        <td>-</td>
                        <td itemprop="interInfo" class="hidden">-</td>
                        <td itemprop="interTS" class="hidden">-</td>
                        <td itemprop="interLS" class="hidden">-</td>
                        <td itemprop="interNum" class="hidden">-</td>
                        <td itemprop="interInv" class="hidden">-</td>
                        <td itemprop="interFd" class="hidden">-</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Приспособленность общежитий, интернатов для использования инвалидами и лицами с ограниченными возможностями здоровья</a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well">
            <a asp-action="Ovz" target="_blank">Информация представлена в специальном подразделе "Доступная среда"</a>
        </div>
    </div>

    <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о формировании платы за проживание в общежитии</a>
    <div class="collapse" id="spoiler-@spoilerCounter">
        @{spoilerCounter++;}
        <div class="well" itemprop="localActObSt">
            <a href="http://ачгаа.рф/wp-content/uploads/2019/03/%D0%9F%D1%80%D0%B8%D0%BA%D0%B0%D0%B7%E2%84%96283-%D0%9E-%D0%BE%D1%82-29.10.18%D0%B3.-%D0%9E%D0%B1-%D1%83%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B8-%D1%80%D0%B0%D0%B7%D0%BC%D0%B5%D1%80%D0%B0-%D0%BE%D0%BF%D0%BB%D0%B0%D1%82%D1%8B-%D0%B7%D0%B0-%D0%BF%D1%80%D0%BE%D0%B6%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B2-%D0%9E%E2%84%964-2-%D1%8D%D1%82%D0%B0%D0%B6.pdf" target="_blank">Приказ № 283-O от «29» октября 2018 г. «Об установлении размера оплаты за проживание в общежитии №4 (2 этаж) и комнатах улучшенной планировки в общежитиях №3,5 с 1.11.2018»</a>
        </div>
    </div>

</div>