@{
    ViewData["Title"] = "Стипендии и иные виды материальной поддержк";
    var StipendiiFederalGrant = (FileDataType)ViewData["StipendiiFederalGrant"];
    var StipendiiLocalGrant = (FileDataType)ViewData["StipendiiLocalGrant"];
    var GraduateYear = (List<GraduateYear>)ViewData["GraduateYear"];
    var EduGraduate = (List<EduGraduate>)ViewData["EduGraduate"];
    var GraduateTrudoustroustvo = (List<GraduateTrudoustroustvo>)ViewData["GraduateTrudoustroustvo"];
}

<h1>Стипендии и иные виды материальной поддержки</h1>

@{
    var t20hostelInfo = (IEnumerable<HostelInfo>)ViewData["t20hostelInfo"];
}


<a href="#spoiler-1" data-toggle="collapse" class="btn btn-primary btn-block">Информация о наличии и условиях предоставления стипендии</a>
<div class="collapse" id="spoiler-1">
    <div class="well">

        <a href="#spoiler-2" data-toggle="collapse" class="btn btn-primary btn-block">Федеральные нормативные акты</a>
        <div class="collapse" id="spoiler-2">
            <div class="well">
                @foreach (var ftft in StipendiiFederalGrant.FileToFileTypes)
                {
                    <p><a itemprop="@ftft.FileDataType.Itemprop" href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
                }
            </div>
        </div>

        <a href="#spoiler-3" data-toggle="collapse" class="btn btn-primary btn-block">Локальные нормативные акты</a>
        <div class="collapse" id="spoiler-3">
            <div class="well">
                @foreach (var ftft in StipendiiLocalGrant.FileToFileTypes)
                {
                    <p><a itemprop="@ftft.FileDataType.Itemprop" href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
                }
            </div>
        </div>

    </div>
</div>


<a href="#spoiler-4" data-toggle="collapse" class="btn btn-primary btn-block">Наличие общежития, интерната, количество жилых помещений в общежитии, интернате для иногородних обучающихся</a>
<div class="collapse" id="spoiler-4">
    <div class="well">

        <table itemprop="hostelInfo" class="table table-hover">
            <thead>
                <tr>
                    <th>Наименование показателя</th>
                    <th>Значение</th>
                </tr>
            </thead>
            @foreach (var item in t20hostelInfo)
            {
                <tr itemprop="hostelInfo">
                    <td>@item.NameIndicator</td>
                    @if (item.Link != String.Empty)
                    {

                        @if (item.Itemprop != String.Empty)
                        {
                            <td itemprop="@item.Itemprop"><a href="@item.Link">@item.Value</a></td>
                        }
                        else
                        {
                            <td><a href="@item.Link">@item.Value</a></td>
                        }
                    }
                    else
                    {
                        @if (item.Itemprop != String.Empty)
                        {
                            <td itemprop="@item.Itemprop">@item.Value</td>
                        }
                        else
                        {
                            <td>@item.Value</td>
                        }
                        <td>@item.Link</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>


<a href="#spoiler-5" data-toggle="collapse" class="btn btn-primary btn-block">Информация о трудоустройстве выпускников</a>
<div class="collapse" id="spoiler-5">
    <div class="well">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th rowspan="2">Код</th>
                    <th rowspan="2">Наименование профессии, специальности, направления подготовки</th>
                    <th colspan="2">год </th>
                    <th colspan="2">год </th>
                    <th colspan="2">год </th>
                </tr>
                <tr>
                    <th>Кол-во выпускников</th>
                    <th>Кол-во трудоустроенных выпускников</th>
                    <th>Кол-во выпускников</th>
                    <th>Кол-во трудоустроенных выпускников</th>
                    <th>Кол-во выпускников</th>
                    <th>Кол-во трудоустроенных выпускников</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var graduateG in EduGraduate.OrderBy(g => g.EduProfileId).GroupBy(g => g.EduProfileId))
                {
                <tr>
                    <td>@EduGraduate.FirstOrDefault(g => g.EduProfileId == graduateG.Key).EduProfile.EduNapravl.EduNapravlCode</td>
                    <td>@EduGraduate.FirstOrDefault(g => g.EduProfileId == graduateG.Key).EduProfile.EduNapravl.EduNapravlName (@EduGraduate.FirstOrDefault(g => g.EduProfileId == graduateG.Key).EduProfile.EduProfileName)</td>
                    @foreach (var graduate in graduateG.OrderByDescending(g => g.GraduateYearId))
                    {
                        <td>@graduate.GraduateNumber</td>
                        <td>@graduate.GraduateYear.GraduateYearName</td>
                    }
                </tr>
                }

            </tbody>
        </table>

    </div>
</div>