@{
    ViewData["Title"] = "Материально-техническое обеспечение и оснащенность образовательного процесса";
}

@{
    int NumEbs = (int)ViewData["NumEbs"];
    int NumEbsSobstv = (int)ViewData["NumEbsSobstv"];
    int NumEbsDogovor = (int)ViewData["NumEbsDogovor"];
    int NumEc = (int)ViewData["NumEc"];
    int NumEoisOwn = (int)ViewData["NumEoisOwn"];
    int NumEoisSide = (int)ViewData["NumEoisSide"];
    List<PurposeLibr> PurposeLibr = (List<PurposeLibr>)ViewData["PurposeLibrs"];
    List<DisciplinePomeshenie> disciplinePomeshenie = (List<DisciplinePomeshenie>)ViewData["disciplinePomeshenie"];
}

<h1>Материально-техническое обеспечение и оснащенность образовательного процесса</h1>

<a href="#spoiler-1" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии оборудованных учебных кабинетов, объектов для проведения практических занятий</a>
<div class="collapse" id="spoiler-1">
    <div class="well">

        <table itemprop="purposeCab" class="table table-hover">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Наименование специальности, направления подготовки</th>
                    <th>Наименование дисциплины (модуля), практик в соответствии с учебным планом</th>
                    <th>Наименование специальных помещений и помещений для самостоятельной работы</th>
                    <th>Оснащенность специальных помещений и помещений для самостоятельной работы</th>
                    <th>Приспособленность помещений для использования инвалидами и лицами с ограниченными возможностями здоровья</th>
                </tr>                
            </thead>
            <tbody>
                @foreach (var disciplinePomeshenieG in disciplinePomeshenie.GroupBy(dp => dp.EduPlanEduYear.EduPlan.EduProfileId))
                {
                    foreach (var discPomeshenie in disciplinePomeshenieG)
                    {
                        string purposeCab = "purposeCabOvz";
                        string purposePrac = "purposePracOvz";
                        switch (discPomeshenie.Pomeshenie.PomeshenieOvz)
                        {
                            case null:
                            case "":
                            case "нет":
                            case "не приспособлено":
                                purposeCab = "purposeCab";
                                purposePrac = "purposePrac";
                                break;

                        }

                        <tr itemprop="@purposeCab">
                            <td itemprop="eduCode">@discPomeshenie.EduPlanEduYear.EduPlan.EduProfile.EduNapravl.EduNapravlCode</td>
                            <td itemprop="eduName">@discPomeshenie.EduPlanEduYear.EduPlan.EduProfile.EduNapravl.EduNapravlName (@discPomeshenie.EduPlanEduYear.EduPlan.EduProfile.EduProfileName)</td>
                            <td>@discPomeshenie.Discipline.DisciplineName.DisciplineNameName</td>
                            <td>@discPomeshenie.Pomeshenie.PomeshenieFullName</td>
                            <td itemprop="@purposePrac"><ul>
                                @foreach (var oborudovanie in discPomeshenie.Pomeshenie.OborudovanieList)
                                    {
                                    <li>@oborudovanie.OborudovanieName (@oborudovanie.OborudovanieCount шт.)</li>
                                }
                                </ul>
                            </td>
                            <td>@discPomeshenie.Pomeshenie.PomeshenieOvz</td>
                        </tr>
                    }

                 }

            </tbody>
        </table>

    </div>
</div>


<a href="#spoiler-2" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии библиотек, объектов спорта, условиях питания и охраны здоровья обучающихся</a>
<div class="collapse" id="spoiler-2">
    <div class="well">


        <div class="sp-body folded">

            <table class="table" itemprop="purposeLibr">
                <thead>
                    <tr>
                        <th>
                            Вид помещения
                        </th>
                        <th>
                            Адрес места нахождения
                        </th>
                        <th>
                            Площадь, м.кв.
                        </th>
                        <th>
                            Количество мест
                        </th>
                        <th>
                            Приспособленность для использования инвалидами и лицами с ограниченными возможностями здоровья
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in PurposeLibr)
                {
                        <tr itemprop="@item.itemprop">
                            <td>
                                @Html.DisplayFor(modelItem => item.VidPom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Square)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberPlaces)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrisposoblOvz)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="#spoiler-3" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о доступе к электронной информационно-образовательной среде, информационным системам и информационно-телекоммуникационным сетям </br> и электронным ресурсам, к которым обеспечивается доступ обучающихся</a>
<div class="collapse" id="spoiler-3">
    <div class="well">

        <div itemprop="comNet" class="sp-body folded">
            
            <table itemprop="purposeEios" class="table table-hover">
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                <tr>
                <tr>
                    <td>Наличие в образовательной организации электронной информационно-образовательной среды</td>
                    <td itemprop="purposeEios">Да</td>
                <tr>
                <tr>
                    <td>Общее количество компьютеров с выходом в информационно-телекоммуникационную сеть «Интернет», к которым имеют доступ обучающиеся</td>
                    <td itemprop="purposeInternet">400</td>
                <tr>
                <tr>
                    <td>Общее количество ЭБС, к которым имеют доступ обучающиеся (собственных или на договорной основе)</td>
                    <td itemprop="purposeEbs"><a asp-controller="ElectronBiblSystems" asp-action="Preview">@NumEbs</a>, в том числе</br> @NumEbsSobstv - собственных,</br> @NumEbsDogovor - на договорной основе</td>
                <tr>
                <tr>
                    <td>Наличие собственных электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisOwn"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="true">@NumEoisOwn</a></td>
                <tr>
                <tr>
                    <td>Наличие сторонних электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisSide"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="false">@NumEoisSide</a></td>
                <tr>
                <tr>
                    <td>Наличие базы данных электронного каталога</td>
                    <td itemprop="bdec"><a asp-controller="ElectronCatalogs" asp-action="Preview">@NumEc</a></td>
                <tr>
            </table>
        </div>

        <div>
            <h4>Дополнительные сведения</h4>
            <ul>
                <li itemprop="comNetOvz">
                    Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям, приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья: специальные средства доступа отсутствуют.
                </li>
                <li itemprop="erList">
                    Перечень электронных образовательных ресурсов:
                    <a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="true">собственные</a>,
                    <a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="false">сторонние</a>
                </li>
                <li itemprop="erListOvz">Перечень электронных образовательных ресурсов, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья: электронные образовательные ресурсы, приспособленные для использования инвалидами и лицами с ограниченными возможностями здоровья отсутствуют.</li>
            </ul>
         </div>
    </div>
</div>