@{
    ViewData["Title"] = "Материально-техническое обеспечение и оснащенность образовательного процесса";
}

@{
    int currentEduYear = (int)ViewData["currentEduYear"];
    int NumEbs = (int)ViewData["NumEbs"];
    int NumEbsSobstv = (int)ViewData["NumEbsSobstv"];
    int NumEbsDogovor = (int)ViewData["NumEbsDogovor"];
    int NumEc = (int)ViewData["NumEc"];
    int NumEoisOwn = (int)ViewData["NumEoisOwn"];
    int NumEoisSide = (int)ViewData["NumEoisSide"];
    List<PurposeLibr> PurposeLibr = (List<PurposeLibr>)ViewData["PurposeLibrs"];
    //List<DisciplinePomeshenie> disciplinePomeshenie = (List<DisciplinePomeshenie>)ViewData["disciplinePomeshenie"];
    List<EduLevel> eduLevels = (List<EduLevel>)ViewData["eduLevelsToPomeshenie"];
    int spoilerCounter = 1;
}

<h1>Материально-техническое обеспечение и оснащенность образовательного процесса</h1>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения об условиях охраны здоровья обучающихся</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="health">
            <p>Сведения об охране здоровья обучающихся: <a href="http://ачгаа.рф/sveden/objects/ohrana-zdorov-obuch">открыть</a></p>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения об условиях охраны здоровья обучающихся с ограниченными возможностями здоровья и инвалидов</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="healthOvz">
            <p>Сведения об условиях охраны здоровья обучающихся с ограниченными возможностями здоровья и инвалидов: <a href="http://ачгаа.рф/sveden/objects/ohrana-zdorov-obuch">открыть</a></p>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии оборудованных учебных кабинетов, объектов для проведения практических занятий</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        
        @foreach (var eduLevel in eduLevels)
        {
            <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">@eduLevel.EduLevelName</a>
            <div class="collapse" id="spoiler-@spoilerCounter">
                @{spoilerCounter++; }
                <div class="well">

                    @foreach (var eduUgs in eduLevel.EduUgses)
                    {
                        @foreach (var eduNapravl in eduUgs.EduNapravls)
                        {
                            <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">@eduNapravl.EduNapravlCode - @eduNapravl.EduNapravlName</a>
                            <div class="collapse" id="spoiler-@spoilerCounter">
                                @{spoilerCounter++; }
                                <div class="well">

                                    @foreach (var eduProfile in eduNapravl.EduProfiles)
                                    {
                                        <a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">@eduProfile.EduProfileName</a>
                                        <div class="collapse" id="spoiler-@spoilerCounter">
                                            @{spoilerCounter++; }
                                            <div class="well">

                                                @foreach (var eduPlan in eduProfile.EduPlans)
                                                {
                                                    @*<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">@eduPlan.EduForm.EduFormName - @eduPlan.EduProgramPodg.EduProgramPodgName  @eduPlan.EduYearBeginningTrainingsDescription</a>
                                                        <div class="collapse" id="spoiler-@spoilerCounter">
                                                            @{spoilerCounter++; }
                                                            <div class="well">*@

                                                    @foreach (var eduPlanEduYear in eduPlan.EduPlanEduYears)
                                                    {
                                                        if (eduPlanEduYear.DisciplinePomeshenies.Count == 0) { continue; }
                                                        if (eduPlanEduYear.EduYearId != currentEduYear) { continue; }
                                                        if (eduPlanEduYear.DisciplinePomeshenies == null || eduPlanEduYear.DisciplinePomeshenies.Count == 0) { continue; }
                                                        @*<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">@eduPlanEduYear.EduYear.EduYearName</a>
                                                            <div class="collapse" id="spoiler-@spoilerCounter">
                                                                @{spoilerCounter++; }
                                                                <div class="well">*@

                                                        <table itemprop="purposeCab" class="invisible">
                                                            <tr>
                                                                <td itemprop="purposeCabOvz">Информация размещена по адресу http://ачгаа.рф/nash-vuz/dostupnaya-sreda </td>
                                                                <td itemprop="purposePracOvz">Информация размещена по адресу http://ачгаа.рф/nash-vuz/dostupnaya-sreda </td>
                                                            </tr>
                                                        </table>

                                                        <table itemprop="purposeCab" class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Код</th>
                                                                    <th>Наименование специальности, направления подготовки</th>
                                                                    <th>Наименование дисциплины (модуля), практик в соответствии с учебным планом</th>
                                                                    <th>Наименование специальных помещений и помещений для самостоятельной работы</th>
                                                                    <th>Оснащенность специальных помещений и помещений для самостоятельной работы</th>
                                                                    <th>Приспособленность помещений для использования инвалидами и лицами с ограниченными возможностями здоровья</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                @foreach (var discPomeshenie in eduPlanEduYear.DisciplinePomeshenies.OrderBy(dp => dp.Discipline.DisciplineName.DisciplineNameName))
                                                                {

                                                                    string purposeCab = "purposeCabOvz";
                                                                    string purposePrac = "purposePracOvz";
                                                                    switch (discPomeshenie.Pomeshenie.PomeshenieOvz)
                                                                    {
                                                                        case null:
                                                                        case "":
                                                                        case "нет":
                                                                        case "не приспособлено":
                                                                            purposeCab = "purposeCab";
                                                                            purposePrac = "purposePrac";
                                                                            break;

                                                                    }

                                                                    <tr itemprop="@purposeCab">
                                                                        <td itemprop="eduCode">@eduNapravl.EduNapravlCode</td>
                                                                        <td itemprop="eduName">@eduNapravl.EduNapravlName (@eduProfile.EduProfileName)</td>
                                                                        <td>@discPomeshenie.Discipline.DisciplineName.DisciplineNameName</td>
                                                                        <td>@discPomeshenie.Pomeshenie.PomeshenieFullName</td>
                                                                        <td itemprop="@purposePrac">
                                                                            <ul>
                                                                                @foreach (var oborudovanie in discPomeshenie.Pomeshenie.OborudovanieList)
                                                                                {
                                                                                    <li>
                                                                                        @oborudovanie.OborudovanieName
                                                                                        @if (oborudovanie.OborudovanieCount > 0)
                                                                                        {
                                                                                            <text> (@oborudovanie.OborudovanieCount шт.)</text>
                                                                                        }
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        </td>
                                                                        <td>@discPomeshenie.Pomeshenie.PomeshenieOvz</td>
                                                                    </tr>

                                                                }

                                                            </tbody>
                                                        </table>

                                                        @*</div>
                                                            </div>*@
                                                    }

                                                            @*</div>
                                                        </div>*@
                                                }

                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        }

    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии библиотек, объектов спорта, условиях питания и охраны здоровья обучающихся</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">


        <div class="sp-body folded">

            <table class="table" itemprop="purposeLibr">
                <thead>
                    <tr>
                        <th>
                            Вид помещения
                        </th>
                        <th>
                            Адрес места нахождения
                        </th>
                        <th>
                            Площадь, м.кв.
                        </th>
                        <th>
                            Количество мест
                        </th>
                        <th>
                            Приспособленность для использования инвалидами и лицами с ограниченными возможностями здоровья
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in PurposeLibr)
                    {
                        <tr itemprop="@item.itemprop">
                            <td>
                                @Html.DisplayFor(modelItem => item.VidPom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Square)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberPlaces)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrisposoblOvz)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии средств обучения и воспитания</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="purposeFacil">
            Раздел в разработке
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии средств обучения и воспитания, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="purposeFacilOvz">
            <a href="http://ачгаа.рф/wp-content/uploads/2019/04/SoglOSotrUFU.pdf">При необходимости предоставляются РУМЦ ЮФУ в соответствии с соглашением о сотрудничестве</a>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения об обеспечении доступа в здания образовательной организации инвалидов и лиц с ограниченными возможностями здоровья</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="ovz">
            <a href="http://xn--80aaak3h.xn--p1ai/sveden/objects/ovz">Сведения об обеспечении доступа в здания образовательной организации инвалидов и лиц с ограниченными возможностями здоровья</a>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Ссылка на копию документа, содержащего сведения об условиях питания и охраны здоровья обучающихся, в том числе инвалидов и лиц с ограниченными возможностями здоровья</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="mealsDocLink">
            <a href="http://ачгаа.рф/sveden/objects/meals">Открыть</a>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о доступе к электронной информационно-образовательной среде, информационным системам и информационно-телекоммуникационным сетям </br> и электронным ресурсам, к которым обеспечивается доступ обучающихся</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">

        <div itemprop="comNet" class="sp-body folded">

            <table itemprop="purposeEios" class="table table-hover">
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                <tr>
                <tr>
                    <td>Наличие в образовательной организации электронной информационно-образовательной среды</td>
                    <td itemprop="purposeEios">Да</td>
                <tr>
                <tr>
                    <td>Общее количество компьютеров с выходом в информационно-телекоммуникационную сеть «Интернет», к которым имеют доступ обучающиеся</td>
                    <td itemprop="purposeInternet">400</td>
                <tr>
                <tr>
                    <td>Общее количество ЭБС, к которым имеют доступ обучающиеся (собственных или на договорной основе)</td>
                    <td itemprop="purposeEbs"><a asp-controller="ElectronBiblSystems" asp-action="Preview">@NumEbs</a>, в том числе</br> @NumEbsSobstv - собственных,</br> @NumEbsDogovor - на договорной основе</td>
                <tr>
                <tr>
                    <td>Наличие собственных электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisOwn"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="true">@NumEoisOwn</a></td>
                <tr>
                <tr>
                    <td>Наличие сторонних электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisSide"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="false">@NumEoisSide</a></td>
                <tr>
                <tr>
                    <td>Наличие базы данных электронного каталога</td>
                    <td itemprop="bdec"><a asp-controller="ElectronCatalogs" asp-action="Preview">@NumEc</a></td>
                <tr>
            </table>
        </div>

        <div>
            <h4>Дополнительные сведения</h4>
            <ul>
                <li itemprop="comNetOvz">
                    Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям, приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья: специальные средства доступа отсутствуют.
                </li>
                <li itemprop="erList">
                    Перечень электронных образовательных ресурсов:
                    <a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="true">собственные</a>,
                    <a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="false">сторонние</a>
                </li>
                <li itemprop="erListOvz">Перечень электронных образовательных ресурсов, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья: электронные образовательные ресурсы, приспособленные для использования инвалидами и лицами с ограниченными возможностями здоровья отсутствуют.</li>
            </ul>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии специальных технических средств обучения коллективного и индивидуального пользования для инвалидов и лиц с ограниченными возможностями здоровья</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="techOvz">
            <a href="http://ачгаа.рф/wp-content/uploads/2019/04/SoglOSotrUFU.pdf">При необходимости предоставляются РУМЦ ЮФУ в соответствии с соглашением о сотрудничестве</a>
        </div>
    </div>
</div>