@{
    ViewData["Title"] = "Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда";

    var UchCabinets = (List<Pomeshenie>)ViewData["UchCabinets"];
    //var ObjectsForPractLessons = (List<Pomeshenie>)ViewData["ObjectsForPractLessons"];
    var ObjectsForPractLessons = UchCabinets;
    //int currentEduYear = (int)ViewData["currentEduYear"];
    int NumEbs = (int)ViewData["NumEbs"];
    int NumEbsSobstv = (int)ViewData["NumEbsSobstv"];
    int NumEbsDogovor = (int)ViewData["NumEbsDogovor"];
    int NumEc = (int)ViewData["NumEc"];
    int NumEoisOwn = (int)ViewData["NumEoisOwn"];
    int NumEoisSide = (int)ViewData["NumEoisSide"];
    List<PurposeLibr> PurposeLibr = (List<PurposeLibr>)ViewData["PurposeLibrs"];
    //List<DisciplinePomeshenie> disciplinePomeshenie = (List<DisciplinePomeshenie>)ViewData["disciplinePomeshenie"];
    List<EduLevel> eduLevels = (List<EduLevel>)ViewData["eduLevelsToPomeshenie"];

    var hostelInfo = (IEnumerable<HostelInfo>)ViewData["hostelInfo"];

    var InfOFormirovaniiPlatiZaProjivanieVObsch = (FileDataType)ViewData["InfOFormirovaniiPlatiZaProjivanieVObsch"];

    int spoilerCounter = 1;
}

<h1>Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда</h1>


<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии оборудованных учебных кабинетов</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Адрес</th>
                    <th>Наименование оборудованных учебных кабинетов</th>
                    <th>Оснащенность оборудованных учебных кабинетов</th>
                    <th>Приспособленность для использования инвалидами и лицами с ограниченными возможностями здоровья</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var uchCabinet in UchCabinets.OrderBy(p => p.PomeshenieName))
                {
                    <tr itemprop="purposeCab">
                        <td itemprop="addressCab">@uchCabinet.Korpus.KorpusAddress.GetAddress</td>
                        <td itemprop="nameCab">
                            @uchCabinet.PomeshenieFullName
                            <br />
                            @if (uchCabinet.PomeshenieTypes != null)
                            {
                                foreach (var pomeshenieType in uchCabinet.PomeshenieTypes)
                                {
                                    <text>@pomeshenieType.PomeshenieType.PomeshenieTypeName</text><br />
                                }
                            }
                        </td>
                        <td itemprop="osnCab">
                            <ol>
                                @foreach (var oborudovanie in uchCabinet.OborudovanieList)
                                {
                                    <li>
                                        @oborudovanie.OborudovanieName
                                    </li>
                                }
                            </ol>
                        </td>
                        <td itemprop="ovzCab">
                            @if (String.IsNullOrEmpty(uchCabinet.PomeshenieOvz))
                            {
                                <p>Не приспособлено</p>
                            }
                            else
                            {
                                <p>@uchCabinet.PomeshenieOvz</p>
                            }
                        </td>
                    </tr>
                }                
            </tbody>
        </table>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии объектов для проведения практических занятий</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Адрес</th>
                    <th>Наименование объектов для проведения практических занятий</th>
                    <th>Оснащенность объектов для проведения практических занятий</th>
                    <th>Приспособленность для использования инвалидами и лицами с ограниченными возможностями здоровья</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var objectForPractLessons in ObjectsForPractLessons.OrderBy(p => p.PomeshenieName))
                {
                    <tr itemprop="purposePrac">
                        <td itemprop="addressPrac">@objectForPractLessons.Korpus.KorpusAddress.GetAddress</td>
                        <td itemprop="namePrac">
                            @objectForPractLessons.PomeshenieFullName
                            <br />
                            @if (objectForPractLessons.PomeshenieTypes != null)
                            {
                                foreach (var pomeshenieType in objectForPractLessons.PomeshenieTypes)
                                {
                                    <text>@pomeshenieType.PomeshenieType.PomeshenieTypeName</text><br />
                                }
                            }
                        </td>
                        <td itemprop="osnPrac">
                            <ol>
                                @foreach (var oborudovanie in objectForPractLessons.OborudovanieList)
                                {
                                    <li>
                                        @oborudovanie.OborudovanieName
                                    </li>
                                }
                            </ol>
                        </td>
                        <td itemprop="ovzPrac">
                            @if (String.IsNullOrEmpty(objectForPractLessons.PomeshenieOvz))
                            {
                                <p>Не приспособлено</p>
                            }
                            else
                            {
                                <p>@objectForPractLessons.PomeshenieOvz</p>
                            }
                        </td>
                    </tr>
                }                
            </tbody>
        </table>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии библиотек и объектов спорта</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div class="sp-body folded">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Наименование объекта
                        </th>
                        <th>
                            Адрес места нахождения
                        </th>
                        <th>
                            Площадь, м.кв.
                        </th>
                        <th>
                            Количество мест
                        </th>
                        <th>Приспособленность для использования инвалидами и лицами с ограниченными возможностями здоровья</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in PurposeLibr)
                    {
                        <tr itemprop="@item.itemprop">
                            <td itemprop="objName">
                                @Html.DisplayFor(modelItem => item.VidPom)
                            </td>
                            <td itemprop="objAdress">
                                @Html.DisplayFor(modelItem => item.Adress)
                            </td>
                            <td itemprop="objSq">
                                @Html.DisplayFor(modelItem => item.Square)
                            </td>
                            <td itemprop="objCnt">
                                @Html.DisplayFor(modelItem => item.NumberPlaces)
                            </td>
                            <td itemprop="objOvz">

                                @if (String.IsNullOrEmpty(item.PrisposoblOvz))
                                {
                                    <p>Не приспособлено</p>
                                }
                                else
                                {
                                    <p>@Html.DisplayFor(modelItem => item.PrisposoblOvz)</p>
                                }
                            </td>
                        </tr>
                    }
                    @*        Заглушки      *@
                    <tr itemprop="purposeLibr" class="hidden">
                        <td itemprop="objName">
                            -
                        </td>
                        <td itemprop="objAddress">
                            -
                        </td>
                        <td itemprop="objSq">
                            -
                        </td>
                        <td itemprop="objCnt">
                            -
                        </td>
                        <td itemprop="objOvz">
                            -
                        </td>
                    </tr>
                    <tr itemprop="purposeSport" class="hidden">
                        <td itemprop="objName">
                            -
                        </td>
                        <td itemprop="objAddress">
                            -
                        </td>
                        <td itemprop="objSq">
                            -
                        </td>
                        <td itemprop="objCnt">
                            -
                        </td>
                        <td itemprop="objOvz">
                            -
                        </td>
                    </tr>
                    <tr itemprop="meals" class="hidden">
                        <td itemprop="objName">
                            -
                        </td>
                        <td itemprop="objAddress">
                            -
                        </td>
                        <td itemprop="objSq">
                            -
                        </td>
                        <td itemprop="objCnt">
                            -
                        </td>
                        <td itemprop="objOvz">
                            -
                        </td>
                    </tr>
                    <tr itemprop="health" class="hidden">
                        <td itemprop="objName">
                            -
                        </td>
                        <td itemprop="objAddress">
                            -
                        </td>
                        <td itemprop="objSq">
                            -
                        </td>
                        <td itemprop="objCnt">
                            -
                        </td>
                        <td itemprop="objOvz">
                            -
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии средств обучения и воспитания</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="purposeFacilOvz">            
            <p>Cредства обучения и воспитания, приспособленные для использования инвалидами и лицами с ограниченными возможностями здоровья, отсутствуют.</p>
        </div>
        <hr />
        <div itemprop="purposeFacil">
            <br />
            <p>Cредства обучения и воспитания:</p>
            @foreach (var uchCabinet in UchCabinets.OrderBy(p => p.PomeshenieName))
            {
                if (uchCabinet.OborudovanieList.Count>0)
                {
                    <p>
                        <span>@uchCabinet.PomeshenieName: </span>

                        @foreach (var oborudovanie in uchCabinet.OborudovanieList)
                        {
                            <span>
                                @oborudovanie.OborudovanieName;
                            </span>
                        }
                    </p>
                }
            }            
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{
        spoilerCounter++;
    }
    <div class="well">
        <div itemprop="comNet">
            Доступ к информационным системам и информационно-телекоммуникационным для всех обучающихся предоставляется по логину и паролю, предоставляемым куратором учебной группы.
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям,<br />
    приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{
        spoilerCounter++;
    }
    <div class="well">
        <div itemprop="comNetOvz">
            Доступ к информационным системам и информационно-телекоммуникационным сетям для использования инвалидами и лицами с ограниченными возможностями здоровья организовывается реализацией версии для слабовидящих.
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии в образовательной организации электронной информационно-образовательной среды</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">

        <div itemprop="comNet" class="sp-body folded">

            <table itemprop="purposeEios" class="table table-hover">
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                <tr>
                <tr>
                    <td>Наличие в образовательной организации электронной информационно-образовательной среды</td>
                    <td itemprop="purposeEios">Да</td>
                <tr>
                <tr>
                    <td>Общее количество компьютеров с выходом в информационно-телекоммуникационную сеть «Интернет», к которым имеют доступ обучающиеся</td>
                    <td itemprop="purposeInternet">400</td>
                <tr>
                <tr>
                    <td>Общее количество ЭБС, к которым имеют доступ обучающиеся (собственных или на договорной основе)</td>
                    <td itemprop="purposeEbs"><a asp-controller="ElectronBiblSystems" asp-action="Preview">@NumEbs</a>, в том числе</br> @NumEbsSobstv - собственных,</br> @NumEbsDogovor - на договорной основе</td>
                <tr>                
            </table>
        </div>
                
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии электронных образовательных и информационных ресурсов</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{
        spoilerCounter++;
    }
    <div class="well">

        <div itemprop="comNet" class="sp-body folded">

            <table itemprop="purposeEios" class="table table-hover">
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                <tr>
                <tr>
                    <td>Количество собственных электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisOwn"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="true">@NumEoisOwn</a></td>
                <tr>
                <tr>
                    <td>Количество сторонних электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisSide"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="false">@NumEoisSide</a></td>
                <tr>
                <tr>
                    <td>Количество баз данных электронного каталога</td>
                    <td itemprop="bdec"><a asp-controller="ElectronCatalogs" asp-action="Preview">@NumEc</a></td>
                <tr>
            </table>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Ссылки на перечень собственных и сторонних электронных ресурсов, к которым обеспечивается доступ обучающихся</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{
        spoilerCounter++;
    }
    <div class="well">
                
        <div>
            <h4>Перечень электронных образовательных ресурсов</h4>
            <ul>                
                <li itemprop="erList">
                    <a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="true">Перечень собственных электронных образовательных ресурсов</a>                 
                </li>
                <li itemprop="erList">
                    <a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="false">Перечень сторонних электронных образовательных ресурсов</a>
                </li>
                <li itemprop="erListOvz">Перечень электронных образовательных ресурсов, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья: электронные образовательные ресурсы, приспособленные для использования инвалидами и лицами с ограниченными возможностями здоровья отсутствуют.</li>
            </ul>
        </div>

        <div>
            <h4>Ссылки на дополнительные электронные ресурсы, к которым обеспечивается доступ обучающихся</h4>
            <ul>
                <li itemprop="erList">
                    <a href="https://minobrnauki.gov.ru" target="_blank">Министерство науки и высшего образования Российской Федерации</a>
                </li>
                <li itemprop="erList">
                    <a href="https://edu.gov.ru" target="_blank">Министерство просвещения Российской Федерации</a>
                </li>
                <li itemprop="erList">
                    <a href="http://obrnadzor.gov.ru" target="_blank">Федеральная служба по надзору в сфере образования и науки</a>
                </li>
                <li itemprop="erList">
                    <a href="http://edu.ru" target="_blank">Федеральный портал "Российское образование"</a>
                </li>
                <li itemprop="erList">
                    <a href="http://window.edu.ru" target="_blank">Информационная система "Единое окно доступа к образовательным ресурсам"</a>
                </li>
                <li itemprop="erList">
                    <a href="http://fcior.edu.ru" target="_blank">Федеральный центр информационно-образовательных ресурсов</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Приспособленность помещений, электронных ресурсов для использования инвалидами и лицами с ограниченными возможностями здоровья</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++;}
    <div class="well">
        <a asp-action="Ovz" target="_blank">Информация представлена в специальном подразделе "Доступная среда"</a>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения об обеспечении беспрепятственного доступа в здания образовательной организации<br />
    инвалидов и лиц с ограниченными возможностями здоровья
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{
        spoilerCounter++;
    }
    <div class="well">
        <div itemprop="ovz">
            <div itemprop="dopSsylka1">
                <a href="http://xn--80aaak3h.xn--p1ai/sveden/objects/ovz">Сведения об обеспечении доступа в здания образовательной организации инвалидов и лиц с ограниченными возможностями здоровья</a>
            </div>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения о наличии специальных технических средств обучения<br />
    коллективного и индивидуального пользования<br />
    для инвалидов и лиц с ограниченными возможностями здоровья
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{
        spoilerCounter++;
    }
    <div class="well">
        <div itemprop="techOvz">
            <p>При необходимости предоставляются РУМЦ ЮФУ в соответствии с соглашением о сотрудничестве</p>
            <a href="http://ачгаа.рф/wp-content/uploads/2019/04/SoglOSotrUFU.pdf" target="_blank">Соглашение о сотрудничестве от 10.05.2018 г.</a>
            <br />
            <a href="http://ачгаа.рф/files/achii/2019/SoglOSotrUFU_dop1_2019.pdf" target="_blank">Дополнительное соглашение № 1 к соглашению о сотрудничестве от 10.05.2018 г. (23.12.2019 г.)</a>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о наличии общежития, интерната, количестве жилых помещений в общежитии, интернате для иногородних обучающихся</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{
        spoilerCounter++;
    }
    <div class="well">

        <table itemprop="hostelInfo" class="table table-hover">
            <thead>
                <tr>
                    <th>Наименование показателя</th>
                    <th>Общежития</th>
                    <th>Интернаты</th>
                </tr>
            </thead>
            @foreach (var item in hostelInfo)
            {
                <tr itemprop="hostelInfo">
                    <td>@item.NameIndicator</td>
                    @if (item.Link != String.Empty)
                    {

                        @if (item.Itemprop != String.Empty)
                        {
                            <td itemprop="@item.Itemprop"><a href="@item.Link">@item.Value</a></td>
                        }
                        else
                        {
                            <td><a href="@item.Link">@item.Value</a></td>
                        }
                    }
                    else
                    {
                        @if (item.Itemprop != String.Empty)
                        {
                            <td itemprop="@item.Itemprop">@item.Value</td>
                        }
                        else
                        {
                            <td>@item.Value</td>
                        }
                    }
                    <td>-</td>
                    <td itemprop="interInfo" class="hidden">-</td>
                    <td itemprop="interTS" class="hidden">-</td>
                    <td itemprop="interLS" class="hidden">-</td>
                    <td itemprop="interNum" class="hidden">-</td>
                    <td itemprop="interInv" class="hidden">-</td>
                    <td itemprop="interFd" class="hidden">-</td>
                </tr>
            }
        </table>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Информация о формировании платы за проживание в общежитии</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{
        spoilerCounter++;
    }
    <div class="well" itemprop="localActObSt">
        @foreach (var ftft in InfOFormirovaniiPlatiZaProjivanieVObsch.FileToFileTypes)
        {
            <p itemprop="localActObSt"><a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
        }
    </div>
</div>






<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения об условиях охраны здоровья обучающихся</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{
        spoilerCounter++;
    }
    <div class="well">
        <div itemprop="health">
            <p><a href="http://ачгаа.рф/sveden/objects/ohrana-zdorov-obuch">Сведения об охране здоровья обучающихся</a></p>
        </div>
    </div>
</div>


<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Ссылка на копию документа, содержащего сведения об условиях питания и охраны здоровья обучающихся, в том числе инвалидов и лиц с ограниченными возможностями здоровья</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{
        spoilerCounter++;
    }
    <div class="well">
        <div itemprop="mealsDocLink">
            <a href="http://ачгаа.рф/sveden/objects/meals">Открыть</a>
        </div>
    </div>
</div>
