@{
    ViewData["Title"] = "Материально-техническое обеспечение и оснащенность образовательного процесса";
}

@{
    var UchCabinets = (List<Pomeshenie>)ViewData["UchCabinets"];
    var ObjectsForPractLessons = (List<Pomeshenie>)ViewData["ObjectsForPractLessons"];
    //int currentEduYear = (int)ViewData["currentEduYear"];
    int NumEbs = (int)ViewData["NumEbs"];
    int NumEbsSobstv = (int)ViewData["NumEbsSobstv"];
    int NumEbsDogovor = (int)ViewData["NumEbsDogovor"];
    int NumEc = (int)ViewData["NumEc"];
    int NumEoisOwn = (int)ViewData["NumEoisOwn"];
    int NumEoisSide = (int)ViewData["NumEoisSide"];
    List<PurposeLibr> PurposeLibr = (List<PurposeLibr>)ViewData["PurposeLibrs"];
    //List<DisciplinePomeshenie> disciplinePomeshenie = (List<DisciplinePomeshenie>)ViewData["disciplinePomeshenie"];
    List<EduLevel> eduLevels = (List<EduLevel>)ViewData["eduLevelsToPomeshenie"];
    int spoilerCounter = 1;
}

<h1>Материально-техническое обеспечение и оснащенность образовательного процесса</h1>


<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Места осуществления образовательной деятельности,<br>
    в том числе не указываемые в приложении к лицензии на осужествление образовательной деятельности
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>№ п/п</th>
                        <th>Адрес места осуществления образовательной деятельности</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td itemprop="addressPlace">347740, Ростовская область, г. Зерноград, ул. Ленина, 19</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td itemprop="addressPlace">
                            347740, Ростовская область, г. Зерноград,
                            ул. Советская 28/30
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td itemprop="addressPlace">
                            347740, Ростовская область, г. Зерноград,
                            ул. Советская 17/21
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td itemprop="addressPlace">
                            347740, Ростовская область, г. Зерноград,
                            ул. Советская, 17
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td itemprop="addressPlace">
                            347740, Ростовская область, г. Зерноград,
                            ул. Советская, 21а
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td itemprop="addressPlace">347740, Ростовская область, Зерноградский район, п. Кленовый, ул. Сидоренко, дом №1, №3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="https://disk.yandex.ru/d/rmDDPRDw9isQLQ" class="btn btn-primary btn-block" target="_blank">Сведения о специально оборудованных учебных кабинетах, о приспособленных объектах для проведения практических занятий, задействованных в реализации образовательных программ</a>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о специально оборудованных учебных кабинетах </a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Адрес</th>
                    <th>Наименование специально оборудованных учебных кабинетов</th>
                    <th>Оснащенность специально оборудованных учебных кабинетов</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var uchCabinet in UchCabinets.OrderBy(p => p.PomeshenieName))
                {
                    <tr itemprop="purposePrac">
                        <td itemprop="addressPrac">@uchCabinet.Korpus.KorpusAddress.GetAddress</td>
                        <td itemprop="namePrac">
                            @uchCabinet.PomeshenieFullName
                            <br />
                            @if (uchCabinet.PomeshenieTypes != null)
                            {
                                foreach (var pomeshenieType in uchCabinet.PomeshenieTypes)
                                {
                                    <text>@pomeshenieType.PomeshenieType.PomeshenieTypeName</text><br />
                                }
                            }
                        </td>
                        <td itemprop="osnPrac">
                            <ol>
                                @foreach (var oborudovanie in uchCabinet.OborudovanieList)
                                {
                                    <li>
                                        @oborudovanie.OborudovanieName
                                    </li>
                                }
                            </ol>
                        </td>
                    </tr>
                }
                <tr itemprop="purposeCab">
                    <td itemprop="addressCab" colspan="4" class="text-center">-</td>
                    <td itemprop="nameCab" class="hidden">-</td>
                    <td itemprop="osnCab" class="hidden">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о приспособленных объектах для проведения практических занятий</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Адрес</th>
                    <th>Наименование приспособленных объектов для проведения практических занятий</th>
                    <th>Оснащенность приспособленных объектов для проведения практических занятий</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var objectForPractLessons in ObjectsForPractLessons.OrderBy(p => p.PomeshenieName))
                {
                    <tr itemprop="purposePrac">
                        <td itemprop="addressPrac">@objectForPractLessons.Korpus.KorpusAddress.GetAddress</td>
                        <td itemprop="namePrac">
                            @objectForPractLessons.PomeshenieFullName
                            <br />
                            @if (objectForPractLessons.PomeshenieTypes != null)
                            {
                                foreach (var pomeshenieType in objectForPractLessons.PomeshenieTypes)
                                {
                                    <text>@pomeshenieType.PomeshenieType.PomeshenieTypeName</text><br />
                                }
                            }
                        </td>
                        <td itemprop="osnPrac">
                            <ol>
                                @foreach (var oborudovanie in objectForPractLessons.OborudovanieList)
                                {
                                    <li>
                                        @oborudovanie.OborudovanieName
                                    </li>
                                }
                            </ol>
                        </td>
                    </tr>
                }
                <tr itemprop="purposePrac">
                    <td itemprop="addressPrac" colspan="4" class="text-center">-</td>
                    <td itemprop="namePrac" class="hidden">-</td>
                    <td itemprop="osnPrac" class="hidden">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии библиотек, объектов спорта, об условиях питания и охраны здоровья обучающихся</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div class="sp-body folded">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Вид помещения
                        </th>
                        <th>
                            Адрес места нахождения
                        </th>
                        <th>
                            Площадь, м.кв.
                        </th>
                        <th>
                            Количество мест
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in PurposeLibr)
                    {
                        <tr itemprop="@item.itemprop">
                            <td itemprop="objName">
                                @Html.DisplayFor(modelItem => item.VidPom)
                            </td>
                            <td itemprop="objAdress">
                                @Html.DisplayFor(modelItem => item.Adress)
                            </td>
                            <td itemprop="objSq">
                                @Html.DisplayFor(modelItem => item.Square)
                            </td>
                            <td itemprop="objCnt">
                                @Html.DisplayFor(modelItem => item.NumberPlaces)
                            </td>
                        </tr>
                    }
                    @*        Заглушки      *@
                    <tr itemprop="purposeLibr" class="hidden">
                        <td itemprop="objName">
                            -
                        </td>
                        <td itemprop="objAddress">
                            -
                        </td>
                        <td itemprop="objSq">
                            -
                        </td>
                        <td itemprop="objCnt">
                            -
                        </td>
                    </tr>
                    <tr itemprop="purposeSport" class="hidden">
                        <td itemprop="objName">
                            -
                        </td>
                        <td itemprop="objAddress">
                            -
                        </td>
                        <td itemprop="objSq">
                            -
                        </td>
                        <td itemprop="objCnt">
                            -
                        </td>
                    </tr>
                    <tr itemprop="meals" class="hidden">
                        <td itemprop="objName">
                            -
                        </td>
                        <td itemprop="objAddress">
                            -
                        </td>
                        <td itemprop="objSq">
                            -
                        </td>
                        <td itemprop="objCnt">
                            -
                        </td>
                    </tr>
                    <tr itemprop="health" class="hidden">
                        <td itemprop="objName">
                            -
                        </td>
                        <td itemprop="objAddress">
                            -
                        </td>
                        <td itemprop="objSq">
                            -
                        </td>
                        <td itemprop="objCnt">
                            -
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии средств обучения и воспитания</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="purposeFacil">
            Сведения представлены в подразделе "Сведения о приспособленных объектах для проведения практических занятий"
        </div>
    </div>
</div>



<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения об условиях охраны здоровья обучающихся</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="health">
            <p>Сведения об охране здоровья обучающихся: <a href="http://ачгаа.рф/sveden/objects/ohrana-zdorov-obuch">открыть</a></p>
        </div>
    </div>
</div>


<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Ссылка на копию документа, содержащего сведения об условиях питания и охраны здоровья обучающихся, в том числе инвалидов и лиц с ограниченными возможностями здоровья</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="mealsDocLink">
            <a href="http://ачгаа.рф/sveden/objects/meals">Открыть</a>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о наличии электронных образовательных и информационных ресурсах</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">

        <div itemprop="comNet" class="sp-body folded">

            <table itemprop="purposeEios" class="table table-hover">
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                <tr>                
                <tr>
                    <td>Наличие собственных электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisOwn"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="true">@NumEoisOwn</a></td>
                <tr>
                <tr>
                    <td>Наличие сторонних электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisSide"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="false">@NumEoisSide</a></td>
                <tr>
                <tr>
                    <td>Наличие базы данных электронного каталога</td>
                    <td itemprop="bdec"><a asp-controller="ElectronCatalogs" asp-action="Preview">@NumEc</a></td>
                <tr>
            </table>
        </div>                
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о доступе к электронной информационно-образовательной среде, информационным системам и информационно-телекоммуникационным сетям </br> и электронным ресурсам, к которым обеспечивается доступ обучающихся</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">

        <div itemprop="comNet" class="sp-body folded">

            <table itemprop="purposeEios" class="table table-hover">
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                <tr>
                <tr>
                    <td>Наличие в образовательной организации электронной информационно-образовательной среды</td>
                    <td itemprop="purposeEios">Да</td>
                <tr>
                <tr>
                    <td>Общее количество компьютеров с выходом в информационно-телекоммуникационную сеть «Интернет», к которым имеют доступ обучающиеся</td>
                    <td itemprop="purposeInternet">400</td>
                <tr>
                <tr>
                    <td>Общее количество ЭБС, к которым имеют доступ обучающиеся (собственных или на договорной основе)</td>
                    <td itemprop="purposeEbs"><a asp-controller="ElectronBiblSystems" asp-action="Preview">@NumEbs</a>, в том числе</br> @NumEbsSobstv - собственных,</br> @NumEbsDogovor - на договорной основе</td>
                <tr>
                <tr>
                    <td>Наличие собственных электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisOwn"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="true">@NumEoisOwn</a></td>
                <tr>
                <tr>
                    <td>Наличие сторонних электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisSide"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="false">@NumEoisSide</a></td>
                <tr>
                <tr>
                    <td>Наличие базы данных электронного каталога</td>
                    <td itemprop="bdec"><a asp-controller="ElectronCatalogs" asp-action="Preview">@NumEc</a></td>
                <tr>
            </table>
        </div>

        <div>
            <h4>Дополнительные сведения</h4>
            <ul>
                <li itemprop="comNetOvz">
                    Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям, приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья: специальные средства доступа отсутствуют.
                </li>
                <li itemprop="erList">
                    Перечень электронных образовательных ресурсов:
                    <a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="true">собственные</a>,
                    <a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="false">сторонние</a>
                </li>
                <li itemprop="erListOvz">Перечень электронных образовательных ресурсов, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья: электронные образовательные ресурсы, приспособленные для использования инвалидами и лицами с ограниченными возможностями здоровья отсутствуют.</li>
            </ul>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Приспособленность помещений, электронных ресурсов для использования инвалидами и лицами с ограниченными возможностями здоровья</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++;}
    <div class="well">
        <a asp-action="Ovz" target="_blank">Информация представлена в специальном подразделе "Доступная среда"</a>
    </div>
</div>