
@{
    ViewData["Title"] = "Доступная среда";
    int spoilerCounter = 1;
    List<PurposeLibr> PurposeLibr = (List<PurposeLibr>)ViewData["PurposeLibrs"];
}

<h2>Доступная среда</h2>

<span itemprop="mtoOvz">

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о специально оборудованных учебных кабинетах </a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="purposeCabOvz">

        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о приспособленных объектах для проведения практических занятий</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="purposePracOvz">

        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения о наличии приспособленных библиотек, специальных объектов спорта,<br />
    условиях питания и охраны здоровья обучающихся
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div>
            <a href="http://xn--80aaak3h.xn--p1ai/sveden/objects/ohrana-zdorov-obuch">Сведения об охране здоровья обучающихся с ограниченными возможностями здоровья и инвалидов</a>

            <hr />

            <div class="well">


                <div class="sp-body folded">

                    <table class="table" itemprop="purposeLibr">
                        <thead>
                            <tr>
                                <th>
                                    Вид помещения
                                </th>
                                <th>
                                    Адрес места нахождения
                                </th>
                                <th>
                                    Площадь, м.кв.
                                </th>
                                <th>
                                    Количество мест
                                </th>
                                <th>
                                    Приспособленность для использования инвалидами и лицами с ограниченными возможностями здоровья
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in PurposeLibr)
                            {
                                <tr itemprop="@item.itemprop">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VidPom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Adress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Square)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumberPlaces)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrisposoblOvz)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения о средствах обучения и воспитания,<br />
    приспособленных  для использования инвалидами<br />
    и лицами с ограниченными возможностями здоровья
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="purposeFacilOvz">
            <a href="http://xn--80aaak3h.xn--p1ai/wp-content/uploads/2019/04/SoglOSotrUFU.pdf">Сведения о наличии средств обучения и воспитания, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья</a>            
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения об обеспечении беспрепятственного доступа в здания образовательной организации<br />
    инвалидов и лиц с ограниченными возможностями здоровья
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="ovz">
            <div itemprop="dopSsylka1">
                <a href="http://xn--80aaak3h.xn--p1ai/sveden/objects/ovz">Сведения об обеспечении доступа в здания образовательной организации инвалидов и лиц с ограниченными возможностями здоровья</a>
            </div>            
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения о доступе к информационным системам и информационно-телекоммуникационным сетям,<br />
    приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="comNetOvz">

        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения об электронных образовательных ресурсах,<br />
    приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="erListOvz">

        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения о наличии специальных технических средств обучения<br />
    коллективного и индивидуального пользования<br />
    для инвалидов и лиц с ограниченными возможностями здоровья
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="techOvz">

        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения о наличии условий для беспрепятственного доступа в общежитии, интернате
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="hostelInfoOvz">
            <p>В общежитии № 1 студенческого городка Азово-Черноморского инженерного института ФГБОУ ВО Донской ГАУ расположенного по адресу: 347740 Ростовская область г. Зерноград ул. Советская 19 предусмотрен беспрепятственный доступ для инвалидов и лиц с ограниченными возможностями здоровья.</p>
            <p>Для инвалидов и лиц с ОВЗ в общежитии оборудован вход и установлена кнопка вызова.</p>
        </div>
    </div>
</div>

<a href="#spoiler-@spoilerCounter" data-toggle="collapse" class="btn btn-primary btn-block">
    Сведения о количестве жилых помещений в общежитии, интернате,<br />
    приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья
</a>
<div class="collapse" id="spoiler-@spoilerCounter">
    @{spoilerCounter++; }
    <div class="well">
        <div itemprop="hostelNumOvz">
            <p>В общежитии № 1 студенческого городка Азово-Черноморского инженерного института ФГБОУ ВО Донской ГАУ расположенного по адресу: 347740 Ростовская область г. Зерноград ул. Советская 19 предусмотрено одно жилое помещение для использования инвалидами и лицами с ограниченными возможностями здоровья.</p>
            <p>Для инвалидов и лиц с ОВЗ в общежитии на первом этаже оборудована жилая комната, гладильная комната и санитарный узел, который включает в себя: умывальник, туалет и душевую. Санитарный узел оснащен тревожной кнопкой вызова.</p>
        </div>
    </div>
</div>

</span>