<h1>Структура и органы управления образовательной организацией</h1>
@{ 
    List<StructSubvision> structSubvisions = (List<StructSubvision>)ViewData["StructSubvisions"];
    List<StructSubvisionType> structSubvisionTypes = (List<StructSubvisionType>)ViewData["StructSubvisionTypes"];
}
<table itemprop="structOrgUprav" class="table">
    <thead>
        <tr>
            <th>Наименование органа управления / структурного подразделения</th>
            <th>ФИО руководителя структурного подразделения</th>
            <th>Должность руководителя структурного подразделения</th>
            <th>Адрес местонахождения структурного подразделения</th>
            <th>Адрес официального сайта структурного подразделения</th>
            <th>Адреса электронной почты структурного подразделения</th>
            <th>Положение об органе управления / о структурном подразделении</th>
        </tr>        
    </thead>
        <tbody>
            @foreach (var structSubvisionType in structSubvisionTypes)
             {
                <tr>
                    <td colspan="7" class="text-center well">
                        <strong>
                            @structSubvisionType.StructSubvisionTypeName
                        </strong>
                    </td>
                </tr>
                @foreach (var structSubvision in structSubvisions
                    .Where(a => a.StructSubvisionTypeId == structSubvisionType.StructSubvisionTypeId)
                    .OrderBy(a=>a.StructSubvisionName).ThenBy(a=>a.StructSubvisionPostChief.PostName))
                 {
                     <tr itemprop="name">
                        <td itemprop="name">
                            @structSubvision.StructSubvisionName
                        </td>
                        <td itemprop="fio">                            
                            @if (structSubvision.StructSubvisionAccountChiefId == null)
                            {
                                @Html.DisplayFor(modelItem => structSubvision.StructSubvisionFioChief)
                            }
                            else
                            {
                                <a asp-controller="UserProfile" asp-action="Index" asp-route-id="@structSubvision.StructSubvisionAccountChiefId">@structSubvision.StructSubvisionFioChief</a>
                            }
                        </td>
                        <td itemprop="post">
                            @structSubvision.StructSubvisionPostChief.PostName
                        </td>
                        <td itemprop="addressStr">
                            @structSubvision.StructSubvisionAdress?.GetAddress
                        </td>
                        <td itemprop="site">
                            @if(string.IsNullOrWhiteSpace(structSubvision.StructSubvisionSite))
                            {
                                <text>нет</text>
                            }
                            else if(structSubvision.StructSubvisionSite.Contains("http"))
                            {
                                <a href="@structSubvision.StructSubvisionSite" target="_blank">@structSubvision.StructSubvisionSite</a>
                            }
                            else
                            {
                                @structSubvision.StructSubvisionSite
                            }                      
                            
                        </td>
                        <td itemprop="email">
                            @structSubvision.StructSubvisionEmail?.EmailValue
                        </td>
                        <td itemprop="divisionClauseDocLink">
                            @if(structSubvision.StructStandingOrderId!=null)
                            { 
                                <a asp-controller="Files" asp-action="GetFile" asp-route-id="@structSubvision.StructStandingOrderId">Положение</a>                                
                            }
                            else
                            {
                                <text>Нет</text>
                            }
                        </td>
                     </tr>
                }
             }
        </tbody>
</table>