
<h1>Вакантные места для приёма (перевода)</h1>
@{
    var vacantist = (IEnumerable<Vacant>)ViewData["t23vacant"];
}
<table class="table">
    <thead>
        <tr>
            <th align=center>Код, шифр группы научных специальностей</th>
            <th align=center>Наименование профессии, специальности, направления подготовки, наименование группы научных специальностей</th>
            <th align=center>Уровень образования</th>
            <th align=center>Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
            <th align=center>Курс</th>
            <th align=center>Форма обучения</th>
            <th align=center>Количество вакантных мест для приема (перевода) на места, финансируемые за счет бюджетных ассигнований федерального бюджета</th>
            <th align=center>Количество вакантных мест для приема (перевода) на места, финансируемые за счет бюджетов субъектов Российской Федерации</th>
            <th align=center>Количество вакантных мест для приема (перевода) на места, финансируемые за счет местных бюджетов</th>
            <th align=center>Количество вакантных мест для приема (перевода) на места, финансируемые за счет средств физических и (или) юридических лиц</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align=center><strong>1</strong></td>
            <td align=center><strong>2</strong></td>
            <td align=center><strong>3</strong></td>
            <td align=center><strong>4</strong></td>
            <td align=center><strong>5</strong></td>
            <td align=center><strong>6</strong></td>
            <td align=center><strong>7</strong></td>
            <td align=center><strong>8</strong></td>
            <td align=center><strong>9</strong></td>
            <td align=center><strong>10</strong></td>
        </tr>

        @foreach (var item in vacantist.OrderBy(v=>v.EduNapravl.EduNapravlCode))
        {
            <tr itemprop="vacant">
                <td align=center itemprop="eduCode">@item.EduNapravl.EduNapravlCode</td>
                <td align=center itemprop="eduName">@item.EduNapravl.EduNapravlName</td>
                <td align=center itemprop="eduLevel">@item.EduNapravl.EduUgs.EduLevel.EduLevelName</td>
                <td align=center itemprop="eduProf">@(item.EduProfile?.EduProfileName ?? "-")</td>
                <td align=center itemprop="eduCourse">@item.EduKurs.EduKursNumber</td>
                <td align=center itemprop="eduForm">@item.EduForm.EduFormName</td>
                <td align=center itemprop="numberBFVacant">@item.NumberBFVacant</td>
                <td align=center itemprop="numberBRVacant">@item.NumberBRVacant</td>
                <td align=center itemprop="numberBMVacant">@item.NumberBMVacant</td>
                <td align=center itemprop="numberPVacant">@item.NumberPVacant</td>
            </tr>
        }

        @*<tr itemprop="profesVacant" class="hide">
            <td class="hide">Не реализуется</td>
        </tr>*@

    </tbody>
</table> 